xml/XML/018-XMLSchema.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.w3schools.com" xmlns="http://www.w3schools.com" elementFormDefault="qualified">
<xs:element name="PlayersProfile">
	<xs:element name="Player">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Name" type="xs:string"/>
				<xs:element name="Sports" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>	
</xs:element>
