xml/XMLSchema/Sample XSD Files/Company.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://schemas.dendrite.com/IS/1.0.0/Company"
	 targetNamespace = "http://schemas.dendrite.com/IS/1.0.0/Company"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 xmlns:xtd = "http://schemas.dendrite.com/IS/1.0.0/XTDataTypes"
	 elementFormDefault = "unqualified">
	<xsd:import namespace = "http://schemas.dendrite.com/IS/1.0.0/XTDataTypes" schemaLocation = "XTDataTypes.xsd"/>
	<xsd:element name = "Company" type = "Company_Type"/>
	<xsd:complexType name = "Company_Type">
		<xsd:all>
			<xsd:element name = "Company_ID" type = "xtd:Number16"/>
			<xsd:element name = "Company_Value" type = "xtd:String100" minOccurs = "0"/>
			<xsd:element name = "Company_Description" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Abbreviated_Description" type = "xtd:String100" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "External_ID_1" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
		</xsd:all>
		<xsd:attribute name = "operation" default = "NONE" type = "xtd:operationType"/>
		<xsd:attribute name = "objectId" type = "xsd:string"/>
		<xsd:attribute name = "type_name" fixed = "Company" type = "xsd:string"/>
	</xsd:complexType>
</xsd:schema>
