xml/XMLSchema/Sample XSD Files/Company_Product_Rating.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://schemas.dendrite.com/IS/1.0.0/Company_Product_Rating"
	 targetNamespace = "http://schemas.dendrite.com/IS/1.0.0/Company_Product_Rating"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 xmlns:xtd = "http://schemas.dendrite.com/IS/1.0.0/XTDataTypes"
	 elementFormDefault = "unqualified">
  <xsd:import namespace = "http://schemas.dendrite.com/IS/1.0.0/XTDataTypes" schemaLocation = "XTDataTypes.xsd"/>
  <!--
		W3C XML Schema Generated using Xtelligent Schema generator.
		Date: Wed May 5 10:09:41 PDT 2004-->

  <xsd:element name = "Company_Product_Rating" type = "Company_Product_Rating_Type"/>
  <xsd:complexType name = "Company_Product_Rating_Type">
    <xsd:all>
      <xsd:element name = "Company_Product_Rating_ID" type = "xtd:Number16"/>
      <xsd:element name = "Customer_ID" type = "xtd:Number16" minOccurs = "0"/>
      <xsd:element name = "Product_ID" type = "xtd:Number16" minOccurs = "0"/>
      <xsd:element name = "Measure_1" type = "xtd:String4" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Measure_2" type = "xtd:String4" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Measure_3" type = "xtd:String4" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Last_Update" type = "xtd:dateTimeStringType" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "External_ID_1" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
    </xsd:all>
    <xsd:attribute name = "operation" default = "NONE" type = "xtd:operationType"/>
    <xsd:attribute name = "objectId" type = "xsd:string"/>
    <xsd:attribute name = "type_name" fixed = "Company_Product_Rating" type = "xsd:string"/>
  </xsd:complexType>
  <xsd:complexType name = "Company_Product_Rating_Insert_Type">
    <xsd:complexContent>
      <xsd:restriction base = "Company_Product_Rating_Type">
        <xsd:all>
          <xsd:element name = "Company_Product_Rating_ID" type = "xtd:Number16"/>
          <xsd:element name = "Customer_ID" type = "xtd:Number16"/>
          <xsd:element name = "Product_ID" type = "xtd:Number16"/>
          <xsd:element name = "Measure_1" type = "xtd:String4" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Measure_2" type = "xtd:String4" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Measure_3" type = "xtd:String4" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Last_Update" type = "xtd:dateTimeStringType" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "External_ID_1" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
        </xsd:all>
        <xsd:attribute name = "operation" default = "NONE" type = "xtd:operationType"/>
        <xsd:attribute name = "objectId" type = "xsd:string"/>
        <xsd:attribute name = "type_name" fixed = "Company_Product_Rating" type = "xsd:string"/>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>
