xml/XMLSchema/Sample XSD Files/Customer_Rating.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://schemas.dendrite.com/IS/1.0.0/Customer_Rating"
	 targetNamespace = "http://schemas.dendrite.com/IS/1.0.0/Customer_Rating"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 xmlns:xtd = "http://schemas.dendrite.com/IS/1.0.0/XTDataTypes"
	 elementFormDefault = "unqualified">
	<xsd:import namespace = "http://schemas.dendrite.com/IS/1.0.0/XTDataTypes" schemaLocation = "XTDataTypes.xsd"/>
	<!--
		W3C XML Schema Generated using Xtelligent Schema generator.
		Date: Wed May 5 10:10:59 PDT 2004-->

	<xsd:element name = "Customer_Rating" type = "Customer_Rating_Type"/>
	<xsd:complexType name = "Customer_Rating_Type">
		<xsd:all>
			<xsd:element name = "Customer_Rating_ID"  type = "xtd:Number16"/>
			<xsd:element name = "Customer_ID"  type = "xtd:Number16" minOccurs = "0"/>
			<xsd:element name = "Sales_Area_ID"  type = "xtd:Number16" minOccurs = "0"/>
			<xsd:element name = "Fixed_Value"  type = "xtd:Decimal5.2" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Contact_Type" type = "xtd:Contact_Type_Code" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Route"  type = "xtd:Number9" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Field_Rating" type = "xtd:Field_Rating_Code" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Home_Office_Rating" type = "xtd:Home_Office_Rating_Code" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Call_Goal"  type = "xtd:Number9" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Minor_Specialty" type = "xtd:Specialty_Code" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "External_ID_1"  type = "xtd:String200" nillable = "true" minOccurs = "0"/>
		</xsd:all>
		<xsd:attribute name = "operation" default = "NONE" type = "xtd:operationType"/>
		<xsd:attribute name = "objectId" type = "xsd:string"/>
		<xsd:attribute name = "type_name" fixed = "Customer_Rating" type = "xsd:string"/>
	</xsd:complexType>
	<xsd:complexType name = "Customer_Rating_Insert_Type">
		<xsd:complexContent>
			<xsd:restriction base = "Customer_Rating_Type">
				<xsd:all>
					<xsd:element name = "Customer_Rating_ID"  type = "xtd:Number16"/>
					<xsd:element name = "Customer_ID"  type = "xtd:Number16"/>
					<xsd:element name = "Sales_Area_ID"  type = "xtd:Number16"/>
					<xsd:element name = "Fixed_Value"  type = "xtd:Decimal5.2" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "Contact_Type" type = "xtd:Contact_Type_Code" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "Route"  type = "xtd:Number9" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "Field_Rating" type = "xtd:Field_Rating_Code" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "Home_Office_Rating" type = "xtd:Home_Office_Rating_Code" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "Call_Goal"  type = "xtd:Number9" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "Minor_Specialty" type = "xtd:Specialty_Code" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "External_ID_1"  type = "xtd:String200" nillable = "true" minOccurs = "0"/>
				</xsd:all>
				<xsd:attribute name = "operation" default = "NONE" type = "xtd:operationType"/>
				<xsd:attribute name = "objectId" type = "xsd:string"/>
				<xsd:attribute name = "type_name" fixed = "Customer_Rating" type = "xsd:string"/>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>
