xml/XMLSchema/Sample XSD Files/Customer_Affiliation.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://schemas.dendrite.com/IS/1.0.0/Customer_Affiliation"
	 targetNamespace = "http://schemas.dendrite.com/IS/1.0.0/Customer_Affiliation"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 xmlns:xtd = "http://schemas.dendrite.com/IS/1.0.0/XTDataTypes"
	 elementFormDefault = "unqualified">
  <xsd:import namespace = "http://schemas.dendrite.com/IS/1.0.0/XTDataTypes" schemaLocation = "XTDataTypes.xsd"/>
  <xsd:element name = "Customer_Affiliation" type = "Customer_Affiliation_Type"/>
  <xsd:complexType name="Affiliation_Attribute_Type">
    <xsd:all>
      <xsd:element name = "Affiliation_Attribute_ID" type = "xtd:Number16"/>
      <xsd:element name = "Attribute" type = "xtd:Cust_Address_type_Code" minOccurs = "0"/>
      <xsd:element name = "External_ID_1" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
    </xsd:all>
    <xsd:attribute name = "operation" default = "NONE" type = "xtd:operationType"/>
    <xsd:attribute name = "objectId" type = "xsd:string"/>
    <xsd:attribute name = "type_name" fixed = "Affiliation_Attribute" type = "xsd:string"/>
  </xsd:complexType>
  <xsd:complexType name="Affiliation_Attribute_Insert_Type">
    <xsd:complexContent>
      <xsd:restriction base = "Affiliation_Attribute_Type">
        <xsd:all>
          <xsd:element name = "Affiliation_Attribute_ID" type = "xtd:Number16"/>
          <xsd:element name = "Attribute" type = "xtd:Cust_Address_type_Code"/>
          <xsd:element name = "External_ID_1" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
        </xsd:all>
        <xsd:attribute name = "operation" default = "NONE" type = "xtd:operationType"/>
        <xsd:attribute name = "objectId" type = "xsd:string"/>
        <xsd:attribute name = "type_name" fixed = "Affiliation_Attribute" type = "xsd:string"/>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Affiliation_Role_Type">
    <xsd:all>
      <xsd:element name = "Affiliation_Role_ID" type = "xtd:Number16"/>
      <xsd:element name = "Role" type = "xtd:Affiliation_Role_Code" minOccurs = "0"/>
      <xsd:element name = "Role_Attribute" type = "xtd:Role_Attribute_Code" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "External_ID_1" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
    </xsd:all>
    <xsd:attribute name = "operation" default = "NONE" type = "xtd:operationType"/>
    <xsd:attribute name = "objectId" type = "xsd:string"/>
    <xsd:attribute name = "type_name" fixed = "Affiliation_Role" type = "xsd:string"/>
  </xsd:complexType>
  <xsd:complexType name="Affiliation_Role_Insert_Type">
    <xsd:complexContent>
      <xsd:restriction base = "Affiliation_Role_Type">
        <xsd:all>
          <xsd:element name = "Affiliation_Role_ID" type = "xtd:Number16"/>
          <xsd:element name = "Role" type = "xtd:Affiliation_Role_Code"/>
          <xsd:element name = "Role_Attribute" type = "xtd:Role_Attribute_Code" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "External_ID_1" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
        </xsd:all>
        <xsd:attribute name = "operation" default = "NONE" type = "xtd:operationType"/>
        <xsd:attribute name = "objectId" type = "xsd:string"/>
        <xsd:attribute name = "type_name" fixed = "Affiliation_Role" type = "xsd:string"/>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name = "Customer_Affiliation_Type">
    <xsd:all>
      <xsd:element name = "Customer_Affiliation_ID" type = "xtd:Number16"/>
      <xsd:element name = "Parent_Customer_ID" type = "xtd:Number16" minOccurs = "0"/>
      <xsd:element name = "Parent_Customer_Type" type = "xtd:Parent_Customer_Type_Code" minOccurs = "0"/>
      <xsd:element name = "Child_Customer_ID" type = "xtd:Number16" minOccurs = "0"/>
      <xsd:element name = "Affiliation_Type" type = "xtd:Affiliation_Type_Code" minOccurs = "0"/>
      <xsd:element name = "Address_ID" type = "xtd:Number16" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Affiliation_Name" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Validation_Status" type = "xtd:Validation_Status_Code" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Validation_Change_Reason" type ="xtd:Validation_Change_Reason" nillable ="true" minOccurs ="0"/>
      <xsd:element name = "Activity_Status" type = "xtd:Activity_Status_Code" minOccurs = "0"/>
      <xsd:element name = "Effective_Date" type = "xtd:dateTimeStringType" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "End_Date" type = "xtd:dateTimeStringType" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "External_ID_1" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Data_Source" type = "xtd:Data_Source_Code" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Child_Customer_Type" type = "xtd:Child_Customer_Type_Code" minOccurs = "0"/>
      <xsd:element name = "Affiliation_Attribute_List" minOccurs = "0">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name = "Affiliation_Attribute" type="Affiliation_Attribute_Type" maxOccurs = "unbounded" />
          </xsd:sequence>
          <xsd:attribute name = "type_name" fixed = "Affiliation_Attribute_List" type = "xsd:string"/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name = "Affiliation_Role_List" minOccurs = "0">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name = "Affiliation_Role" type ="Affiliation_Role_Type" maxOccurs = "unbounded" />
          </xsd:sequence>
          <xsd:attribute name = "type_name" fixed = "Affiliation_Role_List" type = "xsd:string"/>
        </xsd:complexType>
      </xsd:element>
    </xsd:all>
    <xsd:attribute name = "operation" default = "NONE" type = "xtd:operationType"/>
    <xsd:attribute name = "objectId" type = "xsd:string"/>
    <xsd:attribute name = "type_name" fixed = "Customer_Affiliation" type = "xsd:string"/>
  </xsd:complexType>
  <xsd:complexType name = "Customer_Affiliation_Insert_Type">
    <xsd:complexContent>
      <xsd:restriction base = "Customer_Affiliation_Type">
        <xsd:all>
          <xsd:element name = "Customer_Affiliation_ID" type = "xtd:Number16"/>
          <xsd:element name = "Parent_Customer_ID" type = "xtd:Number16"/>
          <xsd:element name = "Parent_Customer_Type" type = "xtd:Parent_Customer_Type_Code"/>
          <xsd:element name = "Child_Customer_ID" type = "xtd:Number16"/>
          <xsd:element name = "Affiliation_Type" type = "xtd:Affiliation_Type_Code"/>
          <xsd:element name = "Address_ID" type = "xtd:Number16" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Affiliation_Name" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Validation_Status" type = "xtd:Validation_Status_Code" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Validation_Change_Reason" type ="xtd:Validation_Change_Reason" nillable ="true" minOccurs ="0"/>
          <xsd:element name = "Activity_Status" type = "xtd:Activity_Status_Code"/>
          <xsd:element name = "Effective_Date" type = "xtd:dateTimeStringType" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "End_Date" type = "xtd:dateTimeStringType" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "External_ID_1" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Data_Source" type = "xtd:Data_Source_Code" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Child_Customer_Type" type = "xtd:Child_Customer_Type_Code"/>
          <xsd:element name = "Affiliation_Attribute_List" minOccurs = "0">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name = "Affiliation_Attribute" type="Affiliation_Attribute_Type" maxOccurs = "unbounded" />
              </xsd:sequence>
              <xsd:attribute name = "type_name" fixed = "Affiliation_Attribute_List" type = "xsd:string"/>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name = "Affiliation_Role_List" minOccurs = "0">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name = "Affiliation_Role" type ="Affiliation_Role_Type" maxOccurs = "unbounded" />
              </xsd:sequence>
              <xsd:attribute name = "type_name" fixed = "Affiliation_Role_List" type = "xsd:string"/>
            </xsd:complexType>
          </xsd:element>
        </xsd:all>
        <xsd:attribute name = "operation" default = "NONE" type = "xtd:operationType"/>
        <xsd:attribute name = "objectId" type = "xsd:string"/>
        <xsd:attribute name = "type_name" fixed = "Customer_Affiliation" type = "xsd:string"/>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <!--
		W3C XML Schema Generated using Xtelligent Schema generator.
		Date: Thu May 6 18:32:08 PDT 2004-->

</xsd:schema>