xml/XMLSchema/Sample XSD Files/Employee_Time_Off.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://schemas.dendrite.com/IS/1.0.0/Employee_Time_Off"
	 targetNamespace = "http://schemas.dendrite.com/IS/1.0.0/Employee_Time_Off"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 xmlns:xtd = "http://schemas.dendrite.com/IS/1.0.0/XTDataTypes">
  <xsd:import namespace = "http://schemas.dendrite.com/IS/1.0.0/XTDataTypes" schemaLocation = "XTDataTypes.xsd"/>
  <!--
		W3C XML Schema Generated using Xtelligent Schema generator.
		Date: Tue Apr 27 10:07:31 PDT 2004-->

  <xsd:element name = "Employee_Time_Off" type = "Employee_Time_Off_Type"/>
  <xsd:complexType name = "Employee_Time_Off_Type">
    <xsd:all>
      <xsd:element name = "Employee_Time_Off_ID"  type = "xtd:Number16"/>
      <xsd:element name = "Employee_ID"  type = "xtd:Number16" minOccurs = "0"/>
      <xsd:element name = "Time_Off_Reason"  type = "xtd:String4" minOccurs = "0"/>
      <xsd:element name = "Start_Time" type = "xtd:dateTimeStringType" minOccurs = "0"/>
      <xsd:element name = "End_Time" type = "xtd:dateTimeStringType" minOccurs = "0"/>
      <xsd:element name = "External_ID_1"  type = "xtd:String200" nillable = "true" minOccurs = "0"/>
    </xsd:all>
    <xsd:attribute name = "operation" default = "NONE" type = "xtd:operationType"/>
    <xsd:attribute name = "objectId" type = "xsd:string"/>
    <xsd:attribute name = "type_name" fixed = "Employee_Time_Off" type = "xsd:string"/>
  </xsd:complexType>
  <xsd:complexType name = "Employee_Time_Off_Insert_Type">
    <xsd:complexContent>
      <xsd:restriction base = "Employee_Time_Off_Type">
        <xsd:all>
          <xsd:element name = "Employee_Time_Off_ID"  type = "xtd:Number16"/>
          <xsd:element name = "Employee_ID"  type = "xtd:Number16"/>
          <xsd:element name = "Time_Off_Reason"  type = "xtd:String4"/>
          <xsd:element name = "Start_Time" type = "xtd:dateTimeStringType"/>
          <xsd:element name = "End_Time" type = "xtd:dateTimeStringType"/>
          <xsd:element name = "External_ID_1"  type = "xtd:String200" nillable = "true" minOccurs = "0"/>
        </xsd:all>
        <xsd:attribute name = "operation" default = "NONE" type = "xtd:operationType"/>
        <xsd:attribute name = "objectId" type = "xsd:string"/>
        <xsd:attribute name = "type_name" fixed = "Employee_Time_Off" type = "xsd:string"/>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>
