xml/XMLSchema/Sample XSD Files/Employee.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://schemas.dendrite.com/IS/1.0.0/Employee"
	 targetNamespace = "http://schemas.dendrite.com/IS/1.0.0/Employee"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 xmlns:xtd = "http://schemas.dendrite.com/IS/1.0.0/XTDataTypes"
	 elementFormDefault = "unqualified">
  <xsd:import namespace = "http://schemas.dendrite.com/IS/1.0.0/XTDataTypes" schemaLocation = "XTDataTypes.xsd"/>
  <xsd:element name = "Employee" type = "Employee_Type"/>
  <xsd:complexType name ="Employee_Role_Type">
    <xsd:all>
      <xsd:element name = "Employee_Role_ID" type = "xtd:Number16"/>
      <xsd:element name = "Role" type = "xtd:Empl_Role_Code" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Title" type = "xtd:Empl_Title_Code" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Activity_Status" type = "xtd:Activity_Status_Code" minOccurs = "0"/>
      <xsd:element name = "Effective_Date" type = "xtd:dateTimeStringType" minOccurs = "0"/>
      <xsd:element name = "End_Date" type = "xtd:dateTimeStringType" minOccurs = "0"/>
      <xsd:element name = "External_ID_1" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
    </xsd:all>
    <xsd:attribute name = "operation" default = "NONE" type = "xtd:operationType"/>
    <xsd:attribute name = "objectId" type = "xsd:string"/>
    <xsd:attribute name = "type_name" fixed = "Employee_Role" type = "xsd:string"/>
  </xsd:complexType>
  <xsd:complexType name ="Employee_Role_Insert_Type">
    <xsd:complexContent>
      <xsd:restriction base="Employee_Role_Type">
        <xsd:all>
          <xsd:element name = "Employee_Role_ID" type = "xtd:Number16"/>
          <xsd:element name = "Role" type = "xtd:Empl_Role_Code" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Title" type = "xtd:Empl_Title_Code" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Activity_Status" type = "xtd:Activity_Status_Code"/>
          <xsd:element name = "Effective_Date" type = "xtd:dateTimeStringType"/>
          <xsd:element name = "End_Date" type = "xtd:dateTimeStringType"/>
          <xsd:element name = "External_ID_1" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
        </xsd:all>
        <xsd:attribute name = "operation" default = "NONE" type = "xtd:operationType"/>
        <xsd:attribute name = "objectId" type = "xsd:string"/>
        <xsd:attribute name = "type_name" fixed = "Employee_Role" type = "xsd:string"/>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name ="Employee_Address_Type">
    <xsd:all>
      <xsd:element name = "Employee_Address_ID" type = "xtd:Number16"/>
      <xsd:element name = "Address_Type" type = "xtd:Empl_Addr_Type_Code" minOccurs = "0"/>
      <xsd:element name = "Address_Line1" type = "xtd:String200" minOccurs = "0"/>
      <xsd:element name = "Address_Line2" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Address_Line3" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "City" type = "xtd:String200" minOccurs = "0"/>
      <xsd:element name = "Region" type = "xtd:Region_Code" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Postal_Area" type = "xtd:String100" minOccurs = "0"/>
      <xsd:element name = "Postal_Area_Extension" type = "xtd:String100" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Country" type = "xtd:Country_Code" minOccurs = "0"/>
      <xsd:element name = "Activity_Status" type = "xtd:Activity_Status_Code" minOccurs = "0"/>
      <xsd:element name = "Effective_Date" type = "xtd:dateTimeStringType" minOccurs = "0"/>
      <xsd:element name = "End_Date" type = "xtd:dateTimeStringType" minOccurs = "0"/>
      <xsd:element name = "External_ID_1" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
    </xsd:all>
    <xsd:attribute name = "operation" default = "NONE" type = "xtd:operationType"/>
    <xsd:attribute name = "objectId" type = "xsd:string"/>
    <xsd:attribute name = "type_name" fixed = "Employee_Address" type = "xsd:string"/>
  </xsd:complexType>
  <xsd:complexType name ="Employee_Address_Insert_Type">
    <xsd:complexContent>
      <xsd:restriction base="Employee_Address_Type">
        <xsd:all>
          <xsd:element name = "Employee_Address_ID" type = "xtd:Number16"/>
          <xsd:element name = "Address_Type" type = "xtd:Empl_Addr_Type_Code"/>
          <xsd:element name = "Address_Line1" type = "xtd:String200"/>
          <xsd:element name = "Address_Line2" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Address_Line3" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "City" type = "xtd:String200"/>
          <xsd:element name = "Region" type = "xtd:Region_Code" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Postal_Area" type = "xtd:String100"/>
          <xsd:element name = "Postal_Area_Extension" type = "xtd:String100" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Country" type = "xtd:Country_Code"/>
          <xsd:element name = "Activity_Status" type = "xtd:Activity_Status_Code"/>
          <xsd:element name = "Effective_Date" type = "xtd:dateTimeStringType"/>
          <xsd:element name = "End_Date" type = "xtd:dateTimeStringType"/>
          <xsd:element name = "External_ID_1" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
        </xsd:all>
        <xsd:attribute name = "operation" default = "NONE" type = "xtd:operationType"/>
        <xsd:attribute name = "objectId" type = "xsd:string"/>
        <xsd:attribute name = "type_name" fixed = "Employee_Address" type = "xsd:string"/>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name ="Employee_Status_Type">
    <xsd:all>
      <xsd:element name = "Employee_Status_ID" type = "xtd:Number16"/>
      <xsd:element name = "Status_Type" type = "xtd:Empl_Status_Type_Code" minOccurs = "0"/>
      <xsd:element name = "Status" type = "xtd:Empl_Status_Code" minOccurs = "0"/>
      <xsd:element name = "Status_Reason" type = "xtd:Empl_Status_Reason_Code" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Activity_Status" type = "xtd:Activity_Status_Code" minOccurs = "0"/>
      <xsd:element name = "Effective_Date" type = "xtd:dateTimeStringType" minOccurs = "0"/>
      <xsd:element name = "End_Date" type = "xtd:dateTimeStringType" minOccurs = "0"/>
      <xsd:element name = "External_ID_1" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
    </xsd:all>
    <xsd:attribute name = "operation" default = "NONE" type = "xtd:operationType"/>
    <xsd:attribute name = "objectId" type = "xsd:string"/>
    <xsd:attribute name = "type_name" fixed = "Employee_Status" type = "xsd:string"/>
  </xsd:complexType>
  <xsd:complexType name ="Employee_Status_Insert_Type">
    <xsd:complexContent>
      <xsd:restriction base="Employee_Status_Type">
        <xsd:all>
          <xsd:element name = "Employee_Status_ID" type = "xtd:Number16"/>
          <xsd:element name = "Status_Type" type = "xtd:Empl_Status_Type_Code"/>
          <xsd:element name = "Status" type = "xtd:Empl_Status_Code"/>
          <xsd:element name = "Status_Reason" type = "xtd:Empl_Status_Reason_Code" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Activity_Status" type = "xtd:Activity_Status_Code"/>
          <xsd:element name = "Effective_Date" type = "xtd:dateTimeStringType"/>
          <xsd:element name = "End_Date" type = "xtd:dateTimeStringType"/>
          <xsd:element name = "External_ID_1" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
        </xsd:all>
        <xsd:attribute name = "operation" default = "NONE" type = "xtd:operationType"/>
        <xsd:attribute name = "objectId" type = "xsd:string"/>
        <xsd:attribute name = "type_name" fixed = "Employee_Status" type = "xsd:string"/>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name ="Employee_Communication_Type">
    <xsd:all>
      <xsd:element name = "Employee_Communication_ID" type = "xtd:Number16"/>
      <xsd:element name = "Communication_Type" type = "xtd:Empl_Comm_Type_Code" minOccurs = "0"/>
      <xsd:element name = "Communication_Value1" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Communication_Value2" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Activity_Status" type = "xtd:Activity_Status_Code" minOccurs = "0"/>
      <xsd:element name = "Effective_Date" type = "xtd:dateTimeStringType" minOccurs = "0"/>
      <xsd:element name = "End_Date" type = "xtd:dateTimeStringType" minOccurs = "0"/>
      <xsd:element name = "External_ID_1" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
    </xsd:all>
    <xsd:attribute name = "operation" default = "NONE" type = "xtd:operationType"/>
    <xsd:attribute name = "objectId" type = "xsd:string"/>
    <xsd:attribute name = "type_name" fixed = "Employee_Communication" type = "xsd:string"/>
  </xsd:complexType>
  <xsd:complexType name ="Employee_Communication_Insert_Type">
    <xsd:complexContent>
      <xsd:restriction base="Employee_Communication_Type">
        <xsd:all>
          <xsd:element name = "Employee_Communication_ID" type = "xtd:Number16"/>
          <xsd:element name = "Communication_Type" type = "xtd:Empl_Comm_Type_Code"/>
          <xsd:element name = "Communication_Value1" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Communication_Value2" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Activity_Status" type = "xtd:Activity_Status_Code"/>
          <xsd:element name = "Effective_Date" type = "xtd:dateTimeStringType"/>
          <xsd:element name = "End_Date" type = "xtd:dateTimeStringType"/>
          <xsd:element name = "External_ID_1" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
        </xsd:all>
        <xsd:attribute name = "operation" default = "NONE" type = "xtd:operationType"/>
        <xsd:attribute name = "objectId" type = "xsd:string"/>
        <xsd:attribute name = "type_name" fixed = "Employee_Communication" type = "xsd:string"/>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name = "Employee_Type">
    <xsd:all>
      <xsd:element name = "Employee_ID" type = "xtd:Number16"/>
      <xsd:element name = "Employee_Value" type = "xtd:String200" minOccurs = "0"/>
      <xsd:element name = "First_Name" type = "xtd:String200" minOccurs = "0"/>
      <xsd:element name = "Middle_Name" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Last_Name" type = "xtd:String200" minOccurs = "0"/>
      <xsd:element name = "Second_Last_Name" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Employee_Type" type = "xtd:Empl_Type_Code" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Hire_Date" type = "xtd:dateTimeStringType" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "First_Hire_Date" type = "xtd:dateTimeStringType" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Separation_Date" type = "xtd:dateTimeStringType" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Gender" type = "xtd:Gender_Code" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Company_ID" type = "xtd:Number16" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Status_Reason" type = "xtd:Empl_Status_Reason_Code" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Activity_Status" type = "xtd:Activity_Status_Code" minOccurs = "0"/>
      <xsd:element name = "Effective_Date" type = "xtd:dateTimeStringType" minOccurs = "0"/>
      <xsd:element name = "End_Date" type = "xtd:dateTimeStringType" minOccurs = "0"/>
      <xsd:element name = "Employee_Manager_ID" type = "xtd:Number16" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "External_ID_1" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Email_Address" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Employee_Role_List" minOccurs = "0">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name = "Employee_Role" type ="Employee_Role_Type" maxOccurs = "unbounded"/>
          </xsd:sequence>
          <xsd:attribute name = "type_name" fixed = "Employee_Role_List" type = "xsd:string"/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name = "Employee_Address_List" minOccurs = "0">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name = "Employee_Address" type ="Employee_Address_Type" maxOccurs = "unbounded"/>
          </xsd:sequence>
          <xsd:attribute name = "type_name" fixed = "Employee_Address_List" type = "xsd:string"/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name = "Employee_Status_List" minOccurs = "0">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name = "Employee_Status" type ="Employee_Status_Type" maxOccurs = "unbounded"/>
          </xsd:sequence>
          <xsd:attribute name = "type_name" fixed = "Employee_Status_List" type = "xsd:string"/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name = "Employee_Communication_List" minOccurs = "0">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name = "Employee_Communication" type ="Employee_Communication_Type" maxOccurs = "unbounded"/>
          </xsd:sequence>
          <xsd:attribute name = "type_name" fixed = "Employee_Communication_List" type = "xsd:string"/>
        </xsd:complexType>
      </xsd:element>
    </xsd:all>
    <xsd:attribute name = "operation" default = "NONE" type = "xtd:operationType"/>
    <xsd:attribute name = "objectId" type = "xsd:string"/>
    <xsd:attribute name = "type_name" fixed = "Employee" type = "xsd:string"/>
  </xsd:complexType>
  <xsd:complexType name = "Employee_Insert_Type">
    <xsd:complexContent>
      <xsd:restriction base="Employee_Type">
        <xsd:all>
          <xsd:element name = "Employee_ID" type = "xtd:Number16"/>
          <xsd:element name = "Employee_Value" type = "xtd:String200"/>
          <xsd:element name = "First_Name" type = "xtd:String200"/>
          <xsd:element name = "Middle_Name" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Last_Name" type = "xtd:String200"/>
          <xsd:element name = "Second_Last_Name" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Employee_Type" type = "xtd:Empl_Type_Code" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Hire_Date" type = "xtd:dateTimeStringType" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "First_Hire_Date" type = "xtd:dateTimeStringType" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Separation_Date" type = "xtd:dateTimeStringType" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Gender" type = "xtd:Gender_Code" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Company_ID" type = "xtd:Number16" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Status_Reason" type = "xtd:Empl_Status_Reason_Code" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Activity_Status" type = "xtd:Activity_Status_Code"/>
          <xsd:element name = "Effective_Date" type = "xtd:dateTimeStringType"/>
          <xsd:element name = "End_Date" type = "xtd:dateTimeStringType"/>
          <xsd:element name = "Employee_Manager_ID" type = "xtd:Number16" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "External_ID_1" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
	  <xsd:element name = "Email_Address" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Employee_Role_List" minOccurs = "0">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name = "Employee_Role" type ="Employee_Role_Type" maxOccurs = "unbounded"/>
              </xsd:sequence>
              <xsd:attribute name = "type_name" fixed = "Employee_Role_List" type = "xsd:string"/>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name = "Employee_Address_List" minOccurs = "0">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name = "Employee_Address" type ="Employee_Address_Type" maxOccurs = "unbounded"/>
              </xsd:sequence>
              <xsd:attribute name = "type_name" fixed = "Employee_Address_List" type = "xsd:string"/>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name = "Employee_Status_List" minOccurs = "0">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name = "Employee_Status" type ="Employee_Status_Type" maxOccurs = "unbounded"/>
              </xsd:sequence>
              <xsd:attribute name = "type_name" fixed = "Employee_Status_List" type = "xsd:string"/>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name = "Employee_Communication_List" minOccurs = "0">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name = "Employee_Communication" type ="Employee_Communication_Type" maxOccurs = "unbounded"/>
              </xsd:sequence>
              <xsd:attribute name = "type_name" fixed = "Employee_Communication_List" type = "xsd:string"/>
            </xsd:complexType>
          </xsd:element>
        </xsd:all>
        <xsd:attribute name = "operation" default = "NONE" type = "xtd:operationType"/>
        <xsd:attribute name = "objectId" type = "xsd:string"/>
        <xsd:attribute name = "type_name" fixed = "Employee" type = "xsd:string"/>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>