xml/XMLSchema/Sample XSD Files/Formulary.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://schemas.dendrite.com/IS/1.0.0/Formulary"
	 targetNamespace = "http://schemas.dendrite.com/IS/1.0.0/Formulary"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 xmlns:xtd = "http://schemas.dendrite.com/IS/1.0.0/XTDataTypes">
	<xsd:import namespace = "http://schemas.dendrite.com/IS/1.0.0/XTDataTypes" schemaLocation = "XTDataTypes.xsd"/>
	<!--
		W3C XML Schema Generated using Xtelligent Schema generator.
		Date: Wed May 5 13:29:17 PDT 2004-->
	
	<xsd:element name = "Formulary" type = "Formulary_Type"/>
	<xsd:complexType name = "Formulary_Product_Detail_Type">
		<xsd:all>
			<xsd:element name = "Formulary_Product_Detail_ID" type = "xtd:Number16"/>
			<xsd:element name = "Generic_Mac_Flag" type = "xtd:Generic_Mac_Flag_Code" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Generic_Mac_Amount" type = "xtd:Currency" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Active_Flag" type = "xtd:Active_Code" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Pull_Through_Message" type = "xtd:Pull_Through_Message_Code" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Pull_Through_Date" type = "xtd:dateTimeStringType" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Promotional_Tools" type = "xtd:Promotional_Tools_Code" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Promotional_Details" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Step_Protocol" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Currency_Type" type = "xtd:Currency_Type_Code" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "External_ID_1" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
		</xsd:all>
		<xsd:attribute name = "operation" default = "NONE" type = "xtd:operationType"/>
		<xsd:attribute name = "objectId" type = "xsd:string"/>
		<xsd:attribute name = "type_name" fixed = "Formulary_Product_Detail" type = "xsd:string"/>
	</xsd:complexType>
	<xsd:complexType name = "Formulary_Product_Detail_Insert_Type">
		<xsd:complexContent>
			<xsd:restriction base = "Formulary_Product_Detail_Type">
				<xsd:all>
					<xsd:element name = "Formulary_Product_Detail_ID" type = "xtd:Number16"/>
					<xsd:element name = "Generic_Mac_Flag" type = "xtd:Generic_Mac_Flag_Code" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "Generic_Mac_Amount" type = "xtd:Currency" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "Active_Flag" type = "xtd:Active_Code" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "Pull_Through_Message" type = "xtd:Pull_Through_Message_Code" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "Pull_Through_Date" type = "xtd:dateTimeStringType" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "Promotional_Tools" type = "xtd:Promotional_Tools_Code" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "Promotional_Details" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "Step_Protocol" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "Currency_Type" type = "xtd:Currency_Type_Code" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "External_ID_1" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
				</xsd:all>
				<xsd:attribute name = "operation" default = "NONE" type = "xtd:operationType"/>
				<xsd:attribute name = "objectId" type = "xsd:string"/>
				<xsd:attribute name = "type_name" fixed = "Formulary_Product_Detail" type = "xsd:string"/>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name = "Formulary_Product_Type">
		<xsd:all>
			<xsd:element name = "Formulary_Product_ID" type = "xtd:Number16"/>
			<xsd:element name = "Product_ID" type = "xtd:Number16" minOccurs = "0"/>
			<xsd:element name = "Active" type = "xtd:Active_Code" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Tier" type = "xtd:Tier_Code" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Closed" type = "xtd:Closed_Code" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Opened" type = "xtd:Opened_Code" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Total" type = "xtd:Total_Code" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Status" type = "xtd:Formulary_Status_Code" minOccurs = "0"/>
			<xsd:element name = "Review_Date" type = "xtd:dateTimeStringType" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Next_Review_Date" type = "xtd:dateTimeStringType" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Step_Protocol" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Step_Protocol_Comments" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Third_Party_Status" type = "xtd:Third_Party_Status_Code" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Third_Party_Date" type = "xtd:dateTimeStringType" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "External_ID_1" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Comment" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Formulary_Product_Detail_List" minOccurs = "0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name = "Formulary_Product_Detail" type = "Formulary_Product_Detail_Type" maxOccurs = "unbounded"/>
					</xsd:sequence>
					<xsd:attribute name = "type_name" fixed = "Formulary_Product_Detail_List" type = "xsd:string"/>
				</xsd:complexType>
			</xsd:element>
		</xsd:all>
		<xsd:attribute name = "operation" default = "NONE" type = "xtd:operationType"/>
		<xsd:attribute name = "objectId" type = "xsd:string"/>
		<xsd:attribute name = "type_name" fixed = "Formulary_Product" type = "xsd:string"/>
	</xsd:complexType>
	<xsd:complexType name = "Formulary_Product_Insert_Type">
		<xsd:complexContent>
			<xsd:restriction base = "Formulary_Product_Type">
				<xsd:all>
					<xsd:element name = "Formulary_Product_ID" type = "xtd:Number16"/>
					<xsd:element name = "Product_ID" type = "xtd:Number16"/>
					<xsd:element name = "Active" type = "xtd:Active_Code" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "Tier" type = "xtd:Tier_Code" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "Closed" type = "xtd:Closed_Code" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "Opened" type = "xtd:Opened_Code" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "Total" type = "xtd:Total_Code" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "Status" type = "xtd:Formulary_Status_Code"/>
					<xsd:element name = "Review_Date" type = "xtd:dateTimeStringType" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "Next_Review_Date" type = "xtd:dateTimeStringType" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "Step_Protocol" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "Step_Protocol_Comments" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "Third_Party_Status" type = "xtd:Third_Party_Status_Code" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "Third_Party_Date" type = "xtd:dateTimeStringType" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "External_ID_1" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "Comment" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "Formulary_Product_Detail_List" minOccurs = "0">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name = "Formulary_Product_Detail" type = "Formulary_Product_Detail_Type" maxOccurs = "unbounded"/>
							</xsd:sequence>
							<xsd:attribute name = "type_name" fixed = "Formulary_Product_Detail_List" type = "xsd:string"/>
						</xsd:complexType>
					</xsd:element>
				</xsd:all>
				<xsd:attribute name = "operation" default = "NONE" type = "xtd:operationType"/>
				<xsd:attribute name = "objectId" type = "xsd:string"/>
				<xsd:attribute name = "type_name" fixed = "Formulary_Product" type = "xsd:string"/>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name = "Formulary_Type">
		<xsd:all>
			<xsd:element name = "Customer_ID" type = "xtd:Number16"/>
			<xsd:element name = "Name" type = "xtd:String200" minOccurs = "0"/>
			<xsd:element name = "Formulary_Type" type = "xtd:Formulary_Type_Code" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Status_Reason" type = "xtd:Form_Status_Reason_Code" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Formulary_Description" type = "xtd:String2000" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Physician_Impact" type = "xtd:String4" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Update_Frequency" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Last_Update_Date" type = "xtd:dateTimeStringType" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "NCQA_Status" type = "xtd:NCQA_Status_Code" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "NCQA_Review_Date" type = "xtd:dateTimeStringType" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Validation_Status" type = "xtd:Validation_Status_Code" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Validation_Change_Reason" type ="xtd:Validation_Change_Reason" nillable ="true" minOccurs ="0"/>
			<xsd:element name = "Activity_Status" type = "xtd:Activity_Status_Code" minOccurs = "0"/>
			<xsd:element name = "Effective_Date" type = "xtd:dateTimeStringType" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "End_Date" type = "xtd:dateTimeStringType" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "External_ID_1" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Formulary_Product_List" minOccurs = "0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name = "Formulary_Product" type = "Formulary_Product_Type" maxOccurs = "unbounded"/>
					</xsd:sequence>
					<xsd:attribute name = "type_name" fixed = "Formulary_Product_List" type = "xsd:string"/>
				</xsd:complexType>
			</xsd:element>
		</xsd:all>
		<xsd:attribute name = "operation" default = "NONE" type = "xtd:operationType"/>
		<xsd:attribute name = "objectId" type = "xsd:string"/>
		<xsd:attribute name = "type_name" fixed = "Formulary" type = "xsd:string"/>
	</xsd:complexType>
	<xsd:complexType name = "Formulary_Insert_Type">
		<xsd:complexContent>
			<xsd:restriction base = "Formulary_Type">
				<xsd:all>
					<xsd:element name = "Customer_ID" type = "xtd:Number16"/>
					<xsd:element name = "Name" type = "xtd:String200"/>
					<xsd:element name = "Formulary_Type" type = "xtd:Formulary_Type_Code" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "Status_Reason" type = "xtd:Form_Status_Reason_Code" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "Formulary_Description" type = "xtd:String2000" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "Physician_Impact" type = "xtd:String4" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "Update_Frequency" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "Last_Update_Date" type = "xtd:dateTimeStringType" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "NCQA_Status" type = "xtd:NCQA_Status_Code" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "NCQA_Review_Date" type = "xtd:dateTimeStringType" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Validation_Status" type = "xtd:Validation_Status_Code" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Validation_Change_Reason" type ="xtd:Validation_Change_Reason" nillable ="true" minOccurs ="0"/>
					<xsd:element name = "Activity_Status" type = "xtd:Activity_Status_Code"/>
					<xsd:element name = "Effective_Date" type = "xtd:dateTimeStringType" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "End_Date" type = "xtd:dateTimeStringType" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "External_ID_1" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "Formulary_Product_List" minOccurs = "0">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name = "Formulary_Product" type = "Formulary_Product_Type" maxOccurs = "unbounded"/>
							</xsd:sequence>
							<xsd:attribute name = "type_name" fixed = "Formulary_Product_List" type = "xsd:string"/>
						</xsd:complexType>
					</xsd:element>
				</xsd:all>
				<xsd:attribute name = "operation" default = "NONE" type = "xtd:operationType"/>
				<xsd:attribute name = "objectId" type = "xsd:string"/>
				<xsd:attribute name = "type_name" fixed = "Formulary" type = "xsd:string"/>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>