xml/XMLSchema/Sample XSD Files/Geography.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://schemas.dendrite.com/IS/1.0.0/Geography"
	 targetNamespace = "http://schemas.dendrite.com/IS/1.0.0/Geography"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 xmlns:xtd = "http://schemas.dendrite.com/IS/1.0.0/XTDataTypes"
	 elementFormDefault = "unqualified">
  <xsd:import namespace = "http://schemas.dendrite.com/IS/1.0.0/XTDataTypes" schemaLocation = "XTDataTypes.xsd"/>
  <!--
      W3C XML Schema Generated using Xtelligent Schema generator.
      Date: Thu Apr 22 12:06:13 UTC+0530 2004-->

  <xsd:element name = "Geography" type = "Geography_Type"/>
  <xsd:complexType name = "Geography_Type">
    <xsd:all>
      <xsd:element name = "Geography_ID" type = "xtd:Number16"/>
      <xsd:element name = "Geography_Value" type = "xtd:String200" minOccurs = "0"/>
      <xsd:element name = "Geography_Description" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Geography_Type" type = "xtd:Geo_Type_Code" minOccurs = "0"/>
      <xsd:element name = "Country" type = "xtd:Country_Code" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Activity_Status" type = "xtd:Activity_Status_Code" minOccurs = "0"/>
      <xsd:element name = "Effective_Date" type = "xtd:dateTimeStringType" minOccurs = "0"/>
      <xsd:element name = "End_Date" type = "xtd:dateTimeStringType" minOccurs = "0"/>
      <xsd:element name = "External_ID_1" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
    </xsd:all>
    <xsd:attribute name = "operation" default = "NONE" type = "xtd:operationType"/>
    <xsd:attribute name = "objectId" type = "xsd:string"/>
    <xsd:attribute name = "type_name" fixed = "Geography" type = "xsd:string"/>
  </xsd:complexType>
  <xsd:complexType name = "Geography_Insert_Type">
    <xsd:complexContent>
      <xsd:restriction base = "Geography_Type">
        <xsd:all>
          <xsd:element name = "Geography_ID" type = "xtd:Number16"/>
          <xsd:element name = "Geography_Value" type = "xtd:String200"/>
          <xsd:element name = "Geography_Description" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Geography_Type" type = "xtd:Geo_Type_Code"/>
          <xsd:element name = "Country" type = "xtd:Country_Code" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Activity_Status" type = "xtd:Activity_Status_Code"/>
          <xsd:element name = "Effective_Date" type = "xtd:dateTimeStringType"/>
          <xsd:element name = "End_Date" type = "xtd:dateTimeStringType"/>
          <xsd:element name = "External_ID_1" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
        </xsd:all>
        <xsd:attribute name = "operation" default = "NONE" type = "xtd:operationType"/>
        <xsd:attribute name = "objectId" type = "xsd:string"/>
        <xsd:attribute name = "type_name" fixed = "Geography" type = "xsd:string"/>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>