xml/XMLSchema/Sample XSD Files/Inspection.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://schemas.dendrite.com/IS/1.0.0/Inspection"
	 targetNamespace = "http://schemas.dendrite.com/IS/1.0.0/Inspection"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 xmlns:xtd = "http://schemas.dendrite.com/IS/1.0.0/XTDataTypes"
	 elementFormDefault = "unqualified">
  <xsd:import namespace = "http://schemas.dendrite.com/IS/1.0.0/XTDataTypes" schemaLocation = "XTDataTypes.xsd"/>
  <!--
		W3C XML Schema Generated using Xtelligent Schema generator.
		Date: Wed May 5 17:11:22 UTC+0530 2004-->

  <xsd:element name = "Inspection" type = "Inspection_Type"/>
  <xsd:complexType name="Inspection_Detail_Type">
    <xsd:all>
      <xsd:element name = "Inspection_Detail_ID" type = "xtd:Number16" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Inspection_Parameter_ID" type = "xtd:Number16" minOccurs = "0"/>
      <xsd:element name = "Result" type = "xtd:Inspection_Detail_Result_Code" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Comment" type = "xtd:String2000" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "External_ID_1" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
    </xsd:all>
    <xsd:attribute name = "operation" default = "NONE" type = "xtd:operationType"/>
    <xsd:attribute name = "objectId" type = "xsd:string"/>
    <xsd:attribute name = "type_name" fixed = "Inspection_Detail" type = "xsd:string"/>
  </xsd:complexType>
  <xsd:complexType name="Inspection_Detail_Insert_Type">
    <xsd:complexContent>
      <xsd:restriction base = "Inspection_Detail_Type">
        <xsd:all>
          <xsd:element name = "Inspection_Detail_ID" type = "xtd:Number16" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Inspection_Parameter_ID" type = "xtd:Number16"/>
          <xsd:element name = "Result" type = "xtd:Inspection_Detail_Result_Code" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Comment" type = "xtd:String2000" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "External_ID_1" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
        </xsd:all>
        <xsd:attribute name = "operation" default = "NONE" type = "xtd:operationType"/>
        <xsd:attribute name = "objectId" type = "xsd:string"/>
        <xsd:attribute name = "type_name" fixed = "Inspection_Detail" type = "xsd:string"/>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name = "Inspection_Type">
    <xsd:all>
      <xsd:element name = "Inspection_ID" type = "xtd:Number16"/>
      <xsd:element name = "Employee_ID" type = "xtd:Number16" minOccurs = "0"/>
      <xsd:element name = "Inspection_Date" type = "xtd:dateTimeStringType" minOccurs = "0"/>
      <xsd:element name = "Inspection_Type" type = "xtd:Inspection_Type_Code" minOccurs = "0"/>
      <xsd:element name = "Inspection_Subtype" type = "xtd:Inspection_Subtype_Code" minOccurs = "0"/>
      <xsd:element name = "Inspection_Document_Value" type = "xtd:String200" minOccurs = "0"/>
      <xsd:element name = "Sales_Area_Value" type = "xtd:String100" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Sales_Force_Name" type = "xtd:String100" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Status" type = "xtd:Inspection_Status_Code" minOccurs = "0"/>
      <xsd:element name = "Performed_By_Name" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Location_Name" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Address_Line1" type = "xtd:String200" minOccurs = "0"/>
      <xsd:element name = "Address_Line2" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Address_Line3" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "City" type = "xtd:String200" minOccurs = "0"/>
      <xsd:element name = "Region" type = "xtd:Region_Code" minOccurs = "0"/>
      <xsd:element name = "Postal_Area" type = "xtd:String100" minOccurs = "0"/>
      <xsd:element name = "Postal_Area_Extension" type = "xtd:String100" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Country" type = "xtd:Country_Code" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Comment" type = "xtd:String2000" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "External_ID_1" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Inspection_Detail_List" minOccurs = "0">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name = "Inspection_Detail" type ="Inspection_Detail_Type" maxOccurs = "unbounded"/>
          </xsd:sequence>
          <xsd:attribute name = "type_name" fixed = "Inspection_Detail_List" type = "xsd:string"/>
        </xsd:complexType>
      </xsd:element>
    </xsd:all>
    <xsd:attribute name = "operation" default = "NONE" type = "xtd:operationType"/>
    <xsd:attribute name = "objectId" type = "xsd:string"/>
    <xsd:attribute name = "type_name" fixed = "Inspection" type = "xsd:string"/>
  </xsd:complexType>
  <xsd:complexType name = "Inspection_Insert_Type">
    <xsd:complexContent>
      <xsd:restriction base = "Inspection_Type">
        <xsd:all>
          <xsd:element name = "Inspection_ID" type = "xtd:Number16"/>
          <xsd:element name = "Employee_ID" type = "xtd:Number16"/>
          <xsd:element name = "Inspection_Date" type = "xtd:dateTimeStringType"/>
          <xsd:element name = "Inspection_Type" type = "xtd:Inspection_Type_Code"/>
          <xsd:element name = "Inspection_Subtype" type = "xtd:Inspection_Subtype_Code"/>
          <xsd:element name = "Inspection_Document_Value" type = "xtd:String200"/>
          <xsd:element name = "Sales_Area_Value" type = "xtd:String100" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Sales_Force_Name" type = "xtd:String100" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Status" type = "xtd:Inspection_Status_Code"/>
          <xsd:element name = "Performed_By_Name" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Location_Name" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Address_Line1" type = "xtd:String200"/>
          <xsd:element name = "Address_Line2" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Address_Line3" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "City" type = "xtd:String200"/>
          <xsd:element name = "Region" type = "xtd:Region_Code"/>
          <xsd:element name = "Postal_Area" type = "xtd:String100"/>
          <xsd:element name = "Postal_Area_Extension" type = "xtd:String100" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Country" type = "xtd:Country_Code" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Comment" type = "xtd:String2000" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "External_ID_1" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Inspection_Detail_List" minOccurs = "0">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name = "Inspection_Detail" type ="Inspection_Detail_Type" maxOccurs = "unbounded"/>
              </xsd:sequence>
              <xsd:attribute name = "type_name" fixed = "Inspection_Detail_List" type = "xsd:string"/>
            </xsd:complexType>
          </xsd:element>
        </xsd:all>
        <xsd:attribute name = "operation" default = "NONE" type = "xtd:operationType"/>
        <xsd:attribute name = "objectId" type = "xsd:string"/>
        <xsd:attribute name = "type_name" fixed = "Inspection" type = "xsd:string"/>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>
