xml/XMLSchema/Sample XSD Files/IS_Exception_Message.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://schemas.dendrite.com/IS/1.0.0"
	 targetNamespace = "http://schemas.dendrite.com/IS/1.0.0"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 xmlns:xtd = "http://schemas.dendrite.com/IS/1.0.0/XTDataTypes">
	<xsd:import namespace = "http://schemas.dendrite.com/IS/1.0.0/XTDataTypes" schemaLocation = "XTDataTypes.xsd"/>
	<xsd:element name = "TransactionSet" type = "TransactionSet"/>
	<xsd:complexType name = "TransactionSet">
		<!--xsd:element name = "Exception" minOccurs = "0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name = "Type" type = "xsd:string"/>
						<xsd:element name = "ErrorCode" type = "xsd:string" minOccurs = "0"/>
						<xsd:element name = "DateTime" type = "xtd:dateTimeStringType" minOccurs = "0"/>
						<xsd:element name = "Description" type = "xsd:string" minOccurs = "0"/>
						<xsd:element name = "RetryCount" type = "xsd:integer" minOccurs = "0"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element-->
		
		<!--xsd:element name = "TransactionSetProperties">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name = "DateTimeFormats" type = "xtd:DateTimeFormatsType"/>
						<xsd:element name = "Source" type = "xtd:APP_Name_Code"/>
						<xsd:element name = "Message_Version" type = "xsd:string"/>
						<xsd:element name = "COM_Version" type = "xsd:string"/>
						<xsd:element name = "Application_Version" type = "xsd:string"/>
						<xsd:element name = "Refresh_Response" type = "xsd:boolean" minOccurs = "0"/>
						<xsd:element name = "Refresh_Request_Originator" type = "xsd:string" minOccurs = "0"/>
						<xsd:element name = "Subscriber_List" minOccurs = "0">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:any namespace = "##any" processContents = "skip" minOccurs = "0" maxOccurs = "unbounded"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
					<xsd:attribute name = "null_representation" use = "required" type = "xsd:string"/>
					<xsd:attribute name = "transaction_scope" use = "required" type = "xsd:string"/>
				</xsd:complexType>
			</xsd:element-->
		<xsd:sequence>
			<xsd:any namespace = "##any" processContents = "skip" minOccurs = "0" maxOccurs = "unbounded"/>
		</xsd:sequence>
		<xsd:attribute name = "msgid" use = "required" type = "xsd:string"/>
	</xsd:complexType>
</xsd:schema>