xml/XMLSchema/Sample XSD Files/Managed_Care.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://schemas.dendrite.com/IS/1.0.0/Managed_Care"
	 targetNamespace = "http://schemas.dendrite.com/IS/1.0.0/Managed_Care"
	 xmlns:xtd1 = "http://schemas.dendrite.com/IS/1.0.0/XTDataTypes"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 xmlns:xtd = "http://schemas.dendrite.com/IS/1.0.0/XTDataTypes"
	 xmlns:xt = "Managed_Care"
	 elementFormDefault = "unqualified">
  <xsd:import namespace = "http://schemas.dendrite.com/IS/1.0.0/XTDataTypes" schemaLocation = "XTDataTypes.xsd"/>
  <!--
		W3C XML Schema Generated using Xtelligent Schema generator.
		Date: Mon May 3 12:52:18 PDT 2004-->

  <xsd:element name = "Managed_Care" type = "Managed_Care_Type"/>
  <xsd:complexType name ="Address_Type">
    <xsd:all>
      <xsd:element name = "Address_ID" type = "xtd:Number16"/>
      <xsd:element name = "Master_Identifier" type = "xtd:Number16" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Owner_Customer_Identifier" type = "xtd:Number16" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Address_Type" type = "xtd:Cust_Address_type_Code" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Address_Line1" type = "xtd:String200" minOccurs = "0"/>
      <xsd:element name = "Address_Line2" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Address_Line3" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "City" type = "xtd:String200" minOccurs = "0"/>
      <xsd:element name = "Region" type = "xtd:Region_Code" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Postal_Area" type = "xtd:String200" minOccurs = "0"/>
      <xsd:element name = "Postal_Area_Extension" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Country" type = "xtd:Country_Code" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Geography1" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Geography2" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Geography3" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "DEA_Number" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "DEA_Expiration_Date" type = "xtd:dateTimeStringType" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "DEA_Sampling_Validation_Status" type = "xtd:Smpl_Validation_Status_Code" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Validation_Status" type = "xtd:Validation_Status_Code" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Validation_Change_Reason" type ="xtd:Validation_Change_Reason" nillable ="true" minOccurs ="0"/>
      <xsd:element name = "Activity_Status" type = "xtd:Activity_Status_Code" minOccurs = "0"/>
      <xsd:element name = "Effective_Date" type = "xtd:dateTimeStringType" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "End_Date" type = "xtd:dateTimeStringType" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "External_ID_1" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
    </xsd:all>
    <xsd:attribute name = "operation" default = "NONE" type = "xtd:operationType"/>
    <xsd:attribute name = "objectId" type = "xsd:string"/>
    <xsd:attribute name = "type_name" fixed = "Address" type = "xsd:string"/>
  </xsd:complexType>
  <xsd:complexType name ="Address_Insert_Type">
    <xsd:complexContent>
      <xsd:restriction base = "Address_Type">
        <xsd:all>
          <xsd:element name = "Address_ID" type = "xtd:Number16"/>
          <xsd:element name = "Master_Identifier" type = "xtd:Number16" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Owner_Customer_Identifier" type = "xtd:Number16" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Address_Type" type = "xtd:Cust_Address_type_Code" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Address_Line1" type = "xtd:String200"/>
          <xsd:element name = "Address_Line2" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Address_Line3" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "City" type = "xtd:String200"/>
          <xsd:element name = "Region" type = "xtd:Region_Code" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Postal_Area" type = "xtd:String200"/>
          <xsd:element name = "Postal_Area_Extension" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Country" type = "xtd:Country_Code" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Geography1" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Geography2" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Geography3" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "DEA_Number" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "DEA_Expiration_Date" type = "xtd:dateTimeStringType" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "DEA_Sampling_Validation_Status" type = "xtd:Smpl_Validation_Status_Code" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Validation_Status" type = "xtd:Validation_Status_Code" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Validation_Change_Reason" type ="xtd:Validation_Change_Reason" nillable ="true" minOccurs ="0"/>
          <xsd:element name = "Activity_Status" type = "xtd:Activity_Status_Code"/>
          <xsd:element name = "Effective_Date" type = "xtd:dateTimeStringType" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "End_Date" type = "xtd:dateTimeStringType" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "External_ID_1" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
        </xsd:all>
        <xsd:attribute name = "operation" default = "NONE" type = "xtd:operationType"/>
        <xsd:attribute name = "objectId" type = "xsd:string"/>
        <xsd:attribute name = "type_name" fixed = "Address" type = "xsd:string"/>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name ="Communication_Type">
    <xsd:all>
      <xsd:element name = "Communication_ID" type = "xtd:Number16"/>
      <xsd:element name = "Master_Identifier" type = "xtd:Number16" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Address_ID" type = "xtd:Number16" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Communication_Type" type = "xtd:Cust_Comm_Type_Code" minOccurs = "0"/>
      <xsd:element name = "Communication_Value1" type = "xtd:String200" minOccurs = "0"/>
      <xsd:element name = "Communication_Value2" type = "xtd:String100" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "External_ID_1" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
    </xsd:all>
    <xsd:attribute name = "operation" default = "NONE" type = "xtd:operationType"/>
    <xsd:attribute name = "objectId" type = "xsd:string"/>
    <xsd:attribute name = "type_name" fixed = "Communication" type = "xsd:string"/>
  </xsd:complexType>
  <xsd:complexType name ="Communication_Insert_Type">
    <xsd:complexContent>
      <xsd:restriction base = "Communication_Type">
        <xsd:all>
          <xsd:element name = "Communication_ID" type = "xtd:Number16"/>
          <xsd:element name = "Master_Identifier" type = "xtd:Number16" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Address_ID" type = "xtd:Number16" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Communication_Type" type = "xtd:Cust_Comm_Type_Code"/>
          <xsd:element name = "Communication_Value1" type = "xtd:String200"/>
          <xsd:element name = "Communication_Value2" type = "xtd:String100" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "External_ID_1" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
        </xsd:all>
        <xsd:attribute name = "operation" default = "NONE" type = "xtd:operationType"/>
        <xsd:attribute name = "objectId" type = "xsd:string"/>
        <xsd:attribute name = "type_name" fixed = "Communication" type = "xsd:string"/>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name ="Customer_Identifier_Type">
    <xsd:all>
      <xsd:element name = "Customer_Identifier_ID" type = "xtd:Number16" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Master_Identifier" type = "xtd:Number16" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "ID_Type" type = "xtd:MCO_ID_Type_Code" minOccurs = "0"/>
      <xsd:element name = "ID_Value" type = "xtd:String200" minOccurs = "0"/>
      <xsd:element name = "Effective_Date" type = "xtd:dateTimeStringType" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "End_Date" type = "xtd:dateTimeStringType" nillable = "true" minOccurs = "0"/>
    </xsd:all>
    <xsd:attribute name = "operation" default = "NONE" type = "xtd:operationType"/>
    <xsd:attribute name = "objectId" type = "xsd:string"/>
    <xsd:attribute name = "type_name" fixed = "Customer_Identifier" type = "xsd:string"/>
  </xsd:complexType>
  <xsd:complexType name ="Customer_Identifier_Insert_Type">
    <xsd:complexContent>
      <xsd:restriction base = "Customer_Identifier_Type">
        <xsd:all>
          <xsd:element name = "Customer_Identifier_ID" type = "xtd:Number16" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Master_Identifier" type = "xtd:Number16" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "ID_Type" type = "xtd:MCO_ID_Type_Code"/>
          <xsd:element name = "ID_Value" type = "xtd:String200"/>
          <xsd:element name = "Effective_Date" type = "xtd:dateTimeStringType" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "End_Date" type = "xtd:dateTimeStringType" nillable = "true" minOccurs = "0"/>
        </xsd:all>
        <xsd:attribute name = "operation" default = "NONE" type = "xtd:operationType"/>
        <xsd:attribute name = "objectId" type = "xsd:string"/>
        <xsd:attribute name = "type_name" fixed = "Customer_Identifier" type = "xsd:string"/>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name ="Formulary_Product_Detail_Type">
    <xsd:all>
      <xsd:element name = "Formulary_Product_Detail_ID" type = "xtd:Number16"/>
      <xsd:element name = "Generic_Mac_Flag" type = "xtd:Generic_Mac_Flag_Code" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Generic_Mac_Amount" type = "xtd:Currency" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Active_Flag" type = "xtd:Active_Code" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Pull_Through_Message" type = "xtd:Pull_Through_Message_Code" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Pull_Through_Date" type = "xtd:dateTimeStringType" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Promotional_Tools" type = "xtd:Promotional_Tools_Code" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Promotional_Details" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Step_Protocol" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Currency_Type" type = "xtd:Currency_Type_Code" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "External_ID_1" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
    </xsd:all>
    <xsd:attribute name = "operation" default = "NONE" type = "xtd:operationType"/>
    <xsd:attribute name = "objectId" type = "xsd:string"/>
    <xsd:attribute name = "type_name" fixed = "Formulary_Product_Detail" type = "xsd:string"/>
  </xsd:complexType>
  <xsd:complexType name ="Formulary_Product_Detail_Insert_Type">
    <xsd:complexContent>
      <xsd:restriction base = "Formulary_Product_Detail_Type">
        <xsd:all>
          <xsd:element name = "Formulary_Product_Detail_ID" type = "xtd:Number16"/>
          <xsd:element name = "Generic_Mac_Flag" type = "xtd:Generic_Mac_Flag_Code" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Generic_Mac_Amount" type = "xtd:Currency" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Active_Flag" type = "xtd:Active_Code" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Pull_Through_Message" type = "xtd:Pull_Through_Message_Code" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Pull_Through_Date" type = "xtd:dateTimeStringType" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Promotional_Tools" type = "xtd:Promotional_Tools_Code" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Promotional_Details" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Step_Protocol" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Currency_Type" type = "xtd:Currency_Type_Code" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "External_ID_1" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
        </xsd:all>
        <xsd:attribute name = "operation" default = "NONE" type = "xtd:operationType"/>
        <xsd:attribute name = "objectId" type = "xsd:string"/>
        <xsd:attribute name = "type_name" fixed = "Formulary_Product_Detail" type = "xsd:string"/>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name ="Formulary_Product_Type">
    <xsd:all>
      <xsd:element name = "Formulary_Product_ID" type = "xtd:Number16"/>
      <xsd:element name = "Product_ID" type = "xtd:Number16" minOccurs = "0"/>
      <xsd:element name = "Active" type = "xtd:Active_Code" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Tier" type = "xtd:Tier_Code" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Closed" type = "xtd:Closed_Code" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Opened" type = "xtd:Opened_Code" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Total" type = "xtd:Total_Code" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Status" type = "xtd:Formulary_Status_Code" minOccurs = "0"/>
      <xsd:element name = "Review_Date" type = "xtd:dateTimeStringType" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Next_Review_Date" type = "xtd:dateTimeStringType" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Step_Protocol" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Step_Protocol_Comments" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Third_Party_Status" type = "xtd:Third_Party_Status_Code" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Third_Party_Date" type = "xtd:dateTimeStringType" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "External_ID_1" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Comment" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Formulary_Product_Detail_List" minOccurs = "0">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name = "Formulary_Product_Detail" type ="Formulary_Product_Detail_Type" maxOccurs = "unbounded"/>
          </xsd:sequence>
          <xsd:attribute name = "type_name" fixed = "Formulary_Product_Detail_List" type = "xsd:string"/>
        </xsd:complexType>
      </xsd:element>
    </xsd:all>
    <xsd:attribute name = "operation" default = "NONE" type = "xtd:operationType"/>
    <xsd:attribute name = "objectId" type = "xsd:string"/>
    <xsd:attribute name = "type_name" fixed = "Formulary_Product" type = "xsd:string"/>
  </xsd:complexType>
  <xsd:complexType name ="Formulary_Product_Insert_Type">
    <xsd:complexContent>
      <xsd:restriction base = "Formulary_Product_Type">
        <xsd:all>
          <xsd:element name = "Formulary_Product_ID" type = "xtd:Number16"/>
          <xsd:element name = "Product_ID" type = "xtd:Number16"/>
          <xsd:element name = "Active" type = "xtd:Active_Code" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Tier" type = "xtd:Tier_Code" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Closed" type = "xtd:Closed_Code" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Opened" type = "xtd:Opened_Code" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Total" type = "xtd:Total_Code" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Status" type = "xtd:Formulary_Status_Code"/>
          <xsd:element name = "Review_Date" type = "xtd:dateTimeStringType" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Next_Review_Date" type = "xtd:dateTimeStringType" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Step_Protocol" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Step_Protocol_Comments" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Third_Party_Status" type = "xtd:Third_Party_Status_Code" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Third_Party_Date" type = "xtd:dateTimeStringType" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "External_ID_1" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Comment" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Formulary_Product_Detail_List" minOccurs = "0">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name = "Formulary_Product_Detail" type ="Formulary_Product_Detail_Type" maxOccurs = "unbounded"/>
              </xsd:sequence>
              <xsd:attribute name = "type_name" fixed = "Formulary_Product_Detail_List" type = "xsd:string"/>
            </xsd:complexType>
          </xsd:element>
        </xsd:all>
        <xsd:attribute name = "operation" default = "NONE" type = "xtd:operationType"/>
        <xsd:attribute name = "objectId" type = "xsd:string"/>
        <xsd:attribute name = "type_name" fixed = "Formulary_Product" type = "xsd:string"/>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name = "Managed_Care_Type">
    <xsd:all>
      <xsd:element name = "Customer_ID" type = "xtd:Number16"/>
      <xsd:element name = "Managed_Care_Type" type = "xtd:MCO_Profile_Type_Code" minOccurs = "0"/>
      <xsd:element name = "Managed_Care_Name" type = "xtd:String200" minOccurs = "0"/>
      <xsd:element name = "Call_Class" type = "xtd:Call_Class_Code" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Enable_Third_Party_Updates_Flag" type = "xtd:Updates_Flag_Code" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Validation_Status" type = "xtd:Validation_Status_Code" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Validation_Change_Reason" type ="xtd:Validation_Change_Reason" nillable ="true" minOccurs ="0"/>
      <xsd:element name = "Status_Reason" type = "xtd:Mco_Status_Reason_Code" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Accreditation_Agency" type = "xtd:Accreditation_Agency_Code" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Rx_Mail_Percent" type = "xtd:Number9" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Rx_Retail_Percent" type = "xtd:Number9" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Rx_In_House_Percent" type = "xtd:Number9" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Member_Count" type = "xtd:Number9" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "NCQA_Status" type = "xtd:NCQA_Status_Code" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "NCQA_Review_Date" type = "xtd:dateTimeStringType" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Federally_Qualified_Flag" type = "xtd:Federally_Qualified_Flag_Code" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Plan_Count" type = "xtd:Number9" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Market_Area" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Financial_Type" type = "xtd:Financial_Type_Code" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Model_Type" type = "xtd:Model_Type_Code" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "MCO_Type" type = "xtd:MCO_Type_Code" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Profit_Status" type = "xtd:Profit_Status_Code" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Physician_Rx_Control" type = "xtd:Physician_Rx_Control_Code" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Plan_Level" type = "xtd:Plan_Level_Code" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Fiscal_Year" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Account_Owner" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Total_Membership_Comment" type = "xtd:String2000" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Risk_Supplement" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Activity_Status" type = "xtd:Activity_Status_Code" minOccurs = "0"/>
      <xsd:element name = "Effective_Date" type = "xtd:dateTimeStringType" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "End_Date" type = "xtd:dateTimeStringType" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Address_List" minOccurs = "0">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name = "Address" type ="Address_Type" maxOccurs = "unbounded"/>
          </xsd:sequence>
          <xsd:attribute name = "type_name" fixed = "Address_List" type = "xsd:string"/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name = "Communication_List" minOccurs = "0">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name = "Communication" type ="Communication_Type" maxOccurs = "unbounded"/>
          </xsd:sequence>
          <xsd:attribute name = "type_name" fixed = "Communication_List" type = "xsd:string"/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name = "Customer_Identifier_List" minOccurs = "0">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name = "Customer_Identifier" type ="Customer_Identifier_Type" maxOccurs = "unbounded"/>
          </xsd:sequence>
          <xsd:attribute name = "type_name" fixed = "Customer_Identifier_List" type = "xsd:string"/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name = "Formulary_Product_List" minOccurs = "0">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name = "Formulary_Product" type ="Formulary_Product_Type" maxOccurs = "unbounded"/>
          </xsd:sequence>
          <xsd:attribute name = "type_name" fixed = "Formulary_Product_List" type = "xsd:string"/>
        </xsd:complexType>
      </xsd:element>
    </xsd:all>
    <xsd:attribute name = "operation" default = "NONE" type = "xtd:operationType"/>
    <xsd:attribute name = "objectId" type = "xsd:string"/>
    <xsd:attribute name = "type_name" fixed = "Managed_Care" type = "xsd:string"/>
  </xsd:complexType>
  <xsd:complexType name = "Managed_Care_Insert_Type">
    <xsd:complexContent>
      <xsd:restriction base = "Managed_Care_Type">
        <xsd:all>
          <xsd:element name = "Customer_ID" type = "xtd:Number16"/>
          <xsd:element name = "Managed_Care_Type" type = "xtd:MCO_Profile_Type_Code"/>
          <xsd:element name = "Managed_Care_Name" type = "xtd:String200"/>
          <xsd:element name = "Call_Class" type = "xtd:Call_Class_Code" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Enable_Third_Party_Updates_Flag" type = "xtd:Updates_Flag_Code" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Validation_Status" type = "xtd:Validation_Status_Code" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Validation_Change_Reason" type ="xtd:Validation_Change_Reason" nillable ="true" minOccurs ="0"/>
          <xsd:element name = "Status_Reason" type = "xtd:Mco_Status_Reason_Code" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Accreditation_Agency" type = "xtd:Accreditation_Agency_Code" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Rx_Mail_Percent" type = "xtd:Number9" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Rx_Retail_Percent" type = "xtd:Number9" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Rx_In_House_Percent" type = "xtd:Number9" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Member_Count" type = "xtd:Number9" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "NCQA_Status" type = "xtd:NCQA_Status_Code" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "NCQA_Review_Date" type = "xtd:dateTimeStringType" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Federally_Qualified_Flag" type = "xtd:Federally_Qualified_Flag_Code" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Plan_Count" type = "xtd:Number9" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Market_Area" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Financial_Type" type = "xtd:Financial_Type_Code" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Model_Type" type = "xtd:Model_Type_Code" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "MCO_Type" type = "xtd:MCO_Type_Code" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Profit_Status" type = "xtd:Profit_Status_Code" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Physician_Rx_Control" type = "xtd:Physician_Rx_Control_Code" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Plan_Level" type = "xtd:Plan_Level_Code" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Fiscal_Year" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Account_Owner" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Total_Membership_Comment" type = "xtd:String2000" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Risk_Supplement" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Activity_Status" type = "xtd:Activity_Status_Code"/>
          <xsd:element name = "Effective_Date" type = "xtd:dateTimeStringType" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "End_Date" type = "xtd:dateTimeStringType" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Address_List" minOccurs = "0">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name = "Address" type ="Address_Type" maxOccurs = "unbounded"/>
              </xsd:sequence>
              <xsd:attribute name = "type_name" fixed = "Address_List" type = "xsd:string"/>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name = "Communication_List" minOccurs = "0">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name = "Communication" type ="Communication_Type" maxOccurs = "unbounded"/>
              </xsd:sequence>
              <xsd:attribute name = "type_name" fixed = "Communication_List" type = "xsd:string"/>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name = "Customer_Identifier_List" minOccurs = "0">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name = "Customer_Identifier" type ="Customer_Identifier_Type" maxOccurs = "unbounded"/>
              </xsd:sequence>
              <xsd:attribute name = "type_name" fixed = "Customer_Identifier_List" type = "xsd:string"/>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name = "Formulary_Product_List" minOccurs = "0">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name = "Formulary_Product" type ="Formulary_Product_Type" maxOccurs = "unbounded"/>
              </xsd:sequence>
              <xsd:attribute name = "type_name" fixed = "Formulary_Product_List" type = "xsd:string"/>
            </xsd:complexType>
          </xsd:element>
        </xsd:all>
        <xsd:attribute name = "operation" default = "NONE" type = "xtd:operationType"/>
        <xsd:attribute name = "objectId" type = "xsd:string"/>
        <xsd:attribute name = "type_name" fixed = "Managed_Care" type = "xsd:string"/>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>