xml/XMLSchema/Sample XSD Files/Organization.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://schemas.dendrite.com/IS/1.0.0/Organization"
	 targetNamespace = "http://schemas.dendrite.com/IS/1.0.0/Organization"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 xmlns:xtd = "http://schemas.dendrite.com/IS/1.0.0/XTDataTypes"
	 elementFormDefault = "unqualified">
  <xsd:import namespace = "http://schemas.dendrite.com/IS/1.0.0/XTDataTypes" schemaLocation = "XTDataTypes.xsd"/>
  <!--
		W3C XML Schema Generated using Xtelligent Schema generator.
		Date: Wed May 12 16:05:57 PDT 2004-->

  <xsd:element name = "Organization" type = "Organization_Type"/>
  
  <xsd:complexType name ="Global_Identifier_Map_Type">
    <xsd:all>
      <xsd:element name = "ID_Type" type = "xtd:Global_ID_Type" minOccurs = "0"/>
      <xsd:element name = "ID_Value" type = "xtd:String200" minOccurs = "0"/>
    </xsd:all>
    <xsd:attribute name = "operation" default = "NONE" type = "xtd:operationType"/>
    <xsd:attribute name = "objectId" type = "xsd:string"/>
    <xsd:attribute name = "type_name" fixed = "Global_Identifier_Map" type = "xsd:string"/>
  </xsd:complexType>
  <xsd:complexType name ="Global_Identifier_Map_Insert_Type">
    <xsd:complexContent>
      <xsd:restriction base = "Global_Identifier_Map_Type">
        <xsd:all>
          <xsd:element name = "ID_Type" type = "xtd:Global_ID_Type"/>
          <xsd:element name = "ID_Value" type = "xtd:String200"/>
        </xsd:all>
        <xsd:attribute name = "operation" default = "NONE" type = "xtd:operationType"/>
        <xsd:attribute name = "objectId" type = "xsd:string"/>
        <xsd:attribute name = "type_name" fixed = "Global_Identifier_Map" type = "xsd:string"/>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name ="Address_Global_Identifier_Map_Type">
    <xsd:all>
      <xsd:element name = "Parent_Global_ID" type = "xtd:Number16"/>
      <xsd:element name = "ID_Type" type = "xtd:Global_ID_Type" minOccurs = "0"/>
      <xsd:element name = "ID_Value" type = "xtd:String200" minOccurs = "0"/>
    </xsd:all>
    <xsd:attribute name = "operation" default = "NONE" type = "xtd:operationType"/>
    <xsd:attribute name = "objectId" type = "xsd:string"/>
    <xsd:attribute name = "type_name" fixed = "Address_Global_Identifier_Map" type = "xsd:string"/>
  </xsd:complexType>
  <xsd:complexType name ="Address_Global_Identifier_Map_Insert_Type">
    <xsd:complexContent>
      <xsd:restriction base = "Address_Global_Identifier_Map_Type">
        <xsd:all>
          <xsd:element name = "Parent_Global_ID" type = "xtd:Number16"/>
          <xsd:element name = "ID_Type" type = "xtd:Global_ID_Type"/>
          <xsd:element name = "ID_Value" type = "xtd:String200"/>
        </xsd:all>
        <xsd:attribute name = "operation" default = "NONE" type = "xtd:operationType"/>
        <xsd:attribute name = "objectId" type = "xsd:string"/>
        <xsd:attribute name = "type_name" fixed = "Address_Global_Identifier_Map" type = "xsd:string"/>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name ="Communication_Global_Identifier_Map_Type">
    <xsd:all>
      <xsd:element name = "Parent_Global_ID" type = "xtd:Number16"/>
      <xsd:element name = "ID_Type" type = "xtd:Global_ID_Type" minOccurs = "0"/>
      <xsd:element name = "ID_Value" type = "xtd:String200" minOccurs = "0"/>
    </xsd:all>
    <xsd:attribute name = "operation" default = "NONE" type = "xtd:operationType"/>
    <xsd:attribute name = "objectId" type = "xsd:string"/>
    <xsd:attribute name = "type_name" fixed = "Communication_Global_Identifier_Map" type = "xsd:string"/>
  </xsd:complexType>
  <xsd:complexType name ="Communication_Global_Identifier_Map_Insert_Type">
    <xsd:complexContent>
      <xsd:restriction base = "Communication_Global_Identifier_Map_Type">
        <xsd:all>
          <xsd:element name = "Parent_Global_ID" type = "xtd:Number16"/>
          <xsd:element name = "ID_Type" type = "xtd:Global_ID_Type"/>
          <xsd:element name = "ID_Value" type = "xtd:String200"/>
        </xsd:all>
        <xsd:attribute name = "operation" default = "NONE" type = "xtd:operationType"/>
        <xsd:attribute name = "objectId" type = "xsd:string"/>
        <xsd:attribute name = "type_name" fixed = "Communication_Global_Identifier_Map" type = "xsd:string"/>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name ="Customer_Identifier_Global_Identifier_Map_Type">
    <xsd:all>
      <xsd:element name = "Parent_Global_ID" type = "xtd:Number16"/>
      <xsd:element name = "ID_Type" type = "xtd:Global_ID_Type" minOccurs = "0"/>
      <xsd:element name = "ID_Value" type = "xtd:String200" minOccurs = "0"/>
    </xsd:all>
    <xsd:attribute name = "operation" default = "NONE" type = "xtd:operationType"/>
    <xsd:attribute name = "objectId" type = "xsd:string"/>
    <xsd:attribute name = "type_name" fixed = "Customer_Identifier_Global_Identifier_Map" type = "xsd:string"/>
  </xsd:complexType>
  <xsd:complexType name ="Customer_Identifier_Global_Identifier_Map_Insert_Type">
    <xsd:complexContent>
      <xsd:restriction base = "Customer_Identifier_Global_Identifier_Map_Type">
        <xsd:all>
          <xsd:element name = "Parent_Global_ID" type = "xtd:Number16"/>
          <xsd:element name = "ID_Type" type = "xtd:Global_ID_Type"/>
          <xsd:element name = "ID_Value" type = "xtd:String200"/>
        </xsd:all>
        <xsd:attribute name = "operation" default = "NONE" type = "xtd:operationType"/>
        <xsd:attribute name = "objectId" type = "xsd:string"/>
        <xsd:attribute name = "type_name" fixed = "Customer_Identifier_Global_Identifier_Map" type = "xsd:string"/>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name ="Medical_School_Global_Identifier_Map_Type">
    <xsd:all>
      <xsd:element name = "Parent_Global_ID" type = "xtd:Number16"/>
      <xsd:element name = "ID_Type" type = "xtd:Global_ID_Type" minOccurs = "0"/>
      <xsd:element name = "ID_Value" type = "xtd:String200" minOccurs = "0"/>
    </xsd:all>
    <xsd:attribute name = "operation" default = "NONE" type = "xtd:operationType"/>
    <xsd:attribute name = "objectId" type = "xsd:string"/>
    <xsd:attribute name = "type_name" fixed = "Medical_School_Global_Identifier_Map" type = "xsd:string"/>
  </xsd:complexType>
  <xsd:complexType name ="Medical_School_Global_Identifier_Map_Insert_Type">
    <xsd:complexContent>
      <xsd:restriction base = "Medical_School_Global_Identifier_Map_Type">
        <xsd:all>
          <xsd:element name = "Parent_Global_ID" type = "xtd:Number16"/>
          <xsd:element name = "ID_Type" type = "xtd:Global_ID_Type"/>
          <xsd:element name = "ID_Value" type = "xtd:String200"/>
        </xsd:all>
        <xsd:attribute name = "operation" default = "NONE" type = "xtd:operationType"/>
        <xsd:attribute name = "objectId" type = "xsd:string"/>
        <xsd:attribute name = "type_name" fixed = "Medical_School_Global_Identifier_Map" type = "xsd:string"/>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name ="Address_Type">
    <xsd:all>
      <xsd:element name = "Address_ID" type = "xtd:Number16"/>
      <xsd:element name = "Master_Identifier" type = "xtd:Number16" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Address_Type" type = "xtd:Cust_Address_type_Code" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Owner_Customer_Identifier" type = "xtd:Number16" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Address_Line1" type = "xtd:String200" minOccurs = "0"/>
      <xsd:element name = "Address_Line2" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Address_Line3" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "City" type = "xtd:String200" minOccurs = "0"/>
      <xsd:element name = "Region" type = "xtd:Region_Code" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Postal_Area" type = "xtd:String200" minOccurs = "0"/>
      <xsd:element name = "Postal_Area_Extension" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Country" type = "xtd:Country_Code" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Geography1" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Geography2" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Geography3" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "DEA_Number" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "DEA_Expiration_Date" type = "xtd:dateTimeStringType" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "DEA_Sampling_Validation_Status" type = "xtd:Smpl_Validation_Status_Code" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Validation_Status" type = "xtd:Validation_Status_Code" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Validation_Change_Reason" type ="xtd:Validation_Change_Reason" nillable ="true" minOccurs ="0"/>
      <xsd:element name = "Activity_Status" type = "xtd:Activity_Status_Code" minOccurs = "0"/>
      <xsd:element name = "Effective_Date" type = "xtd:dateTimeStringType" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "End_Date" type = "xtd:dateTimeStringType" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "External_ID_1" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Address_Global_Identifier_Map_List" minOccurs = "0">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name = "Address_Global_Identifier_Map" type ="Address_Global_Identifier_Map_Type" maxOccurs = "unbounded"/>
          </xsd:sequence>
          <xsd:attribute name = "type_name" fixed = "Address_Global_Identifier_Map_List" type = "xsd:string"/>
        </xsd:complexType>
      </xsd:element>
    </xsd:all>
    <xsd:attribute name = "operation" default = "NONE" type = "xtd:operationType"/>
    <xsd:attribute name = "objectId" type = "xsd:string"/>
    <xsd:attribute name = "type_name" fixed = "Address" type = "xsd:string"/>
  </xsd:complexType>
  <xsd:complexType name ="Address_Insert_Type">
    <xsd:complexContent>
      <xsd:restriction base = "Address_Type">
        <xsd:all>
          <xsd:element name = "Address_ID" type = "xtd:Number16"/>
          <xsd:element name = "Master_Identifier" type = "xtd:Number16" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Address_Type" type = "xtd:Cust_Address_type_Code" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Owner_Customer_Identifier" type = "xtd:Number16" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Address_Line1" type = "xtd:String200"/>
          <xsd:element name = "Address_Line2" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Address_Line3" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "City" type = "xtd:String200"/>
          <xsd:element name = "Region" type = "xtd:Region_Code" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Postal_Area" type = "xtd:String200"/>
          <xsd:element name = "Postal_Area_Extension" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Country" type = "xtd:Country_Code" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Geography1" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Geography2" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Geography3" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "DEA_Number" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "DEA_Expiration_Date" type = "xtd:dateTimeStringType" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "DEA_Sampling_Validation_Status" type = "xtd:Smpl_Validation_Status_Code" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Validation_Status" type = "xtd:Validation_Status_Code" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Validation_Change_Reason" type ="xtd:Validation_Change_Reason" nillable ="true" minOccurs ="0"/>
          <xsd:element name = "Activity_Status" type = "xtd:Activity_Status_Code"/>
          <xsd:element name = "Effective_Date" type = "xtd:dateTimeStringType" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "End_Date" type = "xtd:dateTimeStringType" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "External_ID_1" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Address_Global_Identifier_Map_List" minOccurs = "0">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name = "Address_Global_Identifier_Map" type ="Address_Global_Identifier_Map_Type" maxOccurs = "unbounded"/>
              </xsd:sequence>
              <xsd:attribute name = "type_name" fixed = "Address_Global_Identifier_Map_List" type = "xsd:string"/>
            </xsd:complexType>
          </xsd:element>
        </xsd:all>
        <xsd:attribute name = "operation" default = "NONE" type = "xtd:operationType"/>
        <xsd:attribute name = "objectId" type = "xsd:string"/>
        <xsd:attribute name = "type_name" fixed = "Address" type = "xsd:string"/>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name ="Communication_Type">
    <xsd:all>
      <xsd:element name = "Communication_ID" type = "xtd:Number16"/>
      <xsd:element name = "Master_Identifier" type = "xtd:Number16" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Address_ID" type = "xtd:Number16" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Communication_Type" type = "xtd:Cust_Comm_Type_Code" minOccurs = "0"/>
      <xsd:element name = "Communication_Value1" type = "xtd:String200" minOccurs = "0"/>
      <xsd:element name = "Communication_Value2" type = "xtd:String100" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "External_ID_1" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Communication_Global_Identifier_Map_List" minOccurs = "0">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name = "Communication_Global_Identifier_Map" type ="Communication_Global_Identifier_Map_Type" maxOccurs = "unbounded"/>
          </xsd:sequence>
          <xsd:attribute name = "type_name" fixed = "Communication_Global_Identifier_Map_List" type = "xsd:string"/>
        </xsd:complexType>
      </xsd:element>
    </xsd:all>
    <xsd:attribute name = "operation" default = "NONE" type = "xtd:operationType"/>
    <xsd:attribute name = "objectId" type = "xsd:string"/>
    <xsd:attribute name = "type_name" fixed = "Communication" type = "xsd:string"/>
  </xsd:complexType>
  <xsd:complexType name ="Communication_Insert_Type">
    <xsd:complexContent>
      <xsd:restriction base = "Communication_Type">
        <xsd:all>
          <xsd:element name = "Communication_ID" type = "xtd:Number16"/>
          <xsd:element name = "Master_Identifier" type = "xtd:Number16" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Address_ID" type = "xtd:Number16" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Communication_Type" type = "xtd:Cust_Comm_Type_Code"/>
          <xsd:element name = "Communication_Value1" type = "xtd:String200"/>
          <xsd:element name = "Communication_Value2" type = "xtd:String100" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "External_ID_1" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Communication_Global_Identifier_Map_List" minOccurs = "0">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name = "Communication_Global_Identifier_Map" type ="Communication_Global_Identifier_Map_Type" maxOccurs = "unbounded"/>
              </xsd:sequence>
              <xsd:attribute name = "type_name" fixed = "Communication_Global_Identifier_Map_List" type = "xsd:string"/>
            </xsd:complexType>
          </xsd:element>
        </xsd:all>
        <xsd:attribute name = "operation" default = "NONE" type = "xtd:operationType"/>
        <xsd:attribute name = "objectId" type = "xsd:string"/>
        <xsd:attribute name = "type_name" fixed = "Communication" type = "xsd:string"/>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name ="Customer_Identifier_Type">
    <xsd:all>
      <xsd:element name = "Customer_Identifier_ID" type = "xtd:Number16" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Master_Identifier" type = "xtd:Number16" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "ID_Type" type = "xtd:Org_ID_Type_Code" minOccurs = "0"/>
      <xsd:element name = "ID_Value" type = "xtd:String200" minOccurs = "0"/>
      <xsd:element name = "Address_ID" type = "xtd:Number16" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "End_Date" type = "xtd:dateTimeStringType" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Effective_Date" type = "xtd:dateTimeStringType" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Customer_Identifier_Global_Identifier_Map_List" minOccurs = "0">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name = "Customer_Identifier_Global_Identifier_Map" type ="Customer_Identifier_Global_Identifier_Map_Type" maxOccurs = "unbounded"/>
          </xsd:sequence>
          <xsd:attribute name = "type_name" fixed = "Customer_Identifier_Global_Identifier_Map_List" type = "xsd:string"/>
        </xsd:complexType>
      </xsd:element>
    </xsd:all>
    <xsd:attribute name = "operation" default = "NONE" type = "xtd:operationType"/>
    <xsd:attribute name = "objectId" type = "xsd:string"/>
    <xsd:attribute name = "type_name" fixed = "Customer_Identifier" type = "xsd:string"/>
  </xsd:complexType>
  <xsd:complexType name ="Customer_Identifier_Insert_Type">
    <xsd:complexContent>
      <xsd:restriction base = "Customer_Identifier_Type">
        <xsd:all>
          <xsd:element name = "Customer_Identifier_ID" type = "xtd:Number16" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Master_Identifier" type = "xtd:Number16" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "ID_Type" type = "xtd:Org_ID_Type_Code"/>
          <xsd:element name = "ID_Value" type = "xtd:String200"/>
          <xsd:element name = "Address_ID" type = "xtd:Number16" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "End_Date" type = "xtd:dateTimeStringType" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Effective_Date" type = "xtd:dateTimeStringType" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Customer_Identifier_Global_Identifier_Map_List" minOccurs = "0">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name = "Customer_Identifier_Global_Identifier_Map" type ="Customer_Identifier_Global_Identifier_Map_Type" maxOccurs = "unbounded"/>
              </xsd:sequence>
              <xsd:attribute name = "type_name" fixed = "Customer_Identifier_Global_Identifier_Map_List" type = "xsd:string"/>
            </xsd:complexType>
          </xsd:element>
        </xsd:all>
        <xsd:attribute name = "operation" default = "NONE" type = "xtd:operationType"/>
        <xsd:attribute name = "objectId" type = "xsd:string"/>
        <xsd:attribute name = "type_name" fixed = "Customer_Identifier" type = "xsd:string"/>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name ="Organization_Medical_School_Type">
    <xsd:all>
      <xsd:element name = "Org_Medical_School_ID" type = "xtd:Number16"/>
      <xsd:element name = "Master_Identifier" type = "xtd:Number16" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Medical_School_Name" type = "xtd:String200" minOccurs = "0"/>
      <xsd:element name = "External_ID_1" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Medical_School_Global_Identifier_Map_List" minOccurs = "0">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name = "Medical_School_Global_Identifier_Map" type ="Medical_School_Global_Identifier_Map_Type" maxOccurs = "unbounded"/>
          </xsd:sequence>
          <xsd:attribute name = "type_name" fixed = "Medical_School_Global_Identifier_Map_List" type = "xsd:string"/>
        </xsd:complexType>
      </xsd:element>
    </xsd:all>
    <xsd:attribute name = "operation" default = "NONE" type = "xtd:operationType"/>
    <xsd:attribute name = "objectId" type = "xsd:string"/>
    <xsd:attribute name = "type_name" fixed = "Organization_Medical_School" type = "xsd:string"/>
  </xsd:complexType>
  <xsd:complexType name ="Organization_Medical_School_Insert_Type">
    <xsd:complexContent>
      <xsd:restriction base = "Organization_Medical_School_Type">
        <xsd:all>
          <xsd:element name = "Org_Medical_School_ID" type = "xtd:Number16"/>
          <xsd:element name = "Master_Identifier" type = "xtd:Number16" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Medical_School_Name" type = "xtd:String200"/>
          <xsd:element name = "External_ID_1" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Medical_School_Global_Identifier_Map_List" minOccurs = "0">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name = "Medical_School_Global_Identifier_Map" type ="Medical_School_Global_Identifier_Map_Type" maxOccurs = "unbounded"/>
              </xsd:sequence>
              <xsd:attribute name = "type_name" fixed = "Medical_School_Global_Identifier_Map_List" type = "xsd:string"/>
            </xsd:complexType>
          </xsd:element>
        </xsd:all>
        <xsd:attribute name = "operation" default = "NONE" type = "xtd:operationType"/>
        <xsd:attribute name = "objectId" type = "xsd:string"/>
        <xsd:attribute name = "type_name" fixed = "Organization_Medical_School" type = "xsd:string"/>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name ="Formulary_Product_Detail_Type">
    <xsd:all>
      <xsd:element name = "Formulary_Product_Detail_ID" type = "xtd:Number16"/>
      <xsd:element name = "Generic_Mac_Flag" type = "xtd:Generic_Mac_Flag_Code" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Generic_Mac_Amount" type = "xtd:Currency" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Active_Flag" type = "xtd:Active_Code" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Pull_Through_Message" type = "xtd:Pull_Through_Message_Code" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Pull_Through_Date" type = "xtd:dateTimeStringType" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Promotional_Tools" type = "xtd:Promotional_Tools_Code" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Promotional_Details" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Step_Protocol" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Currency_Type" type = "xtd:Currency_Type_Code" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "External_ID_1" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
    </xsd:all>
    <xsd:attribute name = "operation" default = "NONE" type = "xtd:operationType"/>
    <xsd:attribute name = "objectId" type = "xsd:string"/>
    <xsd:attribute name = "type_name" fixed = "Formulary_Product_Detail" type = "xsd:string"/>
  </xsd:complexType>
  <xsd:complexType name ="Formulary_Product_Detail_Insert_Type">
    <xsd:complexContent>
      <xsd:restriction base = "Formulary_Product_Detail_Type">
        <xsd:all>
          <xsd:element name = "Formulary_Product_Detail_ID" type = "xtd:Number16"/>
          <xsd:element name = "Generic_Mac_Flag" type = "xtd:Generic_Mac_Flag_Code" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Generic_Mac_Amount" type = "xtd:Currency" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Active_Flag" type = "xtd:Active_Code" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Pull_Through_Message" type = "xtd:Pull_Through_Message_Code" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Pull_Through_Date" type = "xtd:dateTimeStringType" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Promotional_Tools" type = "xtd:Promotional_Tools_Code" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Promotional_Details" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Step_Protocol" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Currency_Type" type = "xtd:Currency_Type_Code" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "External_ID_1" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
        </xsd:all>
        <xsd:attribute name = "operation" default = "NONE" type = "xtd:operationType"/>
        <xsd:attribute name = "objectId" type = "xsd:string"/>
        <xsd:attribute name = "type_name" fixed = "Formulary_Product_Detail" type = "xsd:string"/>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name ="Formulary_Product_Type">
    <xsd:all>
      <xsd:element name = "Formulary_Product_ID" type = "xtd:Number16"/>
      <xsd:element name = "Product_ID" type = "xtd:Number16" minOccurs = "0"/>
      <xsd:element name = "Active" type = "xtd:Active_Code" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Tier" type = "xtd:Tier_Code" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Closed" type = "xtd:Closed_Code" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Opened" type = "xtd:Opened_Code" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Total" type = "xtd:Total_Code" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Status" type = "xtd:Formulary_Status_Code" minOccurs = "0"/>
      <xsd:element name = "Review_Date" type = "xtd:dateTimeStringType" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Next_Review_Date" type = "xtd:dateTimeStringType" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Step_Protocol" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Step_Protocol_Comments" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Third_Party_Status" type = "xtd:Third_Party_Status_Code" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Third_Party_Date" type = "xtd:dateTimeStringType" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "External_ID_1" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Comment" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Formulary_Product_Detail_List" minOccurs = "0">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name = "Formulary_Product_Detail" type ="Formulary_Product_Detail_Type" maxOccurs = "unbounded"/>
          </xsd:sequence>
          <xsd:attribute name = "type_name" fixed = "Formulary_Product_Detail_List" type = "xsd:string"/>
        </xsd:complexType>
      </xsd:element>
    </xsd:all>
    <xsd:attribute name = "operation" default = "NONE" type = "xtd:operationType"/>
    <xsd:attribute name = "objectId" type = "xsd:string"/>
    <xsd:attribute name = "type_name" fixed = "Formulary_Product" type = "xsd:string"/>
  </xsd:complexType>
  <xsd:complexType name ="Formulary_Product_Insert_Type">
    <xsd:complexContent>
      <xsd:restriction base = "Formulary_Product_Type">
        <xsd:all>
          <xsd:element name = "Formulary_Product_ID" type = "xtd:Number16"/>
          <xsd:element name = "Product_ID" type = "xtd:Number16"/>
          <xsd:element name = "Active" type = "xtd:Active_Code" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Tier" type = "xtd:Tier_Code" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Closed" type = "xtd:Closed_Code" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Opened" type = "xtd:Opened_Code" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Total" type = "xtd:Total_Code" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Status" type = "xtd:Formulary_Status_Code"/>
          <xsd:element name = "Review_Date" type = "xtd:dateTimeStringType" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Next_Review_Date" type = "xtd:dateTimeStringType" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Step_Protocol" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Step_Protocol_Comments" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Third_Party_Status" type = "xtd:Third_Party_Status_Code" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Third_Party_Date" type = "xtd:dateTimeStringType" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "External_ID_1" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Comment" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Formulary_Product_Detail_List" minOccurs = "0">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name = "Formulary_Product_Detail" type ="Formulary_Product_Detail_Type" maxOccurs = "unbounded"/>
              </xsd:sequence>
              <xsd:attribute name = "type_name" fixed = "Formulary_Product_Detail_List" type = "xsd:string"/>
            </xsd:complexType>
          </xsd:element>
        </xsd:all>
        <xsd:attribute name = "operation" default = "NONE" type = "xtd:operationType"/>
        <xsd:attribute name = "objectId" type = "xsd:string"/>
        <xsd:attribute name = "type_name" fixed = "Formulary_Product" type = "xsd:string"/>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name = "Organization_Type">
    <xsd:all>
      <xsd:element name = "Customer_ID" type = "xtd:Number16"/>
      <xsd:element name = "Organization_Type" type = "xtd:Org_Type_Code" minOccurs = "0"/>
      <xsd:element name = "Organization_Subtype" type = "xtd:Org_Subtype_Code" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Organization_Name" type = "xtd:String200" minOccurs = "0"/>
      <xsd:element name = "Organization_Name2" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Resident_Count" type = "xtd:Number9" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Facility_Count" type = "xtd:Number9" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Total_Bed_Count" type = "xtd:Number9" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Outlet_Count" type = "xtd:Number9" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Rx_Volume_Range" type = "xtd:Rx_Volume_Range_Code" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Validation_Status" type = "xtd:Validation_Status_Code" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Validation_Change_Reason" type ="xtd:Validation_Change_Reason" nillable ="true" minOccurs ="0"/>
      <xsd:element name = "Status_Reason" type = "xtd:Org_Status_Reason_Code" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Call_Class" type = "xtd:Call_Class_Code" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Home_Health_Care_Flag" type = "xtd:Home_Health_Care_Flag_Code" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Third_Party_Rx" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Computerized_Flag" type = "xtd:String4" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Classification_Trade" type = "xtd:Classification_Trade_Code" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Nursing_Home_Count" type = "xtd:Number9" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Prescriber_Count" type = "xtd:Number9" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Patient_Count" type = "xtd:Number9" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Specialty" type = "xtd:Specialty_Code" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Data_Source" type = "xtd:Data_Source_Code" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Funding_Type" type = "xtd:Funding_Type_Code" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Activity_Status" type = "xtd:Activity_Status_Code" minOccurs = "0"/>
      <xsd:element name = "Effective_Date" type = "xtd:dateTimeStringType" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "End_Date" type = "xtd:dateTimeStringType" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Customer_Master_ID" type = "xtd:Number16" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Master_Identifier" type = "xtd:Number16" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Global_Identifier_Map_List" minOccurs = "0">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name = "Global_Identifier_Map" type ="Global_Identifier_Map_Type" maxOccurs = "unbounded"/>
          </xsd:sequence>
          <xsd:attribute name = "type_name" fixed = "Global_Identifier_Map_List" type = "xsd:string"/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name = "Address_List" minOccurs = "0">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name = "Address" type ="Address_Type" maxOccurs = "unbounded"/>
          </xsd:sequence>
          <xsd:attribute name = "type_name" fixed = "Address_List" type = "xsd:string"/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name = "Communication_List" minOccurs = "0">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name = "Communication" type ="Communication_Type" maxOccurs = "unbounded"/>
          </xsd:sequence>
          <xsd:attribute name = "type_name" fixed = "Communication_List" type = "xsd:string"/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name = "Customer_Identifier_List" minOccurs = "0">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name = "Customer_Identifier" type ="Customer_Identifier_Type" maxOccurs = "unbounded"/>
          </xsd:sequence>
          <xsd:attribute name = "type_name" fixed = "Customer_Identifier_List" type = "xsd:string"/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name = "Organization_Medical_School_List" minOccurs = "0">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name = "Organization_Medical_School" type ="Organization_Medical_School_Type" maxOccurs = "unbounded"/>
          </xsd:sequence>
          <xsd:attribute name = "type_name" fixed = "Organization_Medical_School_List" type = "xsd:string"/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name = "Formulary_Product_List" minOccurs = "0">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name = "Formulary_Product" type ="Formulary_Product_Type" maxOccurs = "unbounded"/>
          </xsd:sequence>
          <xsd:attribute name = "type_name" fixed = "Formulary_Product_List" type = "xsd:string"/>
        </xsd:complexType>
      </xsd:element>
    </xsd:all>
    <xsd:attribute name = "operation" default = "NONE" type = "xtd:operationType"/>
    <xsd:attribute name = "objectId" type = "xsd:string"/>
    <xsd:attribute name = "type_name" fixed = "Organization" type = "xsd:string"/>
  </xsd:complexType>
  <xsd:complexType name = "Organization_Insert_Type">
    <xsd:complexContent>
      <xsd:restriction base = "Organization_Type">
        <xsd:all>
          <xsd:element name = "Customer_ID" type = "xtd:Number16"/>
          <xsd:element name = "Organization_Type" type = "xtd:Org_Type_Code"/>
          <xsd:element name = "Organization_Subtype" type = "xtd:Org_Subtype_Code" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Organization_Name" type = "xtd:String200"/>
          <xsd:element name = "Organization_Name2" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Resident_Count" type = "xtd:Number9" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Facility_Count" type = "xtd:Number9" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Total_Bed_Count" type = "xtd:Number9" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Outlet_Count" type = "xtd:Number9" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Rx_Volume_Range" type = "xtd:Rx_Volume_Range_Code" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Validation_Status" type = "xtd:Validation_Status_Code" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Validation_Change_Reason" type ="xtd:Validation_Change_Reason" nillable ="true" minOccurs ="0"/>
          <xsd:element name = "Status_Reason" type = "xtd:Org_Status_Reason_Code" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Call_Class" type = "xtd:Call_Class_Code" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Home_Health_Care_Flag" type = "xtd:Home_Health_Care_Flag_Code" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Third_Party_Rx" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Computerized_Flag" type = "xtd:String4" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Classification_Trade" type = "xtd:Classification_Trade_Code" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Nursing_Home_Count" type = "xtd:Number9" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Prescriber_Count" type = "xtd:Number9" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Patient_Count" type = "xtd:Number9" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Specialty" type = "xtd:Specialty_Code" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Data_Source" type = "xtd:Data_Source_Code" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Funding_Type" type = "xtd:Funding_Type_Code" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Activity_Status" type = "xtd:Activity_Status_Code"/>
          <xsd:element name = "Effective_Date" type = "xtd:dateTimeStringType" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "End_Date" type = "xtd:dateTimeStringType" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Customer_Master_ID" type = "xtd:Number16" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Master_Identifier" type = "xtd:Number16" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Global_Identifier_Map_List" minOccurs = "0">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name = "Global_Identifier_Map" type ="Global_Identifier_Map_Type" maxOccurs = "unbounded"/>
              </xsd:sequence>
              <xsd:attribute name = "type_name" fixed = "Global_Identifier_Map_List" type = "xsd:string"/>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name = "Address_List" minOccurs = "0">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name = "Address" type ="Address_Type" maxOccurs = "unbounded"/>
              </xsd:sequence>
              <xsd:attribute name = "type_name" fixed = "Address_List" type = "xsd:string"/>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name = "Communication_List" minOccurs = "0">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name = "Communication" type ="Communication_Type" maxOccurs = "unbounded"/>
              </xsd:sequence>
              <xsd:attribute name = "type_name" fixed = "Communication_List" type = "xsd:string"/>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name = "Customer_Identifier_List" minOccurs = "0">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name = "Customer_Identifier" type ="Customer_Identifier_Type" maxOccurs = "unbounded"/>
              </xsd:sequence>
              <xsd:attribute name = "type_name" fixed = "Customer_Identifier_List" type = "xsd:string"/>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name = "Organization_Medical_School_List" minOccurs = "0">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name = "Organization_Medical_School" type ="Organization_Medical_School_Type" maxOccurs = "unbounded"/>
              </xsd:sequence>
              <xsd:attribute name = "type_name" fixed = "Organization_Medical_School_List" type = "xsd:string"/>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name = "Formulary_Product_List" minOccurs = "0">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name = "Formulary_Product" type ="Formulary_Product_Type" maxOccurs = "unbounded"/>
              </xsd:sequence>
              <xsd:attribute name = "type_name" fixed = "Formulary_Product_List" type = "xsd:string"/>
            </xsd:complexType>
          </xsd:element>
        </xsd:all>
        <xsd:attribute name = "operation" default = "NONE" type = "xtd:operationType"/>
        <xsd:attribute name = "objectId" type = "xsd:string"/>
        <xsd:attribute name = "type_name" fixed = "Organization" type = "xsd:string"/>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>