xml/XMLSchema/Sample XSD Files/Postal_Area.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://schemas.dendrite.com/IS/1.0.0/Postal_Area"
	 targetNamespace = "http://schemas.dendrite.com/IS/1.0.0/Postal_Area"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 xmlns:xtd = "http://schemas.dendrite.com/IS/1.0.0/XTDataTypes">
  <xsd:import namespace = "http://schemas.dendrite.com/IS/1.0.0/XTDataTypes" schemaLocation = "XTDataTypes.xsd"/>
  <!--
		W3C XML Schema Generated using Xtelligent Schema generator.
		Date: Thu Apr 22 12:38:56 UTC+0530 2004-->

  <xsd:element name = "Postal_Area" type = "Postal_Area_Type"/>
  <xsd:complexType name = "Postal_Area_Type">
    <xsd:all>
      <xsd:element name = "Postal_Area_ID" type = "xtd:Number16"/>
      <xsd:element name = "Postal_Area" type = "xtd:String200" minOccurs = "0"/>
      <xsd:element name = "Postal_Area_Extension" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "City" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "City_Abbreviation" type = "xtd:String100" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Region" type = "xtd:Region_Code" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Country" type = "xtd:Country_Code" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Latitude" type = "xtd:Decimal10.6" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Longitude" type = "xtd:Decimal11.6" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "MSA" type = "xtd:Number9" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Activity_Status" type = "xtd:Activity_Status_Code" minOccurs = "0"/>
      <xsd:element name = "Effective_Date" type = "xtd:dateTimeStringType" minOccurs = "0"/>
      <xsd:element name = "End_Date" type = "xtd:dateTimeStringType" minOccurs = "0"/>
      <xsd:element name = "External_ID_1" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
    </xsd:all>
    <xsd:attribute name = "operation" default = "NONE" type = "xtd:operationType"/>
    <xsd:attribute name = "objectId" type = "xsd:string"/>
    <xsd:attribute name = "type_name" fixed = "Postal_Area" type = "xsd:string"/>
  </xsd:complexType>
  <xsd:complexType name = "Postal_Area_Insert_Type">
    <xsd:complexContent>
      <xsd:restriction base = "Postal_Area_Type">
        <xsd:all>
          <xsd:element name = "Postal_Area_ID" type = "xtd:Number16"/>
          <xsd:element name = "Postal_Area" type = "xtd:String200"/>
          <xsd:element name = "Postal_Area_Extension" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "City" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "City_Abbreviation" type = "xtd:String100" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Region" type = "xtd:Region_Code" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Country" type = "xtd:Country_Code" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Latitude" type = "xtd:Decimal10.6" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Longitude" type = "xtd:Decimal11.6" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "MSA" type = "xtd:Number9" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Activity_Status" type = "xtd:Activity_Status_Code"/>
          <xsd:element name = "Effective_Date" type = "xtd:dateTimeStringType"/>
          <xsd:element name = "End_Date" type = "xtd:dateTimeStringType"/>
          <xsd:element name = "External_ID_1" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
        </xsd:all>
        <xsd:attribute name = "operation" default = "NONE" type = "xtd:operationType"/>
        <xsd:attribute name = "objectId" type = "xsd:string"/>
        <xsd:attribute name = "type_name" fixed = "Postal_Area" type = "xsd:string"/>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>