xml/XMLSchema/Sample XSD Files/Product_Sales_Force.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://schemas.dendrite.com/IS/1.0.0/Product_Sales_Force"
	 targetNamespace = "http://schemas.dendrite.com/IS/1.0.0/Product_Sales_Force"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 xmlns:xtd = "http://schemas.dendrite.com/IS/1.0.0/XTDataTypes"
	 elementFormDefault = "unqualified">
  <xsd:import namespace = "http://schemas.dendrite.com/IS/1.0.0/XTDataTypes" schemaLocation = "XTDataTypes.xsd"/>
  <!--
		W3C XML Schema Generated using Xtelligent Schema generator.
		Date: Fri Apr 30 14:40:27 PDT 2004-->

  <xsd:element name = "Product_Sales_Force" type = "Product_Sales_Force_Type"/>
  <xsd:complexType name = "Product_Sales_Force_Type">
    <xsd:all>
      <xsd:element name = "Product_Sales_Force_ID" type = "xtd:Number16"/>
      <xsd:element name = "Product_ID" type = "xtd:Number16"/>
      <xsd:element name = "Sales_Force_ID" type = "xtd:Number16"/>
      <xsd:element name = "Product_Sales_Force_Relation_Type" type = "xtd:Product_SF_Relation_Type_Code"/>
      <xsd:element name = "Priority" type = "xtd:Number9" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Activity_Status" type = "xtd:Activity_Status_Code" minOccurs = "0"/>
      <xsd:element name = "Effective_Date" type = "xtd:dateTimeStringType" minOccurs = "0"/>
      <xsd:element name = "End_Date" type = "xtd:dateTimeStringType" minOccurs = "0"/>
      <xsd:element name = "External_ID_1" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
    </xsd:all>
    <xsd:attribute name = "operation" default = "NONE" type = "xtd:operationType"/>
    <xsd:attribute name = "objectId" type = "xsd:string"/>
    <xsd:attribute name = "type_name" fixed = "Product_Sales_Force" type = "xsd:string"/>
  </xsd:complexType>
  <xsd:complexType name = "Product_Sales_Force_Insert_Type">
    <xsd:complexContent>
      <xsd:restriction base = "Product_Sales_Force_Type">
        <xsd:all>
          <xsd:element name = "Product_Sales_Force_ID" type = "xtd:Number16"/>
          <xsd:element name = "Product_ID" type = "xtd:Number16"/>
          <xsd:element name = "Sales_Force_ID" type = "xtd:Number16"/>
          <xsd:element name = "Product_Sales_Force_Relation_Type" type = "xtd:Product_SF_Relation_Type_Code"/>
          <xsd:element name = "Priority" type = "xtd:Number9" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Activity_Status" type = "xtd:Activity_Status_Code"/>
          <xsd:element name = "Effective_Date" type = "xtd:dateTimeStringType"/>
          <xsd:element name = "End_Date" type = "xtd:dateTimeStringType"/>
          <xsd:element name = "External_ID_1" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
        </xsd:all>
        <xsd:attribute name = "operation" default = "NONE" type = "xtd:operationType"/>
        <xsd:attribute name = "objectId" type = "xsd:string"/>
        <xsd:attribute name = "type_name" fixed = "Product_Sales_Force" type = "xsd:string"/>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>