xml/XMLSchema/Sample XSD Files/Refresh_Request.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://schemas.dendrite.com/IS/1.0.0/Refresh_Request"
	 targetNamespace = "http://schemas.dendrite.com/IS/1.0.0/Refresh_Request"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 xmlns:xtd = "http://schemas.dendrite.com/IS/1.0.0/XTDataTypes"
	 elementFormDefault = "unqualified">
  <xsd:import namespace = "http://schemas.dendrite.com/IS/1.0.0/XTDataTypes" schemaLocation = "XTDataTypes.xsd"/>
  <xsd:element name = "Refresh_Request" type = "Refresh_Request_Type"/>
  <xsd:complexType name = "Refresh_Response_Destination_Type">
    <xsd:sequence>
      <xsd:element name = "Destination_Application" type = "xtd:APP_Name_Code" minOccurs = "0" maxOccurs = "unbounded"/>
    </xsd:sequence>
    <xsd:attribute name = "All_Subscribers" default = "false" type = "xsd:boolean"/>
  </xsd:complexType>
  <xsd:complexType name = "Refresh_Request_Type">
    <xsd:all>
      <xsd:element name = "Top_Entity" type = "xtd:Entity_Name_Type"/>
      <xsd:element name = "Refresh_Entity" type = "xtd:Entity_Name_Type"/>
      <xsd:element name = "Refresh_Instance_ID" type = "xtd:Number16"/>
      <xsd:element name = "Include_Children" type = "xsd:boolean"/>
      <xsd:element name = "Refresh_Request_Originator" type = "xtd:APP_Name_Code" minOccurs = "0"/>
      <xsd:element name = "Request_Destination" type = "xtd:APP_Name_Code" minOccurs = "0"/>
      <xsd:element name = "Response_Destination" type = "Refresh_Response_Destination_Type"/>
    </xsd:all>
    <xsd:attribute name = "operation" default = "INSERT" type = "xtd:operationType"/>
    <xsd:attribute name = "objectId" type = "xsd:string"/>
    <xsd:attribute name = "type_name" fixed = "Refresh_Request" type = "xsd:string"/>
  </xsd:complexType>
  <xsd:complexType name = "Refresh_Request_Insert_Type">
    <xsd:complexContent>
      <xsd:restriction base = "Refresh_Request_Type">
        <xsd:all>
          <xsd:element name = "Top_Entity" type = "xtd:Entity_Name_Type"/>
          <xsd:element name = "Refresh_Entity" type = "xtd:Entity_Name_Type"/>
          <xsd:element name = "Refresh_Instance_ID" type = "xtd:Number16"/>
          <xsd:element name = "Include_Children" type = "xsd:boolean"/>
          <xsd:element name = "Refresh_Request_Originator" type = "xtd:APP_Name_Code"/>
          <xsd:element name = "Request_Destination" type = "xtd:APP_Name_Code"/>
          <xsd:element name = "Response_Destination" type = "Refresh_Response_Destination_Type"/>
        </xsd:all>
        <xsd:attribute name = "operation" default = "INSERT" type = "xtd:operationType"/>
        <xsd:attribute name = "objectId" type = "xsd:string"/>
        <xsd:attribute name = "type_name" fixed = "Refresh_Request" type = "xsd:string"/>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>