xml/XMLSchema/Sample XSD Files/Sample_Transaction.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://schemas.dendrite.com/IS/1.0.0/Sample_Transaction"
	 targetNamespace = "http://schemas.dendrite.com/IS/1.0.0/Sample_Transaction"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 xmlns:xtd = "http://schemas.dendrite.com/IS/1.0.0/XTDataTypes"
	 elementFormDefault = "unqualified">
  <xsd:import namespace = "http://schemas.dendrite.com/IS/1.0.0/XTDataTypes" schemaLocation = "XTDataTypes.xsd"/>
  <!--
		W3C XML Schema Generated using Xtelligent Schema generator.
		Date: Thu May 6 15:46:28 UTC+0530 2004-->

  <xsd:element name = "Sample_Transaction" type = "Sample_Transaction_Type"/>
  <xsd:complexType name ="Sample_Transaction_Detail_Type">
    <xsd:all>
      <xsd:element name = "Sample_Transaction_Detail_ID" type = "xtd:Number16"/>
      <xsd:element name = "Product_ID" type = "xtd:Number16" minOccurs = "0"/>
      <xsd:element name = "Lot_Number" type = "xtd:String200" minOccurs = "0"/>
      <xsd:element name = "Unit_Quantity" type = "xtd:Number9" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Quantity_Received_To_Date" type = "xtd:Number9" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Case_Quantity" type = "xtd:Number9" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "External_ID_1" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Comment" type = "xtd:String2000" nillable = "true" minOccurs = "0"/>
    </xsd:all>
    <xsd:attribute name = "operation" default = "NONE" type = "xtd:operationType"/>
    <xsd:attribute name = "objectId" type = "xsd:string"/>
    <xsd:attribute name = "type_name" fixed = "Sample_Transaction_Detail" type = "xsd:string"/>
  </xsd:complexType>
  <xsd:complexType name ="Sample_Transaction_Detail_Insert_Type">
    <xsd:complexContent>
      <xsd:restriction base = "Sample_Transaction_Detail_Type">
        <xsd:all>
          <xsd:element name = "Sample_Transaction_Detail_ID" type = "xtd:Number16"/>
          <xsd:element name = "Product_ID" type = "xtd:Number16"/>
          <xsd:element name = "Lot_Number" type = "xtd:String200"/>
          <xsd:element name = "Unit_Quantity" type = "xtd:Number9" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Quantity_Received_To_Date" type = "xtd:Number9" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Case_Quantity" type = "xtd:Number9" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "External_ID_1" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Comment" type = "xtd:String2000" nillable = "true" minOccurs = "0"/>
        </xsd:all>
        <xsd:attribute name = "operation" default = "NONE" type = "xtd:operationType"/>
        <xsd:attribute name = "objectId" type = "xsd:string"/>
        <xsd:attribute name = "type_name" fixed = "Sample_Transaction_Detail" type = "xsd:string"/>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name = "Sample_Transaction_Type">
    <xsd:all>
      <xsd:element name = "Sample_Transaction_ID" type = "xtd:Number16"/>
      <xsd:element name = "Transaction_Date" type = "xtd:dateTimeStringType" minOccurs = "0"/>
      <xsd:element name = "Transaction_Type" type = "xtd:Sample_Transaction_Type_Code" minOccurs = "0"/>
      <xsd:element name = "Transaction_Sub_Type" type = "xtd:Transaction_Sub_Type_Code" minOccurs = "0"/>
      <xsd:element name = "Transaction_Status" type = "xtd:Transaction_Status_Code" minOccurs = "0"/>
      <xsd:element name = "Transaction_Reason" type = "xtd:Transaction_Reason_Code" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Sample_Document_Value" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Sales_Area_Value" type = "xtd:String100" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Sales_Force_Value" type = "xtd:String100" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Employee_ID" type = "xtd:Number16" minOccurs = "0"/>
      <xsd:element name = "Transfer_Employee_ID" type = "xtd:Number16" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "From_Address_Line1" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "From_Address_Line2" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "From_Address_Line3" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "From_City" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "From_Region" type = "xtd:Region_Code" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "From_Postal_Area" type = "xtd:String100" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "From_Postal_Ext" type = "xtd:String100" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "From_Country" type = "xtd:Country_Code" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "To_Address_Line1" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "To_Address_Line2" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "To_Address_Line3" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "To_City" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "To_Region" type = "xtd:Region_Code" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "To_Postal_Area" type = "xtd:String100" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "To_Postal_Ext" type = "xtd:String100" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "To_Country" type = "xtd:Country_Code" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Location" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Carrier" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Tracking_Number" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Expected_Receive_Date" type = "xtd:dateTimeStringType" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "External_ID_1" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Sample_Group_Identifier" type = "xtd:Number16" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Sample_Transaction_Detail_List" minOccurs = "0">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name = "Sample_Transaction_Detail" type ="Sample_Transaction_Detail_Type" maxOccurs = "unbounded"/>
          </xsd:sequence>
          <xsd:attribute name = "type_name" fixed = "Sample_Transaction_Detail_List" type = "xsd:string"/>
        </xsd:complexType>
      </xsd:element>
    </xsd:all>
    <xsd:attribute name = "operation" default = "NONE" type = "xtd:operationType"/>
    <xsd:attribute name = "objectId" type = "xsd:string"/>
    <xsd:attribute name = "type_name" fixed = "Sample_Transaction" type = "xsd:string"/>
  </xsd:complexType>
  <xsd:complexType name = "Sample_Transaction_Insert_Type">
    <xsd:complexContent>
      <xsd:restriction base = "Sample_Transaction_Type">
    <xsd:all>
      <xsd:element name = "Sample_Transaction_ID" type = "xtd:Number16"/>
      <xsd:element name = "Transaction_Date" type = "xtd:dateTimeStringType"/>
      <xsd:element name = "Transaction_Type" type = "xtd:Sample_Transaction_Type_Code"/>
      <xsd:element name = "Transaction_Sub_Type" type = "xtd:Transaction_Sub_Type_Code"/>
      <xsd:element name = "Transaction_Status" type = "xtd:Transaction_Status_Code"/>
      <xsd:element name = "Transaction_Reason" type = "xtd:Transaction_Reason_Code" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Sample_Document_Value" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Sales_Area_Value" type = "xtd:String100" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Sales_Force_Value" type = "xtd:String100" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Employee_ID" type = "xtd:Number16"/>
      <xsd:element name = "Transfer_Employee_ID" type = "xtd:Number16" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "From_Address_Line1" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "From_Address_Line2" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "From_Address_Line3" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "From_City" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "From_Region" type = "xtd:Region_Code" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "From_Postal_Area" type = "xtd:String100" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "From_Postal_Ext" type = "xtd:String100" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "From_Country" type = "xtd:Country_Code" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "To_Address_Line1" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "To_Address_Line2" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "To_Address_Line3" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "To_City" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "To_Region" type = "xtd:Region_Code" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "To_Postal_Area" type = "xtd:String100" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "To_Postal_Ext" type = "xtd:String100" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "To_Country" type = "xtd:Country_Code" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Location" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Carrier" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Tracking_Number" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Expected_Receive_Date" type = "xtd:dateTimeStringType" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "External_ID_1" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Sample_Group_Identifier" type = "xtd:Number16" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Sample_Transaction_Detail_List" minOccurs = "0">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name = "Sample_Transaction_Detail" type ="Sample_Transaction_Detail_Type" maxOccurs = "unbounded"/>
          </xsd:sequence>
          <xsd:attribute name = "type_name" fixed = "Sample_Transaction_Detail_List" type = "xsd:string"/>
        </xsd:complexType>
      </xsd:element>
    </xsd:all>
    <xsd:attribute name = "operation" default = "NONE" type = "xtd:operationType"/>
    <xsd:attribute name = "objectId" type = "xsd:string"/>
    <xsd:attribute name = "type_name" fixed = "Sample_Transaction" type = "xsd:string"/>
    </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>