web/xml/XMLSchema/Sample XSD Files/Call.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://schemas.dendrite.com/IS/1.0.0/Call"
	 targetNamespace = "http://schemas.dendrite.com/IS/1.0.0/Call"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 xmlns:xtd = "http://schemas.dendrite.com/IS/1.0.0/XTDataTypes"
	 elementFormDefault = "unqualified">
	<xsd:import namespace = "http://schemas.dendrite.com/IS/1.0.0/XTDataTypes" schemaLocation = "XTDataTypes.xsd"/>
	<xsd:element name = "Call" type = "Call_Type"/>
	<xsd:complexType name = "Call_Details_Type">
		<xsd:all>
			<xsd:element name = "Call_Detail_ID" type = "xtd:Number16"/>
			<xsd:element name = "Product_ID" type = "xtd:Number16" minOccurs = "0"/>
			<xsd:element name = "Sequence" type = "xtd:Number9" minOccurs = "0"/>
			<xsd:element name = "Indication" type = "xtd:Indication_Code" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Detail_Comment" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "External_ID_1" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
		</xsd:all>
		<xsd:attribute name = "operation" default = "NONE" type = "xtd:operationType"/>
		<xsd:attribute name = "objectId" type = "xsd:string"/>
		<xsd:attribute name = "type_name" fixed = "Call_Details" type = "xsd:string"/>
	</xsd:complexType>
	<xsd:complexType name = "Call_Details_Insert_Type">
		<xsd:complexContent>
			<xsd:restriction base = "Call_Details_Type">
				<xsd:all>
					<xsd:element name = "Call_Detail_ID" type = "xtd:Number16"/>
					<xsd:element name = "Product_ID" type = "xtd:Number16"/>
					<xsd:element name = "Sequence" type = "xtd:Number9"/>
					<xsd:element name = "Indication" type = "xtd:Indication_Code" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "Detail_Comment" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "External_ID_1" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
				</xsd:all>
				<xsd:attribute name = "operation" default = "NONE" type = "xtd:operationType"/>
				<xsd:attribute name = "objectId" type = "xsd:string"/>
				<xsd:attribute name = "type_name" fixed = "Call_Details" type = "xsd:string"/>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name = "Sample_Disbursements_Type">
		<xsd:all>
			<xsd:element name = "Sample_Disbursement_ID" type = "xtd:Number16"/>
			<xsd:element name = "Employee_ID" type = "xtd:Number16" minOccurs = "0"/>
			<xsd:element name = "Customer_Name" type = "xtd:String200" minOccurs = "0"/>
			<xsd:element name = "Transaction_Date" type = "xtd:dateTimeStringType" minOccurs = "0"/>
			<xsd:element name = "Transaction_Type" type = "xtd:Call_Transaction_Type_Code" minOccurs = "0"/>
			<xsd:element name = "Product_ID" type = "xtd:Number16" minOccurs = "0"/>
			<xsd:element name = "Lot_Number" type = "xtd:String200" minOccurs = "0"/>
			<xsd:element name = "Quantity" type = "xtd:Number9" minOccurs = "0"/>
			<xsd:element name = "External_ID_1" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Sample_Group_Identifier" type = "xtd:Number16" nillable = "true" minOccurs = "0"/>
		</xsd:all>
		<xsd:attribute name = "operation" default = "NONE" type = "xtd:operationType"/>
		<xsd:attribute name = "objectId" type = "xsd:string"/>
		<xsd:attribute name = "type_name" fixed = "Sample_Disbursements" type = "xsd:string"/>
	</xsd:complexType>
	<xsd:complexType name = "Sample_Disbursements_Insert_Type">
		<xsd:complexContent>
			<xsd:restriction base = "Sample_Disbursements_Type">
				<xsd:all>
					<xsd:element name = "Sample_Disbursement_ID" type = "xtd:Number16"/>
					<xsd:element name = "Employee_ID" type = "xtd:Number16"/>
					<xsd:element name = "Customer_Name" type = "xtd:String200"/>
					<xsd:element name = "Transaction_Date" type = "xtd:dateTimeStringType"/>
					<xsd:element name = "Transaction_Type" type = "xtd:Call_Transaction_Type_Code"/>
					<xsd:element name = "Product_ID" type = "xtd:Number16"/>
					<xsd:element name = "Lot_Number" type = "xtd:String200"/>
					<xsd:element name = "Quantity" type = "xtd:Number9"/>
					<xsd:element name = "External_ID_1" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "Sample_Group_Identifier" type = "xtd:Number16" nillable = "true" minOccurs = "0"/>
				</xsd:all>
				<xsd:attribute name = "operation" default = "NONE" type = "xtd:operationType"/>
				<xsd:attribute name = "objectId" type = "xsd:string"/>
				<xsd:attribute name = "type_name" fixed = "Sample_Disbursements" type = "xsd:string"/>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name = "Call_Expense_Type">
		<xsd:all>
			<xsd:element name = "Call_Expense_ID" type = "xtd:Number16"/>
			<xsd:element name = "Expense_Type" type = "xtd:Expense_Type_Code" minOccurs = "0"/>
			<xsd:element name = "Expense_Item" type = "xtd:Number16" minOccurs = "0"/>
			<xsd:element name = "Quantity" type = "xtd:Number9" minOccurs = "0"/>
			<xsd:element name = "Cost" type = "xtd:Currency" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Currency_Type" type = "xtd:Currency_Type_Code" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "External_ID_1" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
		</xsd:all>
		<xsd:attribute name = "operation" default = "NONE" type = "xtd:operationType"/>
		<xsd:attribute name = "objectId" type = "xsd:string"/>
		<xsd:attribute name = "type_name" fixed = "Call_Expense" type = "xsd:string"/>
	</xsd:complexType>
	<xsd:complexType name = "Call_Expense_Insert_Type">
<xsd:complexContent>
			<xsd:restriction base = "Call_Expense_Type">
		<xsd:all>
			<xsd:element name = "Call_Expense_ID" type = "xtd:Number16"/>
			<xsd:element name = "Expense_Type" type = "xtd:Expense_Type_Code"/>
			<xsd:element name = "Expense_Item" type = "xtd:Number16"/>
			<xsd:element name = "Quantity" type = "xtd:Number9"/>
			<xsd:element name = "Cost" type = "xtd:Currency" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Currency_Type" type = "xtd:Currency_Type_Code" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "External_ID_1" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
		</xsd:all>
		<xsd:attribute name = "operation" default = "NONE" type = "xtd:operationType"/>
		<xsd:attribute name = "objectId" type = "xsd:string"/>
		<xsd:attribute name = "type_name" fixed = "Call_Expense" type = "xsd:string"/>
	</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name = "Call_Sample_Request_Type">
		<xsd:all>
			<xsd:element name = "Call_Sample_Request_ID" type = "xtd:Number16"/>
			<xsd:element name = "Product_ID" type = "xtd:Number16" minOccurs = "0"/>
			<xsd:element name = "Quantity" type = "xtd:Number9" minOccurs = "0"/>
			<xsd:element name = "Status" type = "xtd:Call_Sample_Request_Status_Code" minOccurs = "0"/>
			<xsd:element name = "External_ID_1" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
		</xsd:all>
		<xsd:attribute name = "operation" default = "NONE" type = "xtd:operationType"/>
		<xsd:attribute name = "objectId" type = "xsd:string"/>
		<xsd:attribute name = "type_name" fixed = "Call_Sample_Request" type = "xsd:string"/>
	</xsd:complexType>
	<xsd:complexType name = "Call_Sample_Request_Insert_Type">
		<xsd:complexContent>
			<xsd:restriction base = "Call_Sample_Request_Type">
				<xsd:all>
					<xsd:element name = "Call_Sample_Request_ID" type = "xtd:Number16"/>
					<xsd:element name = "Product_ID" type = "xtd:Number16"/>
					<xsd:element name = "Quantity" type = "xtd:Number9"/>
					<xsd:element name = "Status" type = "xtd:Call_Sample_Request_Status_Code"/>
					<xsd:element name = "External_ID_1" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
				</xsd:all>
				<xsd:attribute name = "operation" default = "NONE" type = "xtd:operationType"/>
				<xsd:attribute name = "objectId" type = "xsd:string"/>
				<xsd:attribute name = "type_name" fixed = "Call_Sample_Request" type = "xsd:string"/>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name = "Call_Signature_Type">
		<xsd:all>
			<xsd:element name = "Call_Signature_ID" type = "xtd:Number16"/>
			<xsd:element name = "Signature" type = "xtd:blobType" minOccurs = "0"/>
			<xsd:element name = "Image_Type" type = "xtd:Call_Signature_Image_Type_Code" minOccurs = "0"/>
			<xsd:element name = "Signature_Type" type = "xtd:Call_Signature_Type_Code" minOccurs = "0"/>
		</xsd:all>
		<xsd:attribute name = "operation" default = "NONE" type = "xtd:operationType"/>
		<xsd:attribute name = "objectId" type = "xsd:string"/>
		<xsd:attribute name = "type_name" fixed = "Call_Signature" type = "xsd:string"/>
	</xsd:complexType>
	<xsd:complexType name = "Call_Signature_Insert_Type">
		<xsd:complexContent>
			<xsd:restriction base = "Call_Signature_Type">
				<xsd:all>
					<xsd:element name = "Call_Signature_ID" type = "xtd:Number16"/>
					<xsd:element name = "Signature" type = "xtd:blobType"/>
					<xsd:element name = "Image_Type" type = "xtd:Call_Signature_Image_Type_Code"/>
					<xsd:element name = "Signature_Type" type = "xtd:Call_Signature_Type_Code"/>
				</xsd:all>
				<xsd:attribute name = "operation" default = "NONE" type = "xtd:operationType"/>
				<xsd:attribute name = "objectId" type = "xsd:string"/>
				<xsd:attribute name = "type_name" fixed = "Call_Signature" type = "xsd:string"/>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name = "Call_Type">
		<xsd:all>
			<xsd:element name = "Call_ID" type = "xtd:Number16"/>
			<xsd:element name = "Customer_ID" type = "xtd:Number16" minOccurs = "0"/>
			<xsd:element name = "Employee_ID" type = "xtd:Number16" minOccurs = "0"/>
			<xsd:element name = "Sales_Area_Value" type = "xtd:String100" minOccurs = "0"/>
			<xsd:element name = "Sales_Force_Name" type = "xtd:String100" minOccurs = "0"/>
			<xsd:element name = "Call_Type" type = "xtd:Call_Type_Code" minOccurs = "0"/>
			<xsd:element name = "Record_Type" type = "xtd:Record_Type_Code" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Call_Date" type = "xtd:dateTimeStringType" minOccurs = "0"/>
			<xsd:element name = "Sample_Document_Value" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "State_License_Number" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "State_License_State" type = "xtd:Region_Code" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "State_License_Expiration_Date" type = "xtd:dateTimeStringType" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "DEA_Number" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "DEA_Expiration_Date" type = "xtd:dateTimeStringType" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Sampling_Status" type = "xtd:Sampling_Status_Code" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Professional_Suffix" type = "xtd:Prof_Suffix_Code" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Address_ID" type = "xtd:Number16" minOccurs = "0"/>
			<xsd:element name = "Address_Line1" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Address_Line2" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Address_Line3" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "City" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Region" type = "xtd:Region_Code" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Postal_Area" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Postal_Area_Extension" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Organization_Name" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Org_Address_Line1" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Org_Address_Line2" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Org_Address_Line3" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Org_City" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Org_Region" type = "xtd:Region_Code" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Org_Postal_Area" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Org_Postal_Area_Extension" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Org_Country" type = "xtd:Country_Code" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Prescriber_Seen_Count" type = "xtd:Number9" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Call_Value" type = "xtd:Decimal5.2" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Contact_Type" type = "xtd:Contact_Type_Code" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Audience" type = "xtd:Audience_Code" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Not_Visited_Reason" type = "xtd:Not_Visited_Reason_Code" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Business_Issue" type = "xtd:Business_Issue_Code" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Buying_Cycle" type = "xtd:Buying_Cycle_Code" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Accompanied_By" type = "xtd:Accompanied_By_Code" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Disbursement_Type" type = "xtd:Disbursement_Type_Code" minOccurs = "0"/>
			<xsd:element name = "External_ID_1" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Receipt_Request_Indicator" type = "xtd:Receipt_Request_Type_Code" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Rep_State_License_Number" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Call_Details_List" minOccurs = "0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name = "Call_Details" type = "Call_Details_Type" maxOccurs = "unbounded"/>
					</xsd:sequence>
					<xsd:attribute name = "type_name" fixed = "Call_Details_List" type = "xsd:string"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name = "Sample_Disbursements_List" minOccurs = "0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name = "Sample_Disbursements" type = "Sample_Disbursements_Type" maxOccurs = "unbounded"/>
					</xsd:sequence>
					<xsd:attribute name = "type_name" fixed = "Sample_Disbursements_List" type = "xsd:string"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name = "Call_Expense_List" minOccurs = "0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name = "Call_Expense" type = "Call_Expense_Type" maxOccurs = "unbounded"/>
					</xsd:sequence>
					<xsd:attribute name = "type_name" fixed = "Call_Expense_List" type = "xsd:string"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name = "Call_Sample_Request_List" minOccurs = "0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name = "Call_Sample_Request" type = "Call_Sample_Request_Type" maxOccurs = "unbounded"/>
					</xsd:sequence>
					<xsd:attribute name = "type_name" fixed = "Call_Sample_Request_List" type = "xsd:string"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name = "Call_Signature_List" minOccurs = "0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name = "Call_Signature" type = "Call_Signature_Type" maxOccurs = "unbounded"/>
					</xsd:sequence>
					<xsd:attribute name = "type_name" fixed = "Call_Signature_List" type = "xsd:string"/>
				</xsd:complexType>
			</xsd:element>
		</xsd:all>
		<xsd:attribute name = "operation" default = "NONE" type = "xtd:operationType"/>
		<xsd:attribute name = "objectId" type = "xsd:string"/>
		<xsd:attribute name = "type_name" fixed = "Call" type = "xsd:string"/>
	</xsd:complexType>
	<xsd:complexType name = "Call_Insert_Type">
		<xsd:complexContent>
			<xsd:restriction base = "Call_Type">
				<xsd:all>
					<xsd:element name = "Call_ID" type = "xtd:Number16"/>
					<xsd:element name = "Customer_ID" type = "xtd:Number16"/>
					<xsd:element name = "Employee_ID" type = "xtd:Number16"/>
					<xsd:element name = "Sales_Area_Value" type = "xtd:String100"/>
					<xsd:element name = "Sales_Force_Name" type = "xtd:String100"/>
					<xsd:element name = "Call_Type" type = "xtd:Call_Type_Code"/>
					<xsd:element name = "Record_Type" type = "xtd:Record_Type_Code" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "Call_Date" type = "xtd:dateTimeStringType"/>
					<xsd:element name = "Sample_Document_Value" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "State_License_Number" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "State_License_State" type = "xtd:Region_Code" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "State_License_Expiration_Date" type = "xtd:dateTimeStringType" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "DEA_Number" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "DEA_Expiration_Date" type = "xtd:dateTimeStringType" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "Sampling_Status" type = "xtd:Sampling_Status_Code" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "Professional_Suffix" type = "xtd:Prof_Suffix_Code" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "Address_ID" type = "xtd:Number16"/>
					<xsd:element name = "Address_Line1" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "Address_Line2" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "Address_Line3" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "City" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "Region" type = "xtd:Region_Code" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "Postal_Area" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "Postal_Area_Extension" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "Organization_Name" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "Org_Address_Line1" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "Org_Address_Line2" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "Org_Address_Line3" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "Org_City" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "Org_Region" type = "xtd:Region_Code" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "Org_Postal_Area" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "Org_Postal_Area_Extension" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "Org_Country" type = "xtd:Country_Code" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "Prescriber_Seen_Count" type = "xtd:Number9" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "Call_Value" type = "xtd:Decimal5.2" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "Contact_Type" type = "xtd:Contact_Type_Code" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "Audience" type = "xtd:Audience_Code" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "Not_Visited_Reason" type = "xtd:Not_Visited_Reason_Code" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "Business_Issue" type = "xtd:Business_Issue_Code" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "Buying_Cycle" type = "xtd:Buying_Cycle_Code" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "Accompanied_By" type = "xtd:Accompanied_By_Code" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "Disbursement_Type" type = "xtd:Disbursement_Type_Code"/>
					<xsd:element name = "External_ID_1" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "Receipt_Request_Indicator" type = "xtd:Receipt_Request_Type_Code" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "Rep_State_License_Number" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "Call_Details_List" minOccurs = "0">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name = "Call_Details" type = "Call_Details_Type" maxOccurs = "unbounded"/>
							</xsd:sequence>
							<xsd:attribute name = "type_name" fixed = "Call_Details_List" type = "xsd:string"/>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name = "Sample_Disbursements_List" minOccurs = "0">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name = "Sample_Disbursements" type = "Sample_Disbursements_Type" maxOccurs = "unbounded"/>
							</xsd:sequence>
							<xsd:attribute name = "type_name" fixed = "Sample_Disbursements_List" type = "xsd:string"/>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name = "Call_Expense_List" minOccurs = "0">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name = "Call_Expense" type = "Call_Expense_Type" maxOccurs = "unbounded"/>
							</xsd:sequence>
							<xsd:attribute name = "type_name" fixed = "Call_Expense_List" type = "xsd:string"/>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name = "Call_Sample_Request_List" minOccurs = "0">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name = "Call_Sample_Request" type = "Call_Sample_Request_Type" maxOccurs = "unbounded"/>
							</xsd:sequence>
							<xsd:attribute name = "type_name" fixed = "Call_Sample_Request_List" type = "xsd:string"/>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name = "Call_Signature_List" minOccurs = "0">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name = "Call_Signature" type = "Call_Signature_Type" maxOccurs = "unbounded"/>
							</xsd:sequence>
							<xsd:attribute name = "type_name" fixed = "Call_Signature_List" type = "xsd:string"/>
						</xsd:complexType>
					</xsd:element>
				</xsd:all>
				<xsd:attribute name = "operation" default = "NONE" type = "xtd:operationType"/>
				<xsd:attribute name = "objectId" type = "xsd:string"/>
				<xsd:attribute name = "type_name" fixed = "Call" type = "xsd:string"/>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>