web/xml/XMLSchema/Sample XSD Files/Employee_Sales_Area.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://schemas.dendrite.com/IS/1.0.0/Employee_Sales_Area"
	 targetNamespace = "http://schemas.dendrite.com/IS/1.0.0/Employee_Sales_Area"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 xmlns:xtd = "http://schemas.dendrite.com/IS/1.0.0/XTDataTypes">
  <xsd:import namespace = "http://schemas.dendrite.com/IS/1.0.0/XTDataTypes" schemaLocation = "XTDataTypes.xsd"/>
  <!--
		W3C XML Schema Generated using Xtelligent Schema generator.
		Date: Thu Apr 22 14:20:33 PDT 2004-->

  <xsd:element name = "Employee_Sales_Area" type = "Employee_Sales_Area_Type"/>
  <xsd:complexType name = "Employee_Sales_Area_Type">
    <xsd:all>
      <xsd:element name = "Employee_Sales_Area_ID" type = "xtd:Number16"/>
      <xsd:element name = "Sales_Area_ID" type = "xtd:Number16" minOccurs = "0"/>
      <xsd:element name = "Employee_ID" type = "xtd:Number16" minOccurs = "0"/>
      <xsd:element name = "Employee_Assignment_Type" type = "xtd:Empl_Assgn_Type_Code" nillable = "true"/>
      <xsd:element name = "Activity_Status" type = "xtd:Activity_Status_Code" minOccurs = "0"/>
      <xsd:element name = "Effective_Date" type = "xtd:dateTimeStringType" minOccurs = "0"/>
      <xsd:element name = "End_Date" type = "xtd:dateTimeStringType" minOccurs = "0"/>
      <xsd:element name = "External_ID_1" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
    </xsd:all>
    <xsd:attribute name = "operation" default = "NONE" type = "xtd:operationType"/>
    <xsd:attribute name = "objectId" type = "xsd:string"/>
    <xsd:attribute name = "type_name" fixed = "Employee_Sales_Area" type = "xsd:string"/>
  </xsd:complexType>
  <xsd:complexType name = "Employee_Sales_Area_Insert_Type">
    <xsd:complexContent>
      <xsd:restriction base = "Employee_Sales_Area_Type">
        <xsd:all>
          <xsd:element name = "Employee_Sales_Area_ID" type = "xtd:Number16"/>
          <xsd:element name = "Sales_Area_ID" type = "xtd:Number16"/>
          <xsd:element name = "Employee_ID" type = "xtd:Number16"/>
          <xsd:element name = "Employee_Assignment_Type" type = "xtd:Empl_Assgn_Type_Code" nillable = "true"/>
          <xsd:element name = "Activity_Status" type = "xtd:Activity_Status_Code"/>
          <xsd:element name = "Effective_Date" type = "xtd:dateTimeStringType"/>
          <xsd:element name = "End_Date" type = "xtd:dateTimeStringType"/>
          <xsd:element name = "External_ID_1" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
        </xsd:all>
        <xsd:attribute name = "operation" default = "NONE" type = "xtd:operationType"/>
        <xsd:attribute name = "objectId" type = "xsd:string"/>
        <xsd:attribute name = "type_name" fixed = "Employee_Sales_Area" type = "xsd:string"/>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>