web/xml/XMLSchema/Sample XSD Files/Employee_Synchronization_Log.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://schemas.dendrite.com/IS/1.0.0/Employee_Synchronization_Log"
	 targetNamespace = "http://schemas.dendrite.com/IS/1.0.0/Employee_Synchronization_Log"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 xmlns:xtd = "http://schemas.dendrite.com/IS/1.0.0/XTDataTypes"
	 elementFormDefault = "unqualified">
  <xsd:import namespace = "http://schemas.dendrite.com/IS/1.0.0/XTDataTypes" schemaLocation = "XTDataTypes.xsd"/>
  <!--
		W3C XML Schema Generated using Xtelligent Schema generator.
		Date: Thu May 6 15:46:28 UTC+0530 2004-->

  <xsd:element name = "Employee_Synchronization_Log" type = "Employee_Synchronization_Log_Type"/>
  <xsd:complexType name = "Employee_Synchronization_Log_Type">
    <xsd:all>
      <xsd:element name = "Employee_Synchronization_Log_ID" type = "xtd:Number16" minOccurs = "0"/>
      <xsd:element name = "Employee_ID" type = "xtd:Number16" minOccurs = "0"/>
      <xsd:element name = "Synchronization_Start_Date_Time" type = "xtd:dateTimeStringType" minOccurs = "0"/>
      <xsd:element name = "Synchronization_End_Date_Time" type = "xtd:dateTimeStringType" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Synchronization_Status" type = "xtd:Synchronization_Status_Code" minOccurs = "0"/>
    </xsd:all>
    <xsd:attribute name = "operation" default = "NONE" type = "xtd:operationType"/>
    <xsd:attribute name = "objectId" type = "xsd:string"/>
    <xsd:attribute name = "type_name" fixed = "Employee_Synchronization_Log" type = "xsd:string"/>
  </xsd:complexType>
  <xsd:complexType name = "Employee_Synchronization_Log_Insert_Type">
    <xsd:complexContent>
      <xsd:restriction base = "Employee_Synchronization_Log_Type">
        <xsd:all>
          <xsd:element name = "Employee_Synchronization_Log_ID" type = "xtd:Number16"/>
          <xsd:element name = "Employee_ID" type = "xtd:Number16"/>
          <xsd:element name = "Synchronization_Start_Date_Time" type = "xtd:dateTimeStringType"/>
          <xsd:element name = "Synchronization_End_Date_Time" type = "xtd:dateTimeStringType" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Synchronization_Status" type = "xtd:Synchronization_Status_Code"/>
        </xsd:all>
        <xsd:attribute name = "operation" default = "NONE" type = "xtd:operationType"/>
        <xsd:attribute name = "objectId" type = "xsd:string"/>
        <xsd:attribute name = "type_name" fixed = "Employee_Synchronization_Log" type = "xsd:string"/>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>