web/xml/XMLSchema/Sample XSD Files/IS_Entities.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://schemas.dendrite.com/IS/1.0.0"
	 targetNamespace = "http://schemas.dendrite.com/IS/1.0.0"
	 xmlns:mftrans = "http://schemas.dendrite.com/IS/1.0.0/Mail_Fulfillment_Transaction"
	 xmlns:prof = "http://schemas.dendrite.com/IS/1.0.0/Professional"
	 xmlns:postarea = "http://schemas.dendrite.com/IS/1.0.0/Postal_Area"
	 xmlns:Insp = "http://schemas.dendrite.com/IS/1.0.0/Inspection"
	 xmlns:saforSalarea = "http://schemas.dendrite.com/IS/1.0.0/Sales_Force_Sales_Area"
	 xmlns:affl = "http://schemas.dendrite.com/IS/1.0.0/Customer_Affiliation"
	 xmlns:form = "http://schemas.dendrite.com/IS/1.0.0/Formulary"
	 xmlns:samptr = "http://schemas.dendrite.com/IS/1.0.0/Sample_Transaction"
	 xmlns:xtd = "http://schemas.dendrite.com/IS/1.0.0/XTDataTypes"
	 xmlns:sa = "http://schemas.dendrite.com/IS/1.0.0/Sales_Area"
	 xmlns:Invnt = "http://schemas.dendrite.com/IS/1.0.0/Inventory"
	 xmlns:sarela = "http://schemas.dendrite.com/IS/1.0.0/Sales_Area_Relation"
	 xmlns:curatg = "http://schemas.dendrite.com/IS/1.0.0/Customer_Rating"
	 xmlns:empsaarea = "http://schemas.dendrite.com/IS/1.0.0/Employee_Sales_Area"
	 xmlns:mergerequest = "http://schemas.dendrite.com/IS/1.0.0/Merge_Request"
	 xmlns:prdsaarea = "http://schemas.dendrite.com/IS/1.0.0/Product_Sales_Force"
	 xmlns:meetgsaar = "http://schemas.dendrite.com/IS/1.0.0/Meeting_Sales_Area"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 xmlns:call = "http://schemas.dendrite.com/IS/1.0.0/Call"
	 xmlns:comp = "http://schemas.dendrite.com/IS/1.0.0/Company"
	 xmlns:copr = "http://schemas.dendrite.com/IS/1.0.0/Company_Product_Rating"
	 xmlns:emp = "http://schemas.dendrite.com/IS/1.0.0/Employee"
	 xmlns:emptimoff = "http://schemas.dendrite.com/IS/1.0.0/Employee_Time_Off"
	 xmlns:saforrel = "http://schemas.dendrite.com/IS/1.0.0/Sales_Force_Relation"
	 xmlns:empsynclog = "http://schemas.dendrite.com/IS/1.0.0/Employee_Synchronization_Log"
	 xmlns:prd = "http://schemas.dendrite.com/IS/1.0.0/Product"
	 xmlns:meetg = "http://schemas.dendrite.com/IS/1.0.0/Meeting"
	 xmlns:geosalsarea = "http://schemas.dendrite.com/IS/1.0.0/Geography_Sales_Area"
	 xmlns:surrslt = "http://schemas.dendrite.com/IS/1.0.0/Survey_Result"
	 xmlns:org = "http://schemas.dendrite.com/IS/1.0.0/Organization"
	 xmlns:cusalarea = "http://schemas.dendrite.com/IS/1.0.0/Customer_Sales_Area"
	 xmlns:salforc = "http://schemas.dendrite.com/IS/1.0.0/Sales_Force"
	 xmlns:mco = "http://schemas.dendrite.com/IS/1.0.0/Managed_Care"
	 xmlns:refresh_request = "http://schemas.dendrite.com/IS/1.0.0/Refresh_Request"
	 xmlns:surqust = "http://schemas.dendrite.com/IS/1.0.0/Survey_Question"
	 xmlns:prdrela = "http://schemas.dendrite.com/IS/1.0.0/Product_Relation"
	 xmlns:geo = "http://schemas.dendrite.com/IS/1.0.0/Geography"
	 xmlns:geoposarea = "http://schemas.dendrite.com/IS/1.0.0/Geography_Postal_Area"
	 xmlns:order = "http://schemas.dendrite.com/IS/1.0.0/Order"
	 xmlns:custou = "http://schemas.dendrite.com/IS/1.0.0/Customer_Touch"
	 >
	
	<xsd:import namespace = "http://schemas.dendrite.com/IS/1.0.0/Mail_Fulfillment_Transaction" schemaLocation = "Mail_Fulfillment_Transaction.xsd"/>
	<xsd:import namespace = "http://schemas.dendrite.com/IS/1.0.0/Professional" schemaLocation = "Professional.xsd"/>
	<xsd:import namespace = "http://schemas.dendrite.com/IS/1.0.0/Postal_Area" schemaLocation = "Postal_Area.xsd"/>
	<xsd:import namespace = "http://schemas.dendrite.com/IS/1.0.0/Inspection" schemaLocation = "Inspection.xsd"/>
	<xsd:import namespace = "http://schemas.dendrite.com/IS/1.0.0/Sales_Force_Sales_Area" schemaLocation = "Sales_Force_Sales_Area.xsd"/>
	<xsd:import namespace = "http://schemas.dendrite.com/IS/1.0.0/Customer_Affiliation" schemaLocation = "Customer_Affiliation.xsd"/>
	<xsd:import namespace = "http://schemas.dendrite.com/IS/1.0.0/Formulary" schemaLocation = "Formulary.xsd"/>
	<xsd:import namespace = "http://schemas.dendrite.com/IS/1.0.0/Sample_Transaction" schemaLocation = "Sample_Transaction.xsd"/>
	<xsd:import namespace = "http://schemas.dendrite.com/IS/1.0.0/XTDataTypes" schemaLocation = "XTDataTypes.xsd"/>
	<xsd:import namespace = "http://schemas.dendrite.com/IS/1.0.0/Sales_Area" schemaLocation = "Sales_Area.xsd"/>
	<xsd:import namespace = "http://schemas.dendrite.com/IS/1.0.0/Inventory" schemaLocation = "Inventory.xsd"/>
	<xsd:import namespace = "http://schemas.dendrite.com/IS/1.0.0/Sales_Area_Relation" schemaLocation = "Sales_Area_Relation.xsd"/>
	<xsd:import namespace = "http://schemas.dendrite.com/IS/1.0.0/Customer_Rating" schemaLocation = "Customer_Rating.xsd"/>
	<xsd:import namespace = "http://schemas.dendrite.com/IS/1.0.0/Employee_Sales_Area" schemaLocation = "Employee_Sales_Area.xsd"/>
	<xsd:import namespace = "http://schemas.dendrite.com/IS/1.0.0/Merge_Request" schemaLocation = "Merge_Request.xsd"/>
	<xsd:import namespace = "http://schemas.dendrite.com/IS/1.0.0/Product_Sales_Force" schemaLocation = "Product_Sales_Force.xsd"/>
	<xsd:import namespace = "http://schemas.dendrite.com/IS/1.0.0/Meeting_Sales_Area" schemaLocation = "Meeting_Sales_Area.xsd"/>
	<xsd:import namespace = "http://schemas.dendrite.com/IS/1.0.0/Call" schemaLocation = "Call.xsd"/>
	<xsd:import namespace = "http://schemas.dendrite.com/IS/1.0.0/Company" schemaLocation = "Company.xsd"/>
	<xsd:import namespace = "http://schemas.dendrite.com/IS/1.0.0/Company_Product_Rating" schemaLocation = "Company_Product_Rating.xsd"/>
	<xsd:import namespace = "http://schemas.dendrite.com/IS/1.0.0/Employee" schemaLocation = "Employee.xsd"/>
	<xsd:import namespace = "http://schemas.dendrite.com/IS/1.0.0/Employee_Time_Off" schemaLocation = "Employee_Time_Off.xsd"/>
	<xsd:import namespace = "http://schemas.dendrite.com/IS/1.0.0/Sales_Force_Relation" schemaLocation = "Sales_Force_Relation.xsd"/>
	<xsd:import namespace = "http://schemas.dendrite.com/IS/1.0.0/Employee_Synchronization_Log" schemaLocation = "Employee_Synchronization_Log.xsd"/>
	<xsd:import namespace = "http://schemas.dendrite.com/IS/1.0.0/Product" schemaLocation = "Product.xsd"/>
	<xsd:import namespace = "http://schemas.dendrite.com/IS/1.0.0/Meeting" schemaLocation = "Meeting.xsd"/>
	<xsd:import namespace = "http://schemas.dendrite.com/IS/1.0.0/Geography_Sales_Area" schemaLocation = "Geography_Sales_Area.xsd"/>
	<xsd:import namespace = "http://schemas.dendrite.com/IS/1.0.0/Survey_Result" schemaLocation = "Survey_Result.xsd"/>
	<xsd:import namespace = "http://schemas.dendrite.com/IS/1.0.0/Organization" schemaLocation = "Organization.xsd"/>
	<xsd:import namespace = "http://schemas.dendrite.com/IS/1.0.0/Customer_Sales_Area" schemaLocation = "Customer_Sales_Area.xsd"/>
	<xsd:import namespace = "http://schemas.dendrite.com/IS/1.0.0/Sales_Force" schemaLocation = "Sales_Force.xsd"/>
	<xsd:import namespace = "http://schemas.dendrite.com/IS/1.0.0/Managed_Care" schemaLocation = "Managed_Care.xsd"/>
	<xsd:import namespace = "http://schemas.dendrite.com/IS/1.0.0/Refresh_Request" schemaLocation = "Refresh_Request.xsd"/>
	<xsd:import namespace = "http://schemas.dendrite.com/IS/1.0.0/Survey_Question" schemaLocation = "Survey_Question.xsd"/>
	<xsd:import namespace = "http://schemas.dendrite.com/IS/1.0.0/Product_Relation" schemaLocation = "Product_Relation.xsd"/>
	<xsd:import namespace = "http://schemas.dendrite.com/IS/1.0.0/Geography" schemaLocation = "Geography.xsd"/>
	<xsd:import namespace = "http://schemas.dendrite.com/IS/1.0.0/Geography_Postal_Area" schemaLocation = "Geography_Postal_Area.xsd"/>
	<!-- These below entities are added as part of Sales And Marketing Integration on 4th Mar 2008-->
	<xsd:import namespace = "http://schemas.dendrite.com/IS/1.0.0/Order" schemaLocation = "Order.xsd"/>
	<xsd:import namespace = "http://schemas.dendrite.com/IS/1.0.0/Customer_Touch" schemaLocation = "Customer_Touch.xsd"/>

	<xsd:element name = "TransactionSet" type = "TransactionSet"/>
	<xsd:complexType name = "TransactionSet">
		<xsd:sequence>
			<xsd:element name = "TransactionSetProperties">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name = "DateTimeFormats" type = "xtd:DateTimeFormatsType"/>
						<xsd:element name = "Source" type = "xtd:APP_Name_Code"/>
						<xsd:element name = "Message_Version" type = "xsd:string"/>
						<xsd:element name = "COM_Version" type = "xsd:string"/>
						<xsd:element name = "Application_Version" type = "xsd:string"/>
						<xsd:element name = "Refresh_Response" type = "xsd:boolean" minOccurs = "0"/>
						<xsd:element name = "Refresh_Request_Originator" type = "xsd:string" minOccurs = "0"/>
						<xsd:element name = "Subscriber_List" minOccurs = "0">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:any namespace = "##any" processContents = "skip" minOccurs = "0" maxOccurs = "unbounded"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
					<xsd:attribute name = "null_representation" use = "required" type = "xsd:string"/>
					<xsd:attribute name = "transaction_scope" use = "required" type = "xsd:string"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name = "Exception" minOccurs = "0">
				<xsd:complexType>
					<xsd:all>
						<xsd:element name = "Type" type = "xsd:string"/>
						<xsd:element name = "ErrorCode" type = "xsd:string" minOccurs = "0"/>
						<xsd:element name = "DateTime" type = "xtd:dateTimeStringType" minOccurs = "0"/>
						<xsd:element name = "Description" type = "xsd:string" minOccurs = "0"/>
						<xsd:element name = "RetryCount" type = "xsd:integer" minOccurs = "0"/>
					</xsd:all>
				</xsd:complexType>
			</xsd:element>
			<xsd:choice>
				<xsd:element ref = "comp:Company" maxOccurs = "unbounded"/>
				<xsd:element ref = "Invnt:Inventory" maxOccurs = "unbounded"/>
				<xsd:element ref = "prdrela:Product_Relation" maxOccurs = "unbounded"/>
				<xsd:element ref = "affl:Customer_Affiliation" maxOccurs = "unbounded"/>
				<xsd:element ref = "prdsaarea:Product_Sales_Force" maxOccurs = "unbounded"/>
				<xsd:element ref = "prof:Professional" maxOccurs = "unbounded"/>
				<xsd:element ref = "call:Call" maxOccurs = "unbounded"/>
				<xsd:element ref = "copr:Company_Product_Rating" maxOccurs = "unbounded"/>
				<xsd:element ref = "curatg:Customer_Rating" maxOccurs = "unbounded"/>
				<xsd:element ref = "cusalarea:Customer_Sales_Area" maxOccurs = "unbounded"/>
				<xsd:element ref = "emp:Employee" maxOccurs = "unbounded"/>
				<xsd:element ref = "empsaarea:Employee_Sales_Area" maxOccurs = "unbounded"/>
				<xsd:element ref = "emptimoff:Employee_Time_Off" maxOccurs = "unbounded"/>
				<xsd:element ref = "form:Formulary" maxOccurs = "unbounded"/>
				<xsd:element ref = "geo:Geography" maxOccurs = "unbounded"/>
				<xsd:element ref = "geoposarea:Geography_Postal_Area" maxOccurs = "unbounded"/>
				<xsd:element ref = "geosalsarea:Geography_Sales_Area" maxOccurs = "unbounded"/>
				<xsd:element ref = "Insp:Inspection" maxOccurs = "unbounded"/>
				<xsd:element ref = "mco:Managed_Care" maxOccurs = "unbounded"/>
				<xsd:element ref = "meetg:Meeting" maxOccurs = "unbounded"/>
				<xsd:element ref = "meetgsaar:Meeting_Sales_Area" maxOccurs = "unbounded"/>
				<xsd:element ref = "org:Organization" maxOccurs = "unbounded"/>
				<xsd:element ref = "postarea:Postal_Area" maxOccurs = "unbounded"/>
				<xsd:element ref = "prd:Product" maxOccurs = "unbounded"/>
				<xsd:element ref = "sa:Sales_Area" maxOccurs = "unbounded"/>
				<xsd:element ref = "sarela:Sales_Area_Relation" maxOccurs = "unbounded"/>
				<xsd:element ref = "salforc:Sales_Force" maxOccurs = "unbounded"/>
				<xsd:element ref = "saforrel:Sales_Force_Relation" maxOccurs = "unbounded"/>
				<xsd:element ref = "saforSalarea:Sales_Force_Sales_Area" maxOccurs = "unbounded"/>
				<xsd:element ref = "samptr:Sample_Transaction" maxOccurs = "unbounded"/>
				<xsd:element ref = "surqust:Survey_Question" maxOccurs = "unbounded"/>
				<xsd:element ref = "surrslt:Survey_Result" maxOccurs = "unbounded"/>
				<xsd:element ref = "refresh_request:Refresh_Request" maxOccurs = "unbounded"/>
				<xsd:element ref = "mergerequest:Merge_Request" maxOccurs = "unbounded"/>
				<xsd:element ref = "mftrans:Mail_Fulfillment_Transaction" maxOccurs = "unbounded"/>
				<xsd:element ref = "empsynclog:Employee_Synchronization_Log" maxOccurs = "unbounded"/>
				<!-- These below entities are added as part of Sales And Marketing Integration on 4th Mar 2008-->
				<xsd:element ref = "order:Order" maxOccurs = "unbounded"/>
				<xsd:element ref = "custou:Customer_Touch" maxOccurs = "unbounded"/>

			</xsd:choice>
		</xsd:sequence>
		<xsd:attribute name = "msgid" use = "required" type = "xsd:string"/>
	</xsd:complexType>
</xsd:schema>