web/xml/XMLSchema/Sample XSD Files/Mail_Fulfillment_Transaction.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://schemas.dendrite.com/IS/1.0.0/Mail_Fulfillment_Transaction"
	 targetNamespace = "http://schemas.dendrite.com/IS/1.0.0/Mail_Fulfillment_Transaction"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 xmlns:xtd = "http://schemas.dendrite.com/IS/1.0.0/XTDataTypes"
	 elementFormDefault = "unqualified">
	<xsd:import namespace = "http://schemas.dendrite.com/IS/1.0.0/XTDataTypes" schemaLocation = "XTDataTypes.xsd"/>
	<!--
		W3C XML Schema Generated using Xtelligent Schema generator.
		Date: Thu May 6 15:46:28 UTC+0530 2004-->
	
	<xsd:element name = "Mail_Fulfillment_Transaction" type = "Mail_Fulfillment_Transaction_Type"/>
	<xsd:complexType name = "Mail_Fulfillment_Transaction_Detail_Type">
		<xsd:all>
			<xsd:element name = "Mail_Fulfillment_Transaction_Detail_ID" type = "xtd:Number16"/>
			<xsd:element name = "Product_ID" type = "xtd:Number16" minOccurs = "0"/>
			<xsd:element name = "Lot_Number" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Unit_Quantity" type = "xtd:Number9" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Case_Quantity" type = "xtd:Number9" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "External_ID_1" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
		</xsd:all>
		<xsd:attribute name = "operation" default = "NONE" type = "xtd:operationType"/>
		<xsd:attribute name = "objectId" type = "xsd:string"/>
		<xsd:attribute name = "type_name" fixed = "Mail_Fulfillment_Transaction_Detail" type = "xsd:string"/>
	</xsd:complexType>
	<xsd:complexType name = "Mail_Fulfillment_Transaction_Detail_Insert_Type">
		<xsd:complexContent>
			<xsd:restriction base = "Mail_Fulfillment_Transaction_Detail_Type">
				<xsd:all>
					<xsd:element name = "Mail_Fulfillment_Transaction_Detail_ID" type = "xtd:Number16"/>
					<xsd:element name = "Product_ID" type = "xtd:Number16"/>
					<xsd:element name = "Lot_Number" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "Unit_Quantity" type = "xtd:Number9" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "Case_Quantity" type = "xtd:Number9" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "External_ID_1" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
				</xsd:all>
				<xsd:attribute name = "operation" default = "NONE" type = "xtd:operationType"/>
				<xsd:attribute name = "objectId" type = "xsd:string"/>
				<xsd:attribute name = "type_name" fixed = "Mail_Fulfillment_Transaction_Detail" type = "xsd:string"/>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name = "Mail_Fulfillment_Signature_Type">
		<xsd:all>
			<xsd:element name = "Mail_Fulfillment_Signature_ID" type = "xtd:Number16"/>
			<xsd:element name = "Signature" type = "xtd:blobType" minOccurs = "0"/>
			<xsd:element name = "Image_Type" type = "xtd:Mail_Fulfillment_Image_Type_Code" minOccurs = "0"/>
			<xsd:element name = "Signature_Type" type = "xtd:Mail_Fulfillment_Signature_Type_Code" minOccurs = "0"/>
		</xsd:all>
		<xsd:attribute name = "operation" default = "NONE" type = "xtd:operationType"/>
		<xsd:attribute name = "objectId" type = "xsd:string"/>
		<xsd:attribute name = "type_name" fixed = "Mail_Fulfillment_Signature" type = "xsd:string"/>
	</xsd:complexType>
	<xsd:complexType name = "Mail_Fulfillment_Signature_Insert_Type">
		<xsd:complexContent>
			<xsd:restriction base = "Mail_Fulfillment_Signature_Type">
				<xsd:all>
					<xsd:element name = "Mail_Fulfillment_Signature_ID" type = "xtd:Number16"/>
					<xsd:element name = "Signature" type = "xtd:blobType"/>
					<xsd:element name = "Image_Type" type = "xtd:Mail_Fulfillment_Image_Type_Code"/>
					<xsd:element name = "Signature_Type" type = "xtd:Mail_Fulfillment_Signature_Type_Code"/>
				</xsd:all>
				<xsd:attribute name = "operation" default = "NONE" type = "xtd:operationType"/>
				<xsd:attribute name = "objectId" type = "xsd:string"/>
				<xsd:attribute name = "type_name" fixed = "Mail_Fulfillment_Signature" type = "xsd:string"/>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name = "Mail_Fulfillment_Transaction_Type">
		<xsd:all>
			<xsd:element name = "Mail_Fulfillment_Transaction_ID" type = "xtd:Number16"/>
			<xsd:element name = "Call_ID" type = "xtd:Number16" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Customer_ID" type = "xtd:Number16" minOccurs = "0"/>
			<xsd:element name = "Customer_Name" type = "xtd:String200" minOccurs = "0"/>
			<xsd:element name = "Employee_ID" type = "xtd:Number16" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Sales_Area_Value" type = "xtd:String100" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Sales_Force_Name" type = "xtd:String100" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Mail_Fulfillment_Transaction_Type" type = "xtd:Mail_Fulfillment_Type_Code" minOccurs = "0"/>
			<xsd:element name = "Mail_Fulfillment_Transaction_Sub_Type" type = "xtd:Mail_Fulfillment_Sub_Type_Code" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Mail_Fulfillment_Transaction_Status" type = "xtd:Mail_Fulfillment_Status_Code" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Mail_Fulfillment_Transaction_Date" type = "xtd:dateTimeStringType" minOccurs = "0"/>
			<xsd:element name = "Cancellation_Date" type = "xtd:dateTimeStringType" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Cancellation_Reason" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Mail_Transaction_Document_Value" type = "xtd:String200" minOccurs = "0"/>
			<xsd:element name = "State_License_Number" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "State_License_State" type = "xtd:Region_Code" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "State_License_Expiration_Date" type = "xtd:dateTimeStringType" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "DEA_Number" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "DEA_Expiration_Date" type = "xtd:dateTimeStringType" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Sampling_Status" type = "xtd:Sampling_Status_Code" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Professional_Suffix" type = "xtd:Prof_Suffix_Code" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Address_Line1" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Address_Line2" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Address_Line3" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "City" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Region" type = "xtd:Region_Code" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Postal_Area" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Postal_Area_Extension" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Country" type = "xtd:Country_Code" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "External_ID_1" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Carrier" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Shipment_ID" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Mail_Fulfillment_Transaction_Detail_List" minOccurs = "0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name = "Mail_Fulfillment_Transaction_Detail" type = "Mail_Fulfillment_Transaction_Detail_Type" maxOccurs = "unbounded"/>
					</xsd:sequence>
					<xsd:attribute name = "type_name" fixed = "Mail_Fulfillment_Transaction_Detail_List" type = "xsd:string"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name = "Mail_Fulfillment_Signature_List" minOccurs = "0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name = "Mail_Fulfillment_Signature" type = "Mail_Fulfillment_Signature_Type" maxOccurs = "unbounded"/>
					</xsd:sequence>
					<xsd:attribute name = "type_name" fixed = "Mail_Fulfillment_Signature_List" type = "xsd:string"/>
				</xsd:complexType>
			</xsd:element>
		</xsd:all>
		<xsd:attribute name = "operation" default = "NONE" type = "xtd:operationType"/>
		<xsd:attribute name = "objectId" type = "xsd:string"/>
		<xsd:attribute name = "type_name" fixed = "Mail_Fulfillment_Transaction" type = "xsd:string"/>
	</xsd:complexType>
	<xsd:complexType name = "Mail_Fulfillment_Transaction_Insert_Type">
		<xsd:complexContent>
			<xsd:restriction base = "Mail_Fulfillment_Transaction_Type">
				<xsd:all>
					<xsd:element name = "Mail_Fulfillment_Transaction_ID" type = "xtd:Number16"/>
					<xsd:element name = "Call_ID" type = "xtd:Number16" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "Customer_ID" type = "xtd:Number16"/>
					<xsd:element name = "Customer_Name" type = "xtd:String200"/>
					<xsd:element name = "Employee_ID" type = "xtd:Number16" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "Sales_Area_Value" type = "xtd:String100" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "Sales_Force_Name" type = "xtd:String100" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "Mail_Fulfillment_Transaction_Type" type = "xtd:Mail_Fulfillment_Type_Code"/>
					<xsd:element name = "Mail_Fulfillment_Transaction_Sub_Type" type = "xtd:Mail_Fulfillment_Sub_Type_Code" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "Mail_Fulfillment_Transaction_Status" type = "xtd:Mail_Fulfillment_Status_Code" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "Mail_Fulfillment_Transaction_Date" type = "xtd:dateTimeStringType"/>
					<xsd:element name = "Cancellation_Date" type = "xtd:dateTimeStringType" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "Cancellation_Reason" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "Mail_Transaction_Document_Value" type = "xtd:String200"/>
					<xsd:element name = "State_License_Number" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "State_License_State" type = "xtd:Region_Code" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "State_License_Expiration_Date" type = "xtd:dateTimeStringType" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "DEA_Number" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "DEA_Expiration_Date" type = "xtd:dateTimeStringType" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "Sampling_Status" type = "xtd:Sampling_Status_Code" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "Professional_Suffix" type = "xtd:Prof_Suffix_Code" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "Address_Line1" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "Address_Line2" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "Address_Line3" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "City" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "Region" type = "xtd:Region_Code" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "Postal_Area" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "Postal_Area_Extension" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "Country" type = "xtd:Country_Code" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "External_ID_1" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "Carrier" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "Shipment_ID" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "Mail_Fulfillment_Transaction_Detail_List" minOccurs = "0">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name = "Mail_Fulfillment_Transaction_Detail" type = "Mail_Fulfillment_Transaction_Detail_Type" maxOccurs = "unbounded"/>
							</xsd:sequence>
							<xsd:attribute name = "type_name" fixed = "Mail_Fulfillment_Transaction_Detail_List" type = "xsd:string"/>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name = "Mail_Fulfillment_Signature_List" minOccurs = "0">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name = "Mail_Fulfillment_Signature" type = "Mail_Fulfillment_Signature_Type" maxOccurs = "unbounded"/>
							</xsd:sequence>
							<xsd:attribute name = "type_name" fixed = "Mail_Fulfillment_Signature_List" type = "xsd:string"/>
						</xsd:complexType>
					</xsd:element>
				</xsd:all>
				<xsd:attribute name = "operation" default = "NONE" type = "xtd:operationType"/>
				<xsd:attribute name = "objectId" type = "xsd:string"/>
				<xsd:attribute name = "type_name" fixed = "Mail_Fulfillment_Transaction" type = "xsd:string"/>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>