web/xml/XMLSchema/Sample XSD Files/Meeting_Sales_Area.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://schemas.dendrite.com/IS/1.0.0/Meeting_Sales_Area"
	 targetNamespace = "http://schemas.dendrite.com/IS/1.0.0/Meeting_Sales_Area"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 xmlns:xtd = "http://schemas.dendrite.com/IS/1.0.0/XTDataTypes"
	 elementFormDefault = "unqualified">
	<xsd:import namespace = "http://schemas.dendrite.com/IS/1.0.0/XTDataTypes" schemaLocation = "XTDataTypes.xsd"/>
	<!--
		W3C XML Schema Generated using Xtelligent Schema generator.
		Date: Thu Apr 22 14:26:43 PDT 2004-->
	
	<xsd:element name = "Meeting_Sales_Area" type = "Meeting_Sales_Area_Type"/>
	<xsd:complexType name = "Meeting_Sales_Area_Type">
		<xsd:all>
			<xsd:element name = "Meeting_Sales_Area_ID" type = "xtd:Number16"/>
			<xsd:element name = "Meeting_ID" type = "xtd:Number16" minOccurs = "0"/>
			<xsd:element name = "Sales_Area_ID" type = "xtd:Number16" minOccurs = "0"/>
			<xsd:element name = "Creator_Flag" type = "xtd:Yes_No_Code" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Participant_Flag" type = "xtd:Yes_No_Code" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "External_ID_1" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
		</xsd:all>
		<xsd:attribute name = "operation" default = "NONE" type = "xtd:operationType"/>
		<xsd:attribute name = "objectId" type = "xsd:string"/>
		<xsd:attribute name = "type_name" fixed = "Meeting_Sales_Area" type = "xsd:string"/>
	</xsd:complexType>
</xsd:schema>
