web/xml/XMLSchema/Sample XSD Files/Meeting.xsd

<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://schemas.dendrite.com/IS/1.0.0/Meeting"
	 targetNamespace = "http://schemas.dendrite.com/IS/1.0.0/Meeting"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 xmlns:xtd = "http://schemas.dendrite.com/IS/1.0.0/XTDataTypes"
	 elementFormDefault = "unqualified">
	<xsd:import namespace = "http://schemas.dendrite.com/IS/1.0.0/XTDataTypes" schemaLocation = "XTDataTypes.xsd"/>
	<!--
		W3C XML Schema Generated using Xtelligent Schema generator.
		Date: Thu May 6 11:06:47 PDT 2004-->
	
	<xsd:element name = "Meeting" type = "Meeting_Type"/>
	<xsd:complexType name = "Meeting_Type">
		<xsd:all>
			<xsd:element name = "Meeting_ID"  type = "xtd:Number16"/>
			<xsd:element name = "Customer_ID"  type = "xtd:Number16" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Customer_Type" type = "xtd:Customer_Type_Code" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Meeting_Date" type = "xtd:dateTimeStringType" minOccurs = "0"/>
			<xsd:element name = "Meeting_Type" type = "xtd:Meeting_Type_Code" minOccurs = "0"/>
			<xsd:element name = "Meeting_Subtype" type = "xtd:Meeting_Sub_Type_Code" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Venue_Name"  type = "xtd:String200" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Address_Line1" type = "xtd:String200" minOccurs = "0"/>
			<xsd:element name = "Address_Line2" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Address_Line3" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "City" type = "xtd:String200" minOccurs = "0"/>
			<xsd:element name = "Region" type = "xtd:Region_Code" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Postal_Area" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Postal_Area_Extension" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Country" type = "xtd:Country_Code" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "External_ID_1" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Meeting_Attendee_list" minOccurs = "0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name = "Meeting_Attendee" maxOccurs = "unbounded">
							<xsd:complexType>
								<xsd:all>
									<xsd:element name = "Meeting_Attendee_ID" type = "xtd:Number16"/>
									<xsd:element name = "Meeting_ID"  type = "xtd:Number16" minOccurs = "0"/>
									<xsd:element name = "Sales_Area_ID"  type = "xtd:Number16" minOccurs = "0"/>
									<xsd:element name = "Customer_ID"  type = "xtd:Number16" nillable = "true" minOccurs = "0"/>
									<xsd:element name = "Customer_Type" nillable = "true" minOccurs = "0">
										<xsd:simpleType>
											<xsd:restriction base = "xsd:string">
												<xsd:maxLength value = "4"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name = "Name"  type = "xtd:String200" minOccurs = "0"/>
									<xsd:element name = "Specialty" type = "xtd:Specialty_Code" nillable = "true" minOccurs = "0"/>
									<xsd:element name = "Attendee_Status" type = "xtd:Attendee_Status_Code" minOccurs = "0"/>
									<xsd:element name = "External_ID_1" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
								</xsd:all>
								<xsd:attribute name = "operation" default = "NONE" type = "xtd:operationType"/>
								<xsd:attribute name = "objectId" type = "xsd:string"/>
								<xsd:attribute name = "type_name" fixed = "Meeting_Attendee" type = "xsd:string"/>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				<xsd:attribute name = "type_name" fixed = "Meeting_Attendee_List" type = "xsd:string"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name = "Meeting_Budget_list" minOccurs = "0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name = "Meeting_Budget" maxOccurs = "unbounded">
							<xsd:complexType>
								<xsd:all>
									<xsd:element name = "Meeting_Budget_ID" type = "xtd:Number16"/>
									<xsd:element name = "Meeting_ID" type = "xtd:Number16" minOccurs = "0"/>
									<xsd:element name = "Sales_Area_ID" type = "xtd:Number16" minOccurs = "0"/>
									<xsd:element name = "Category" type = "xtd:Expense_Category_Code" nillable = "true" minOccurs = "0"/>
									<xsd:element name = "Amount" type = "xtd:Currency" nillable = "true" minOccurs = "0"/>
									<xsd:element name = "Currency_Type" type = "xtd:Currency_Type_Code" nillable = "true" minOccurs = "0"/>
									<xsd:element name = "External_ID_1" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
								</xsd:all>
								<xsd:attribute name = "operation" default = "NONE" type = "xtd:operationType"/>
								<xsd:attribute name = "objectId" type = "xsd:string"/>
								<xsd:attribute name = "type_name" fixed = "Meeting_Budget" type = "xsd:string"/>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				<xsd:attribute name = "type_name" fixed = "Meeting_Budget_List" type = "xsd:string"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name = "Meeting_Expense_list" minOccurs = "0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name = "Meeting_Expense" maxOccurs = "unbounded">
							<xsd:complexType>
								<xsd:all>
									<xsd:element name = "Meeting_Expense_ID" type = "xtd:Number16"/>
									<xsd:element name = "Meeting_ID" type = "xtd:Number16" minOccurs = "0"/>
									<xsd:element name = "Sales_Area_ID" type = "xtd:Number16" minOccurs = "0"/>
									<xsd:element name = "Expense_Date" type = "xtd:dateTimeStringType" nillable = "true" minOccurs = "0"/>
									<xsd:element name = "Category" type = "xtd:Expense_Category_Code" nillable = "true" minOccurs = "0"/>
									<xsd:element name = "Amount" type = "xtd:Currency" nillable = "true" minOccurs = "0"/>
									<xsd:element name = "Invoice_Number" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
									<xsd:element name = "Payment_Method" nillable = "true" minOccurs = "0">
										<xsd:simpleType>
											<xsd:restriction base = "xsd:string">
												<xsd:maxLength value = "4"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name = "Currency_Type" type = "xtd:Currency" nillable = "true" minOccurs = "0"/>
									<xsd:element name = "External_ID_1" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
								</xsd:all>
								<xsd:attribute name = "operation" default = "NONE" type = "xtd:operationType"/>
								<xsd:attribute name = "objectId" type = "xsd:string"/>
								<xsd:attribute name = "type_name" fixed = "Meeting_Expense" type = "xsd:string"/>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
					<xsd:attribute name = "type_name" fixed = "Meeting_Expense_List" type = "xsd:string"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name = "Meeting_Speaker_list" minOccurs = "0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name = "Meeting_Speaker" maxOccurs = "unbounded">
							<xsd:complexType>
								<xsd:all>
									<xsd:element name = "Meeting_Speaker_ID" type = "xtd:Number16"/>
									<xsd:element name = "Meeting_ID" type = "xtd:Number16" minOccurs = "0"/>
									<xsd:element name = "Customer_ID" type = "xtd:Number16" nillable = "true" minOccurs = "0"/>
									<xsd:element name = "Customer_Type" type = "xtd:Customer_Type_Code" nillable = "true" minOccurs = "0"/>
									<xsd:element name = "Product_ID" type = "xtd:Number16" nillable = "true" minOccurs = "0"/>
									<xsd:element name = "Speaker_Name" type = "xtd:String200" minOccurs = "0"/>
									<xsd:element name = "Speaker_Topic" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
									<xsd:element name = "Specialty" type = "xtd:Specialty_Code" nillable = "true" minOccurs = "0"/>
									<xsd:element name = "Honorarium_Type" type = "xtd:Honorarium_Type_Code" nillable = "true" minOccurs = "0"/>
									<xsd:element name = "Honorarium_Amount" type = "xtd:Currency" nillable = "true" minOccurs = "0"/>
									<xsd:element name = "Currency_Type" type = "xtd:Currency_Type_Code" nillable = "true" minOccurs = "0"/>
									<xsd:element name = "External_ID_1" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
								</xsd:all>
								<xsd:attribute name = "operation" default = "NONE" type = "xtd:operationType"/>
								<xsd:attribute name = "objectId" type = "xsd:string"/>
								<xsd:attribute name = "type_name" fixed = "Meeting_Speaker" type = "xsd:string"/>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				<xsd:attribute name = "type_name" fixed = "Meeting_Speaker_List" type = "xsd:string"/>
				</xsd:complexType>
			</xsd:element>
		</xsd:all>
		<xsd:attribute name = "operation" default = "NONE" type = "xtd:operationType"/>
		<xsd:attribute name = "objectId" type = "xsd:string"/>
		<xsd:attribute name = "type_name" fixed = "Meeting" type = "xsd:string"/>
	</xsd:complexType>
</xsd:schema>
