web/xml/XMLSchema/Sample XSD Files/Merge_Request.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://schemas.dendrite.com/IS/1.0.0/Merge_Request"
	 targetNamespace = "http://schemas.dendrite.com/IS/1.0.0/Merge_Request"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 xmlns:xtd = "http://schemas.dendrite.com/IS/1.0.0/XTDataTypes">
  <xsd:import namespace = "http://schemas.dendrite.com/IS/1.0.0/XTDataTypes" schemaLocation = "XTDataTypes.xsd"/>
  <!--
		W3C XML Schema Generated using Xtelligent Schema generator.
		Date: Wed Apr 21 19:55:37 PDT 2004-->

  <xsd:element name = "Merge_Request" type = "Merge_Request_Type"/>
  <xsd:complexType name = "Merge_Request_Type">
    <xsd:all>
      <xsd:element name = "Merge_Request_ID" type = "xtd:Number16"/>
      <xsd:element name = "Merge_Type" type = "xtd:Merge_Type_Code"/>
      <xsd:element name = "Customer_Type" type = "xtd:Customer_Type_Code" nillable = "true"/>
      <xsd:element name = "Winner_Entity_ID" type = "xtd:Number16"/>
      <xsd:element name = "Loser_Entity_ID" type = "xtd:Number16"/>
    </xsd:all>
    <xsd:attribute name = "operation" default = "NONE" type = "xtd:operationType"/>
    <xsd:attribute name = "objectId" type = "xsd:string"/>
    <xsd:attribute name = "type_name" fixed = "Merge_Request" type = "xsd:string"/>
  </xsd:complexType>
  <xsd:complexType name = "Merge_Request_Insert_Type">
    <xsd:complexContent>
      <xsd:restriction base = "Merge_Request_Type">
        <xsd:all>
          <xsd:element name = "Merge_Request_ID" type = "xtd:Number16"/>
          <xsd:element name = "Merge_Type" type = "xtd:Merge_Type_Code"/>
          <xsd:element name = "Customer_Type" type = "xtd:Customer_Type_Code" nillable = "true"/>
          <xsd:element name = "Winner_Entity_ID" type = "xtd:Number16"/>
          <xsd:element name = "Loser_Entity_ID" type = "xtd:Number16"/>
        </xsd:all>
        <xsd:attribute name = "operation" default = "NONE" type = "xtd:operationType"/>
        <xsd:attribute name = "objectId" type = "xsd:string"/>
        <xsd:attribute name = "type_name" fixed = "Merge_Request" type = "xsd:string"/>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>