web/xml/XMLSchema/Sample XSD Files/Product.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://schemas.dendrite.com/IS/1.0.0/Product"
	 targetNamespace = "http://schemas.dendrite.com/IS/1.0.0/Product"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 xmlns:xtd = "http://schemas.dendrite.com/IS/1.0.0/XTDataTypes"
	 elementFormDefault = "unqualified">
	<xsd:import namespace = "http://schemas.dendrite.com/IS/1.0.0/XTDataTypes" schemaLocation = "XTDataTypes.xsd"/>
	<xsd:element name = "Product" type = "Product_Type"/>
	<xsd:complexType name = "Product_Lot_Type">
		<xsd:all>
			<xsd:element name = "Product_Lot_ID" type = "xtd:Number16"/>
			<xsd:element name = "Lot_Number" type = "xtd:String200" minOccurs = "0"/>
			<xsd:element name = "Manufacturer" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Expiration_Date" type = "xtd:dateTimeStringType" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Activity_Status" type = "xtd:Activity_Status_Code" minOccurs = "0"/>
			<xsd:element name = "Effective_Date" type = "xtd:dateTimeStringType" minOccurs = "0"/>
			<xsd:element name = "End_Date" type = "xtd:dateTimeStringType" minOccurs = "0"/>
			<xsd:element name = "External_ID_1" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
		</xsd:all>
		<xsd:attribute name = "operation" default = "NONE" type = "xtd:operationType"/>
		<xsd:attribute name = "objectId" type = "xsd:string"/>
		<xsd:attribute name = "type_name" fixed = "Product_Lot" type = "xsd:string"/>
		<xsd:attribute name = "type" fixed = "xt:Product_Lot" type = "xsd:string"/>
	</xsd:complexType>
	<xsd:complexType name = "Product_Lot_Insert_Type">
		<xsd:complexContent>
			<xsd:restriction base = "Product_Lot_Type">
				<xsd:all>
					<xsd:element name = "Product_Lot_ID" type = "xtd:Number16"/>
					<xsd:element name = "Lot_Number" type = "xtd:String200"/>
					<xsd:element name = "Manufacturer" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "Expiration_Date" type = "xtd:dateTimeStringType" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "Activity_Status" type = "xtd:Activity_Status_Code"/>
					<xsd:element name = "Effective_Date" type = "xtd:dateTimeStringType"/>
					<xsd:element name = "End_Date" type = "xtd:dateTimeStringType"/>
					<xsd:element name = "External_ID_1" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
				</xsd:all>
				<xsd:attribute name = "operation" default = "NONE" type = "xtd:operationType"/>
				<xsd:attribute name = "objectId" type = "xsd:string"/>
				<xsd:attribute name = "type_name" fixed = "Product_Lot" type = "xsd:string"/>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	
	<!--
		W3C XML Schema Generated using Xtelligent Schema generator.
		Date: Fri Apr 30 13:58:14 PDT 2004-->
	
	<xsd:complexType name = "Product_Type">
		<xsd:all>
			<xsd:element name = "Product_ID" type = "xtd:Number16"/>
			<xsd:element name = "Product_Type" type = "xtd:Product_Type_Code"/>
			<xsd:element name = "Chemical_Name" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Product_Value" type = "xtd:String200" minOccurs = "0"/>
			<xsd:element name = "Product_Name" type = "xtd:String200" minOccurs = "0"/>
			<xsd:element name = "Product_Description" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Product_Abbreviated_Name" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Product_Form" type = "xtd:Product_Form_Code" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Product_Strength" type = "xtd:String100" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Samples_Units_Per_Case" type = "xtd:Number9" minOccurs = "0"/>
			<xsd:element name = "Co_Promotion_Flag" type = "xtd:Number1" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Manufacturer_Name" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Client_Product_Flag" type = "xtd:String4" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Price_Per_Unit" type = "xtd:Currency" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Unit_Description" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Packaging_Type" type = "xtd:Packaging_Type_Code" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Fulfillment_Type" type = "xtd:Fulfillment_Type_Code" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "NDC_Product_Value" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "NDC_Product_Name" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "NDC_Product_Strength" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Maximum_Allocation_Quantity" type = "xtd:Number9" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Unit_Of_Measure" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Distributor_Name" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Activity_Status" type = "xtd:Activity_Status_Code" minOccurs = "0"/>
			<xsd:element name = "Effective_Date" type = "xtd:dateTimeStringType" minOccurs = "0"/>
			<xsd:element name = "End_Date" type = "xtd:dateTimeStringType" minOccurs = "0"/>
			<xsd:element name = "External_ID_1" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Client_Identifier" type="xtd:String200" nillable="true" minOccurs="0"/>
			<xsd:element name = "Inventory_Billing_Project" type="xtd:String200" nillable="true" minOccurs="0"/>
			<xsd:element name = "Lot_Controlled" type="xtd:Boolean_Code" minOccurs="0"/>
			<xsd:element name = "Marketing_Category" type="xtd:String200" nillable="true" minOccurs="0"/>
			<xsd:element name = "Execution_System" type="xtd:String200" nillable="true" minOccurs="0"/>
			<xsd:element name = "Last_Inventory_Level" type="xtd:Number9" nillable="true" minOccurs="0"/>
			<xsd:element name = "Product_Lot_List" minOccurs = "0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name = "Product_Lot" type = "Product_Lot_Type" maxOccurs = "unbounded"/>
					</xsd:sequence>
					<xsd:attribute name = "type_name" fixed = "Product_Lot_List" type = "xsd:string"/>
				</xsd:complexType>
			</xsd:element>
		</xsd:all>
		<xsd:attribute name = "operation" default = "NONE" type = "xtd:operationType"/>
		<xsd:attribute name = "objectId" type = "xsd:string"/>
		<xsd:attribute name = "type_name" fixed = "Product" type = "xsd:string"/>
	</xsd:complexType>
	<xsd:complexType name = "Product_Insert_Type">
		<xsd:complexContent>
			<xsd:restriction base = "Product_Type">
				<xsd:all>
					<xsd:element name = "Product_ID" type = "xtd:Number16"/>
					<xsd:element name = "Product_Type" type = "xtd:Product_Type_Code"/>
					<xsd:element name = "Chemical_Name" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "Product_Value" type = "xtd:String200"/>
					<xsd:element name = "Product_Name" type = "xtd:String200"/>
					<xsd:element name = "Product_Description" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "Product_Abbreviated_Name" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "Product_Form" type = "xtd:Product_Form_Code" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "Product_Strength" type = "xtd:String100" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "Samples_Units_Per_Case" type = "xtd:Number9"/>
					<xsd:element name = "Co_Promotion_Flag" type = "xtd:Number1" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "Manufacturer_Name" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "Client_Product_Flag" type = "xtd:String4" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "Price_Per_Unit" type = "xtd:Currency" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "Unit_Description" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "Packaging_Type" type = "xtd:Packaging_Type_Code" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "Fulfillment_Type" type = "xtd:Fulfillment_Type_Code" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "NDC_Product_Value" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "NDC_Product_Name" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "NDC_Product_Strength" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "Maximum_Allocation_Quantity" type = "xtd:Number9" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "Unit_Of_Measure" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "Distributor_Name" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "Activity_Status" type = "xtd:Activity_Status_Code"/>
					<xsd:element name = "Effective_Date" type = "xtd:dateTimeStringType"/>
					<xsd:element name = "End_Date" type = "xtd:dateTimeStringType"/>
					<xsd:element name = "External_ID_1" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "Client_Identifier" type="xtd:String200" nillable="true" minOccurs="0"/>
					<xsd:element name = "Inventory_Billing_Project" type="xtd:String200" nillable="true" minOccurs="0"/>
					<xsd:element name = "Lot_Controlled" type="xtd:Boolean_Code" minOccurs="0"/>
					<xsd:element name = "Marketing_Category" type="xtd:String200" nillable="true" minOccurs="0"/>
					<xsd:element name = "Execution_System" type="xtd:String200" nillable="true" minOccurs="0"/>
					<xsd:element name = "Last_Inventory_Level" type="xtd:Number9" nillable="true" minOccurs="0"/>
					<xsd:element name = "Product_Lot_List" minOccurs = "0">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name = "Product_Lot" type = "Product_Lot_Type" maxOccurs = "unbounded"/>
							</xsd:sequence>
							<xsd:attribute name = "type_name" fixed = "Product_Lot_List" type = "xsd:string"/>
						</xsd:complexType>
					</xsd:element>
				</xsd:all>
				<xsd:attribute name = "operation" default = "NONE" type = "xtd:operationType"/>
				<xsd:attribute name = "objectId" type = "xsd:string"/>
				<xsd:attribute name = "type_name" fixed = "Product" type = "xsd:string"/>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>