web/xml/XMLSchema/Sample XSD Files/Professional.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://schemas.dendrite.com/IS/1.0.0/Professional"
	 targetNamespace = "http://schemas.dendrite.com/IS/1.0.0/Professional"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 xmlns:xtd = "http://schemas.dendrite.com/IS/1.0.0/XTDataTypes"
	 elementFormDefault = "unqualified">
	<xsd:import namespace = "http://schemas.dendrite.com/IS/1.0.0/XTDataTypes" schemaLocation = "XTDataTypes.xsd"/>
	<xsd:element name = "Professional" type = "Professional_Type"/>
	<xsd:complexType name = "Global_Identifier_Map_Type">
		<xsd:all>
			<xsd:element name = "ID_Type" type = "xtd:Global_ID_Type" minOccurs = "0"/>
			<xsd:element name = "ID_Value" type = "xtd:String200" minOccurs = "0"/>
		</xsd:all>
		<xsd:attribute name = "operation" default = "NONE" type = "xtd:operationType"/>
		<xsd:attribute name = "objectId" type = "xsd:string"/>
		<xsd:attribute name = "type_name" fixed = "Global_Identifier_Map" type = "xsd:string"/>
	</xsd:complexType>
	<xsd:complexType name = "Global_Identifier_Map_Insert_Type">
		<xsd:complexContent>
			<xsd:restriction base = "Global_Identifier_Map_Type">
				<xsd:all>
					<xsd:element name = "ID_Type" type = "xtd:Global_ID_Type"/>
					<xsd:element name = "ID_Value" type = "xtd:String200"/>
				</xsd:all>
				<xsd:attribute name = "operation" default = "NONE" type = "xtd:operationType"/>
				<xsd:attribute name = "objectId" type = "xsd:string"/>
				<xsd:attribute name = "type_name" fixed = "Global_Identifier_Map" type = "xsd:string"/>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name = "Address_Global_Identifier_Map_Type">
		<xsd:all>
			<xsd:element name = "Parent_Global_ID" type = "xtd:Number16"/>
			<xsd:element name = "ID_Type" type = "xtd:Global_ID_Type" minOccurs = "0"/>
			<xsd:element name = "ID_Value" type = "xtd:String200" minOccurs = "0"/>
		</xsd:all>
		<xsd:attribute name = "operation" default = "NONE" type = "xtd:operationType"/>
		<xsd:attribute name = "objectId" type = "xsd:string"/>
		<xsd:attribute name = "type_name" fixed = "Address_Global_Identifier_Map" type = "xsd:string"/>
	</xsd:complexType>
	<xsd:complexType name = "Address_Global_Identifier_Map_Insert_Type">
		<xsd:complexContent>
			<xsd:restriction base = "Address_Global_Identifier_Map_Type">
				<xsd:all>
					<xsd:element name = "Parent_Global_ID" type = "xtd:Number16"/>
					<xsd:element name = "ID_Type" type = "xtd:Global_ID_Type"/>
					<xsd:element name = "ID_Value" type = "xtd:String200"/>
				</xsd:all>
				<xsd:attribute name = "operation" default = "NONE" type = "xtd:operationType"/>
				<xsd:attribute name = "objectId" type = "xsd:string"/>
				<xsd:attribute name = "type_name" fixed = "Address_Global_Identifier_Map" type = "xsd:string"/>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name = "Communication_Global_Identifier_Map_Type">
		<xsd:all>
			<xsd:element name = "Parent_Global_ID" type = "xtd:Number16"/>
			<xsd:element name = "ID_Type" type = "xtd:Global_ID_Type" minOccurs = "0"/>
			<xsd:element name = "ID_Value" type = "xtd:String200" minOccurs = "0"/>
		</xsd:all>
		<xsd:attribute name = "operation" default = "NONE" type = "xtd:operationType"/>
		<xsd:attribute name = "objectId" type = "xsd:string"/>
		<xsd:attribute name = "type_name" fixed = "Communication_Global_Identifier_Map" type = "xsd:string"/>
	</xsd:complexType>
	<xsd:complexType name = "Communication_Global_Identifier_Map_Insert_Type">
		<xsd:complexContent>
			<xsd:restriction base = "Communication_Global_Identifier_Map_Type">
				<xsd:all>
					<xsd:element name = "Parent_Global_ID" type = "xtd:Number16"/>
					<xsd:element name = "ID_Type" type = "xtd:Global_ID_Type"/>
					<xsd:element name = "ID_Value" type = "xtd:String200"/>
				</xsd:all>
				<xsd:attribute name = "operation" default = "NONE" type = "xtd:operationType"/>
				<xsd:attribute name = "objectId" type = "xsd:string"/>
				<xsd:attribute name = "type_name" fixed = "Communication_Global_Identifier_Map" type = "xsd:string"/>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name = "Customer_Identifier_Global_Identifier_Map_Type">
		<xsd:all>
			<xsd:element name = "Parent_Global_ID" type = "xtd:Number16"/>
			<xsd:element name = "ID_Type" type = "xtd:Global_ID_Type" minOccurs = "0"/>
			<xsd:element name = "ID_Value" type = "xtd:String200" minOccurs = "0"/>
		</xsd:all>
		<xsd:attribute name = "operation" default = "NONE" type = "xtd:operationType"/>
		<xsd:attribute name = "objectId" type = "xsd:string"/>
		<xsd:attribute name = "type_name" fixed = "Customer_Identifier_Global_Identifier_Map" type = "xsd:string"/>
	</xsd:complexType>
	<xsd:complexType name = "Customer_Identifier_Global_Identifier_Map_Insert_Type">
		<xsd:complexContent>
			<xsd:restriction base = "Customer_Identifier_Global_Identifier_Map_Type">
				<xsd:all>
					<xsd:element name = "Parent_Global_ID" type = "xtd:Number16"/>
					<xsd:element name = "ID_Type" type = "xtd:Global_ID_Type"/>
					<xsd:element name = "ID_Value" type = "xtd:String200"/>
				</xsd:all>
				<xsd:attribute name = "operation" default = "NONE" type = "xtd:operationType"/>
				<xsd:attribute name = "objectId" type = "xsd:string"/>
				<xsd:attribute name = "type_name" fixed = "Customer_Identifier_Global_Identifier_Map" type = "xsd:string"/>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name = "Professional_Specialty_Global_Identifier_Map_Type">
		<xsd:all>
			<xsd:element name = "Parent_Global_ID" type = "xtd:Number16"/>
			<xsd:element name = "ID_Type" type = "xtd:Global_ID_Type" minOccurs = "0"/>
			<xsd:element name = "ID_Value" type = "xtd:String200" minOccurs = "0"/>
		</xsd:all>
		<xsd:attribute name = "operation" default = "NONE" type = "xtd:operationType"/>
		<xsd:attribute name = "objectId" type = "xsd:string"/>
		<xsd:attribute name = "type_name" fixed = "Professional_Specialty_Global_Identifier_Map" type = "xsd:string"/>
	</xsd:complexType>
	<xsd:complexType name = "Professional_Specialty_Global_Identifier_Map_Insert_Type">
		<xsd:complexContent>
			<xsd:restriction base = "Professional_Specialty_Global_Identifier_Map_Type">
				<xsd:all>
					<xsd:element name = "Parent_Global_ID" type = "xtd:Number16"/>
					<xsd:element name = "ID_Type" type = "xtd:Global_ID_Type"/>
					<xsd:element name = "ID_Value" type = "xtd:String200"/>
				</xsd:all>
				<xsd:attribute name = "operation" default = "NONE" type = "xtd:operationType"/>
				<xsd:attribute name = "objectId" type = "xsd:string"/>
				<xsd:attribute name = "type_name" fixed = "Professional_Specialty_Global_Identifier_Map" type = "xsd:string"/>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name = "Professional_Education_Global_Identifier_Map_Type">
		<xsd:all>
			<xsd:element name = "Parent_Global_ID" type = "xtd:Number16"/>
			<xsd:element name = "ID_Type" type = "xtd:Global_ID_Type" minOccurs = "0"/>
			<xsd:element name = "ID_Value" type = "xtd:String200" minOccurs = "0"/>
		</xsd:all>
		<xsd:attribute name = "operation" default = "NONE" type = "xtd:operationType"/>
		<xsd:attribute name = "objectId" type = "xsd:string"/>
		<xsd:attribute name = "type_name" fixed = "Professional_Education_Global_Identifier_Map" type = "xsd:string"/>
	</xsd:complexType>
	<xsd:complexType name = "Professional_Education_Global_Identifier_Map_Insert_Type">
		<xsd:complexContent>
			<xsd:restriction base = "Professional_Education_Global_Identifier_Map_Type">
				<xsd:all>
					<xsd:element name = "Parent_Global_ID" type = "xtd:Number16"/>
					<xsd:element name = "ID_Type" type = "xtd:Global_ID_Type"/>
					<xsd:element name = "ID_Value" type = "xtd:String200"/>
				</xsd:all>
				<xsd:attribute name = "operation" default = "NONE" type = "xtd:operationType"/>
				<xsd:attribute name = "objectId" type = "xsd:string"/>
				<xsd:attribute name = "type_name" fixed = "Professional_Education_Global_Identifier_Map" type = "xsd:string"/>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name = "State_License_Global_Identifier_Map_Type">
		<xsd:all>
			<xsd:element name = "Parent_Global_ID" type = "xtd:Number16"/>
			<xsd:element name = "ID_Type" type = "xtd:Global_ID_Type" minOccurs = "0"/>
			<xsd:element name = "ID_Value" type = "xtd:String200" minOccurs = "0"/>
		</xsd:all>
		<xsd:attribute name = "operation" default = "NONE" type = "xtd:operationType"/>
		<xsd:attribute name = "objectId" type = "xsd:string"/>
		<xsd:attribute name = "type_name" fixed = "State_License_Global_Identifier_Map" type = "xsd:string"/>
	</xsd:complexType>
	<xsd:complexType name = "State_License_Global_Identifier_Map_Insert_Type">
		<xsd:complexContent>
			<xsd:restriction base = "State_License_Global_Identifier_Map_Type">
				<xsd:all>
					<xsd:element name = "Parent_Global_ID" type = "xtd:Number16"/>
					<xsd:element name = "ID_Type" type = "xtd:Global_ID_Type"/>
					<xsd:element name = "ID_Value" type = "xtd:String200"/>
				</xsd:all>
				<xsd:attribute name = "operation" default = "NONE" type = "xtd:operationType"/>
				<xsd:attribute name = "objectId" type = "xsd:string"/>
				<xsd:attribute name = "type_name" fixed = "State_License_Global_Identifier_Map" type = "xsd:string"/>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name = "Address_Type">
		<xsd:all>
			<xsd:element name = "Address_ID" type = "xtd:Number16"/>
			<xsd:element name = "Master_Identifier" type = "xtd:Number16" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Owner_Customer_Identifier" type = "xtd:Number16" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Address_Type" type = "xtd:Cust_Address_type_Code" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Address_Line1" type = "xtd:String200" minOccurs = "0"/>
			<xsd:element name = "Address_Line2" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Address_Line3" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "City" type = "xtd:String200" minOccurs = "0"/>
			<xsd:element name = "Region" type = "xtd:Region_Code" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Postal_Area" type = "xtd:String200" minOccurs = "0"/>
			<xsd:element name = "Postal_Area_Extension" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Country" type = "xtd:Country_Code" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Geography1" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Geography2" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Geography3" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "DEA_Number" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "DEA_Expiration_Date" type = "xtd:dateTimeStringType" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "DEA_Sampling_Validation_Status" type = "xtd:Smpl_Validation_Status_Code" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Validation_Status" type = "xtd:Validation_Status_Code" nillable = "true" minOccurs = "0"/>
      <xsd:element name = "Validation_Change_Reason" type ="xtd:Validation_Change_Reason" nillable ="true" minOccurs ="0"/>
			<xsd:element name = "Activity_Status" type = "xtd:Activity_Status_Code" minOccurs = "0"/>
			<xsd:element name = "Effective_Date" type = "xtd:dateTimeStringType" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "End_Date" type = "xtd:dateTimeStringType" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "External_ID_1" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Address_Global_Identifier_Map_List" minOccurs = "0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name = "Address_Global_Identifier_Map" type ="Address_Global_Identifier_Map_Type" maxOccurs = "unbounded"/>
					</xsd:sequence>
					<xsd:attribute name = "type_name" fixed = "Address_Global_Identifier_Map_List" type = "xsd:string"/>
				</xsd:complexType>
			</xsd:element>
		</xsd:all>
		<xsd:attribute name = "operation" default = "NONE" type = "xtd:operationType"/>
		<xsd:attribute name = "objectId" type = "xsd:string"/>
		<xsd:attribute name = "type_name" fixed = "Address" type = "xsd:string"/>
	</xsd:complexType>
	<xsd:complexType name = "Address_Insert_Type">
		<xsd:complexContent>
			<xsd:restriction base = "Address_Type">
				<xsd:all>
					<xsd:element name = "Address_ID" type = "xtd:Number16"/>
					<xsd:element name = "Master_Identifier" type = "xtd:Number16" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "Owner_Customer_Identifier" type = "xtd:Number16" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "Address_Type" type = "xtd:Cust_Address_type_Code" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "Address_Line1" type = "xtd:String200"/>
					<xsd:element name = "Address_Line2" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "Address_Line3" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "City" type = "xtd:String200"/>
					<xsd:element name = "Region" type = "xtd:Region_Code" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "Postal_Area" type = "xtd:String200"/>
					<xsd:element name = "Postal_Area_Extension" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "Country" type = "xtd:Country_Code" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "Geography1" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "Geography2" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "Geography3" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "DEA_Number" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "DEA_Expiration_Date" type = "xtd:dateTimeStringType" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "DEA_Sampling_Validation_Status" type = "xtd:Smpl_Validation_Status_Code" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Validation_Status" type = "xtd:Validation_Status_Code" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Validation_Change_Reason" type ="xtd:Validation_Change_Reason" nillable ="true" minOccurs ="0"/>
					<xsd:element name = "Activity_Status" type = "xtd:Activity_Status_Code"/>
					<xsd:element name = "Effective_Date" type = "xtd:dateTimeStringType" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "End_Date" type = "xtd:dateTimeStringType" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "External_ID_1" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "Address_Global_Identifier_Map_List" minOccurs = "0">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name = "Address_Global_Identifier_Map" type ="Address_Global_Identifier_Map_Type" maxOccurs = "unbounded"/>
							</xsd:sequence>
							<xsd:attribute name = "type_name" fixed = "Address_Global_Identifier_Map_List" type = "xsd:string"/>
						</xsd:complexType>
					</xsd:element>
				</xsd:all>
				<xsd:attribute name = "operation" default = "NONE" type = "xtd:operationType"/>
				<xsd:attribute name = "objectId" type = "xsd:string"/>
				<xsd:attribute name = "type_name" fixed = "Address" type = "xsd:string"/>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name = "Communication_Type">
		<xsd:all>
			<xsd:element name = "Communication_ID" type = "xtd:Number16"/>
			<xsd:element name = "Master_Identifier" type = "xtd:Number16" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Address_ID" type = "xtd:Number16" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Communication_Type" type = "xtd:Cust_Comm_Type_Code" minOccurs = "0"/>
			<xsd:element name = "Communication_Value1" type = "xtd:String200" minOccurs = "0"/>
			<xsd:element name = "Communication_Value2" type = "xtd:String100" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "External_ID_1" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Communication_Global_Identifier_Map_List" minOccurs = "0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name = "Communication_Global_Identifier_Map" type ="Communication_Global_Identifier_Map_Type" maxOccurs = "unbounded"/>
					</xsd:sequence>
					<xsd:attribute name = "type_name" fixed = "Communication_Global_Identifier_Map_List" type = "xsd:string"/>
				</xsd:complexType>
			</xsd:element>
		</xsd:all>
		<xsd:attribute name = "operation" default = "NONE" type = "xtd:operationType"/>
		<xsd:attribute name = "objectId" type = "xsd:string"/>
		<xsd:attribute name = "type_name" fixed = "Communication" type = "xsd:string"/>
	</xsd:complexType>
	<xsd:complexType name = "Communication_Insert_Type">
		<xsd:complexContent>
			<xsd:restriction base = "Communication_Type">
				<xsd:all>
					<xsd:element name = "Communication_ID" type = "xtd:Number16"/>
					<xsd:element name = "Master_Identifier" type = "xtd:Number16" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "Address_ID" type = "xtd:Number16" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "Communication_Type" type = "xtd:Cust_Comm_Type_Code"/>
					<xsd:element name = "Communication_Value1" type = "xtd:String200"/>
					<xsd:element name = "Communication_Value2" type = "xtd:String100" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "External_ID_1" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "Communication_Global_Identifier_Map_List" minOccurs = "0">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name = "Communication_Global_Identifier_Map" type ="Communication_Global_Identifier_Map_Type" maxOccurs = "unbounded"/>
							</xsd:sequence>
							<xsd:attribute name = "type_name" fixed = "Communication_Global_Identifier_Map_List" type = "xsd:string"/>
						</xsd:complexType>
					</xsd:element>
				</xsd:all>
				<xsd:attribute name = "operation" default = "NONE" type = "xtd:operationType"/>
				<xsd:attribute name = "objectId" type = "xsd:string"/>
				<xsd:attribute name = "type_name" fixed = "Communication" type = "xsd:string"/>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name = "Customer_Identifier_Type">
		<xsd:all>
			<xsd:element name = "Customer_Identifier_ID" type = "xtd:Number16" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Master_Identifier" type = "xtd:Number16" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "ID_Type" type = "xtd:Prof_ID_Type_Code" minOccurs = "0"/>
			<xsd:element name = "ID_Value" type = "xtd:String200" minOccurs = "0"/>
			<xsd:element name = "Address_ID" type = "xtd:Number16" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Effective_Date" type = "xtd:dateTimeStringType" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "End_Date" type = "xtd:dateTimeStringType" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Customer_Identifier_Global_Identifier_Map_List" minOccurs = "0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name = "Customer_Identifier_Global_Identifier_Map" type="Customer_Identifier_Global_Identifier_Map_Type" maxOccurs = "unbounded"/>
					</xsd:sequence>
					<xsd:attribute name = "type_name" fixed = "Customer_Identifier_Global_Identifier_Map_List" type = "xsd:string"/>
				</xsd:complexType>
			</xsd:element>
		</xsd:all>
		<xsd:attribute name = "operation" default = "NONE" type = "xtd:operationType"/>
		<xsd:attribute name = "objectId" type = "xsd:string"/>
		<xsd:attribute name = "type_name" fixed = "Customer_Identifier" type = "xsd:string"/>
	</xsd:complexType>
	<xsd:complexType name = "Customer_Identifier_Insert_Type">
		<xsd:complexContent>
			<xsd:restriction base = "Customer_Identifier_Type">
				<xsd:all>
					<xsd:element name = "Customer_Identifier_ID" type = "xtd:Number16" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "Master_Identifier" type = "xtd:Number16" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "ID_Type" type = "xtd:Prof_ID_Type_Code"/>
					<xsd:element name = "ID_Value" type = "xtd:String200"/>
					<xsd:element name = "Address_ID" type = "xtd:Number16" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "Effective_Date" type = "xtd:dateTimeStringType" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "End_Date" type = "xtd:dateTimeStringType" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "Customer_Identifier_Global_Identifier_Map_List" minOccurs = "0">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name = "Customer_Identifier_Global_Identifier_Map" type ="Customer_Identifier_Global_Identifier_Map_Type" maxOccurs = "unbounded"/>
							</xsd:sequence>
							<xsd:attribute name = "type_name" fixed = "Customer_Identifier_Global_Identifier_Map_List" type = "xsd:string"/>
						</xsd:complexType>
					</xsd:element>
				</xsd:all>
				<xsd:attribute name = "operation" default = "NONE" type = "xtd:operationType"/>
				<xsd:attribute name = "objectId" type = "xsd:string"/>
				<xsd:attribute name = "type_name" fixed = "Customer_Identifier" type = "xsd:string"/>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name = "Professional_Specialty_Type">
		<xsd:all>
			<xsd:element name = "Professional_Specialty_ID" type = "xtd:Number16" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Master_Identifier" type = "xtd:Number16" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Customer_ID" type = "xtd:Number16"/>
			<xsd:element name = "Specialty_Type" type = "xtd:Specialty_Type_Code" minOccurs = "0"/>
			<xsd:element name = "Specialty" type = "xtd:Specialty_Code" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Professional_Specialty_Global_Identifier_Map_List" minOccurs = "0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name = "Professional_Specialty_Global_Identifier_Map" type ="Professional_Specialty_Global_Identifier_Map_Type" maxOccurs = "unbounded"/>
					</xsd:sequence>
					<xsd:attribute name = "type_name" fixed = "Professional_Specialty_Global_Identifier_Map_List" type = "xsd:string"/>
				</xsd:complexType>
			</xsd:element>
		</xsd:all>
		<xsd:attribute name = "operation" default = "NONE" type = "xtd:operationType"/>
		<xsd:attribute name = "objectId" type = "xsd:string"/>
		<xsd:attribute name = "type_name" fixed = "Professional_Specialty" type = "xsd:string"/>
	</xsd:complexType>
	<xsd:complexType name = "Professional_Specialty_Insert_Type">
		<xsd:complexContent>
			<xsd:restriction base = "Professional_Specialty_Type">
				<xsd:all>
					<xsd:element name = "Professional_Specialty_ID" type = "xtd:Number16" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "Master_Identifier" type = "xtd:Number16" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "Customer_ID" type = "xtd:Number16"/>
					<xsd:element name = "Specialty_Type" type = "xtd:Specialty_Type_Code"/>
					<xsd:element name = "Specialty" type = "xtd:Specialty_Code" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "Professional_Specialty_Global_Identifier_Map_List" minOccurs = "0">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name = "Professional_Specialty_Global_Identifier_Map" type ="Professional_Specialty_Global_Identifier_Map_Type" maxOccurs = "unbounded"/>
							</xsd:sequence>
							<xsd:attribute name = "type_name" fixed = "Professional_Specialty_Global_Identifier_Map_List" type = "xsd:string"/>
						</xsd:complexType>
					</xsd:element>
				</xsd:all>
				<xsd:attribute name = "operation" default = "NONE" type = "xtd:operationType"/>
				<xsd:attribute name = "objectId" type = "xsd:string"/>
				<xsd:attribute name = "type_name" fixed = "Professional_Specialty" type = "xsd:string"/>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name = "Professional_Education_Type">
		<xsd:all>
			<xsd:element name = "Professional_Education_ID" type = "xtd:Number16"/>
			<xsd:element name = "Master_Identifier" type = "xtd:Number16" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "School" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Degree_Name" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Degree_Year" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "External_ID_1" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Professional_Education_Global_Identifier_Map_List" minOccurs = "0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name = "Professional_Education_Global_Identifier_Map" type ="Professional_Education_Global_Identifier_Map_Type" maxOccurs = "unbounded"/>
					</xsd:sequence>
					<xsd:attribute name = "type_name" fixed = "Professional_Education_Global_Identifier_Map_List" type = "xsd:string"/>
				</xsd:complexType>
			</xsd:element>
		</xsd:all>
		<xsd:attribute name = "operation" default = "NONE" type = "xtd:operationType"/>
		<xsd:attribute name = "objectId" type = "xsd:string"/>
		<xsd:attribute name = "type_name" fixed = "Professional_Education" type = "xsd:string"/>
	</xsd:complexType>
	<xsd:complexType name = "Professional_Education_Insert_Type">
		<xsd:complexContent>
			<xsd:restriction base = "Professional_Education_Type">
				<xsd:all>
					<xsd:element name = "Professional_Education_ID" type = "xtd:Number16"/>
					<xsd:element name = "Master_Identifier" type = "xtd:Number16" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "School" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "Degree_Name" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "Degree_Year" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "External_ID_1" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "Professional_Education_Global_Identifier_Map_List" minOccurs = "0">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name = "Professional_Education_Global_Identifier_Map" type ="Professional_Education_Global_Identifier_Map_Type" maxOccurs = "unbounded"/>
							</xsd:sequence>
							<xsd:attribute name = "type_name" fixed = "Professional_Education_Global_Identifier_Map_List" type = "xsd:string"/>
						</xsd:complexType>
					</xsd:element>
				</xsd:all>
				<xsd:attribute name = "operation" default = "NONE" type = "xtd:operationType"/>
				<xsd:attribute name = "objectId" type = "xsd:string"/>
				<xsd:attribute name = "type_name" fixed = "Professional_Education" type = "xsd:string"/>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name = "State_License_Type">
		<xsd:all>
			<xsd:element name = "State_License_ID" type = "xtd:Number16"/>
			<xsd:element name = "Master_Identifier" type = "xtd:Number16" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "State" type = "xtd:Region_Code" minOccurs = "0"/>
			<xsd:element name = "State_License_Number" type = "xtd:String200" minOccurs = "0"/>
			<xsd:element name = "Expiration_Date" type = "xtd:dateTimeStringType" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Sampling_Validation_Status" type = "xtd:Smpl_Validation_Status_Code" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Status" type = "xtd:State_License_Status_Code" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "External_ID_1" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "State_License_Global_Identifier_Map_List" minOccurs = "0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name = "State_License_Global_Identifier_Map" type ="State_License_Global_Identifier_Map_Type" maxOccurs = "unbounded"/>
					</xsd:sequence>
					<xsd:attribute name = "type_name" fixed = "State_License_Global_Identifier_Map_List" type = "xsd:string"/>
				</xsd:complexType>
			</xsd:element>
		</xsd:all>
		<xsd:attribute name = "operation" default = "NONE" type = "xtd:operationType"/>
		<xsd:attribute name = "objectId" type = "xsd:string"/>
		<xsd:attribute name = "type_name" fixed = "State_License" type = "xsd:string"/>
	</xsd:complexType>
	<xsd:complexType name = "State_License_Insert_Type">
		<xsd:complexContent>
			<xsd:restriction base = "State_License_Type">
				<xsd:all>
					<xsd:element name = "State_License_ID" type = "xtd:Number16"/>
					<xsd:element name = "Master_Identifier" type = "xtd:Number16" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "State" type = "xtd:Region_Code"/>
					<xsd:element name = "State_License_Number" type = "xtd:String200"/>
					<xsd:element name = "Expiration_Date" type = "xtd:dateTimeStringType" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "Sampling_Validation_Status" type = "xtd:Smpl_Validation_Status_Code" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "Status" type = "xtd:State_License_Status_Code" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "External_ID_1" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "State_License_Global_Identifier_Map_List" minOccurs = "0">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name = "State_License_Global_Identifier_Map" type ="State_License_Global_Identifier_Map_Type" maxOccurs = "unbounded"/>
							</xsd:sequence>
							<xsd:attribute name = "type_name" fixed = "State_License_Global_Identifier_Map_List" type = "xsd:string"/>
						</xsd:complexType>
					</xsd:element>
				</xsd:all>
				<xsd:attribute name = "operation" default = "NONE" type = "xtd:operationType"/>
				<xsd:attribute name = "objectId" type = "xsd:string"/>
				<xsd:attribute name = "type_name" fixed = "State_License" type = "xsd:string"/>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name = "Professional_Type">
		<xsd:all>
			<xsd:element name = "Customer_ID" type = "xtd:Number16"/>
			<xsd:element name = "Professional_Type" type = "xtd:Prof_Type_Code" minOccurs = "0"/>
			<xsd:element name = "Professional_Subtype" type = "xtd:Prof_Subtype_Code" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "First_Name" type = "xtd:String200" minOccurs = "0"/>
			<xsd:element name = "Middle_Name" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Last_Name" type = "xtd:String200" minOccurs = "0"/>
			<xsd:element name = "Second_Last_Name" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Salutation_Name" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Title" type = "xtd:Prof_Title_Code" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Professional_Suffix" type = "xtd:Prof_Suffix_Code" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Contact_Suffix" type = "xtd:Contact_Suffix_Code" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Gender" type = "xtd:Gender_Code" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Birth_Day" type = "xtd:Number9" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Birth_Month" type = "xtd:Number9" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Birth_Year" type = "xtd:Number9" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Patients_Per_Day" type = "xtd:Patients_Per_Day_Code" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Speaker_Status" type = "xtd:Speaker_Status_Code" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Appointment_Required" type = "xtd:Appt_Required_Code" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Call_Class" type = "xtd:Call_Class_Code" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Status_Reason" type = "xtd:Prof_Status_Reason_Code" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Sampling_Validation_Status" type = "xtd:Smpl_Validation_Status_Code" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Validation_Status" type = "xtd:Validation_Status_Code" nillable = "true" minOccurs = "0"/>
      <xsd:element name ="Validation_Change_Reason" type ="xtd:Validation_Change_Reason" nillable ="true" minOccurs ="0"/>
      <xsd:element name = "Activity_Status" type = "xtd:Activity_Status_Code" minOccurs = "0"/>
      <xsd:element name = "Effective_Date" type = "xtd:dateTimeStringType" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "End_Date" type = "xtd:dateTimeStringType" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Data_Source" type = "xtd:Data_Source_Code" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Customer_Master_ID" type = "xtd:Number16" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Master_Identifier" type = "xtd:Number16" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Optout_Indicator" type = "xtd:Optout_Indicator_Code" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Optout_Date" type = "xtd:dateTimeStringType" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Optout_Change_Date" type = "xtd:dateTimeStringType" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Global_Identifier_Map_List" minOccurs = "0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name = "Global_Identifier_Map" type ="Global_Identifier_Map_Type" maxOccurs = "unbounded"/>
					</xsd:sequence>
					<xsd:attribute name = "type_name" fixed = "Global_Identifier_Map_List" type = "xsd:string"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name = "Address_List" minOccurs = "0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name = "Address" type = "Address_Type" maxOccurs = "unbounded"/>
					</xsd:sequence>
					<xsd:attribute name = "type_name" fixed = "Address_List" type = "xsd:string"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name = "Communication_List" minOccurs = "0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name = "Communication" type = "Communication_Type" maxOccurs = "unbounded"/>
					</xsd:sequence>
					<xsd:attribute name = "type_name" fixed = "Communication_List" type = "xsd:string"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name = "Customer_Identifier_List" minOccurs = "0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name = "Customer_Identifier" type = "Customer_Identifier_Type" maxOccurs = "unbounded"/>
					</xsd:sequence>
					<xsd:attribute name = "type_name" fixed = "Customer_Identifier_List" type = "xsd:string"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name = "Professional_Specialty_List" minOccurs = "0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name = "Professional_Specialty" type = "Professional_Specialty_Type" maxOccurs = "unbounded"/>
					</xsd:sequence>
					<xsd:attribute name = "type_name" fixed = "Professional_Specialty_List" type = "xsd:string"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name = "Professional_Education_List" minOccurs = "0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name = "Professional_Education" type = "Professional_Education_Type" maxOccurs = "unbounded"/>
					</xsd:sequence>
					<xsd:attribute name = "type_name" fixed = "Professional_Education_List" type = "xsd:string"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name = "State_License_List" minOccurs = "0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name = "State_License" type = "State_License_Type" maxOccurs = "unbounded"/>
					</xsd:sequence>
					<xsd:attribute name = "type_name" fixed = "State_License_List" type = "xsd:string"/>
				</xsd:complexType>
			</xsd:element>
		</xsd:all>
		<xsd:attribute name = "operation" default = "NONE" type = "xtd:operationType"/>
		<xsd:attribute name = "objectId" type = "xsd:string"/>
		<xsd:attribute name = "type_name" fixed = "Professional" type = "xsd:string"/>
	</xsd:complexType>
	<xsd:complexType name = "Professional_Insert_Type">
		<xsd:complexContent>
			<xsd:restriction base = "Professional_Type">
				<xsd:all>
					<xsd:element name = "Customer_ID" type = "xtd:Number16"/>
					<xsd:element name = "Professional_Type" type = "xtd:Prof_Type_Code"/>
					<xsd:element name = "Professional_Subtype" type = "xtd:Prof_Subtype_Code" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "First_Name" type = "xtd:String200"/>
					<xsd:element name = "Middle_Name" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "Last_Name" type = "xtd:String200"/>
					<xsd:element name = "Second_Last_Name" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "Salutation_Name" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "Title" type = "xtd:Prof_Title_Code" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "Professional_Suffix" type = "xtd:Prof_Suffix_Code" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "Contact_Suffix" type = "xtd:Contact_Suffix_Code" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "Gender" type = "xtd:Gender_Code" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "Birth_Day" type = "xtd:Number9" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "Birth_Month" type = "xtd:Number9" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "Birth_Year" type = "xtd:Number9" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "Patients_Per_Day" type = "xtd:Patients_Per_Day_Code" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "Speaker_Status" type = "xtd:Speaker_Status_Code" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "Appointment_Required" type = "xtd:Appt_Required_Code" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "Call_Class" type = "xtd:Call_Class_Code" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "Status_Reason" type = "xtd:Prof_Status_Reason_Code" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "Sampling_Validation_Status" type = "xtd:Smpl_Validation_Status_Code" nillable = "true" minOccurs = "0"/>
          <xsd:element name = "Validation_Status" type = "xtd:Validation_Status_Code" nillable = "true" minOccurs = "0"/>
          <xsd:element name ="Validation_Change_Reason" type ="xtd:Validation_Change_Reason" nillable ="true" minOccurs ="0"/>
					<xsd:element name = "Activity_Status" type = "xtd:Activity_Status_Code"/>
					<xsd:element name = "Effective_Date" type = "xtd:dateTimeStringType" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "End_Date" type = "xtd:dateTimeStringType" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "Data_Source" type = "xtd:Data_Source_Code" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "Customer_Master_ID" type = "xtd:Number16" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "Master_Identifier" type = "xtd:Number16" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "Optout_Indicator" type = "xtd:Optout_Indicator_Code" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "Optout_Date" type = "xtd:dateTimeStringType" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "Optout_Change_Date" type = "xtd:dateTimeStringType" nillable = "true" minOccurs = "0"/>
					<xsd:element name = "Global_Identifier_Map_List" minOccurs = "0">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name = "Global_Identifier_Map" type ="Global_Identifier_Map_Type" maxOccurs = "unbounded"/>
							</xsd:sequence>
							<xsd:attribute name = "type_name" fixed = "Global_Identifier_Map_List" type = "xsd:string"/>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name = "Address_List" minOccurs = "0">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name = "Address" type = "Address_Type" maxOccurs = "unbounded"/>
							</xsd:sequence>
							<xsd:attribute name = "type_name" fixed = "Address_List" type = "xsd:string"/>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name = "Communication_List" minOccurs = "0">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name = "Communication" type = "Communication_Type" maxOccurs = "unbounded"/>
							</xsd:sequence>
							<xsd:attribute name = "type_name" fixed = "Communication_List" type = "xsd:string"/>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name = "Customer_Identifier_List" minOccurs = "0">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name = "Customer_Identifier" type = "Customer_Identifier_Type" maxOccurs = "unbounded"/>
							</xsd:sequence>
							<xsd:attribute name = "type_name" fixed = "Customer_Identifier_List" type = "xsd:string"/>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name = "Professional_Specialty_List" minOccurs = "0">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name = "Professional_Specialty" type = "Professional_Specialty_Type" maxOccurs = "unbounded"/>
							</xsd:sequence>
							<xsd:attribute name = "type_name" fixed = "Professional_Specialty_List" type = "xsd:string"/>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name = "Professional_Education_List" minOccurs = "0">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name = "Professional_Education" type = "Professional_Education_Type" maxOccurs = "unbounded"/>
							</xsd:sequence>
							<xsd:attribute name = "type_name" fixed = "Professional_Education_List" type = "xsd:string"/>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name = "State_License_List" minOccurs = "0">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name = "State_License" type = "State_License_Type" maxOccurs = "unbounded"/>
							</xsd:sequence>
							<xsd:attribute name = "type_name" fixed = "State_License_List" type = "xsd:string"/>
						</xsd:complexType>
					</xsd:element>
				</xsd:all>
				<xsd:attribute name = "operation" default = "NONE" type = "xtd:operationType"/>
				<xsd:attribute name = "objectId" type = "xsd:string"/>
				<xsd:attribute name = "type_name" fixed = "Professional" type = "xsd:string"/>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>