web/xml/XMLSchema/Sample XSD Files/Survey_Question.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://schemas.dendrite.com/IS/1.0.0/Survey_Question"
	 targetNamespace = "http://schemas.dendrite.com/IS/1.0.0/Survey_Question"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 xmlns:xtd = "http://schemas.dendrite.com/IS/1.0.0/XTDataTypes"
	 elementFormDefault = "unqualified">
	<xsd:import namespace = "http://schemas.dendrite.com/IS/1.0.0/XTDataTypes" schemaLocation = "XTDataTypes.xsd"/>
	<!--
		W3C XML Schema Generated using Xtelligent Schema generator.
		Date: Wed May 12 14:20:58 PDT 2004-->
	
	<xsd:element name = "Survey_Question" type = "Survey_Question_Type"/>
	<xsd:complexType name = "Survey_Question_Type">
		<xsd:all>
			<xsd:element name = "Survey_Question_ID" type = "xtd:Number16"/>
			<xsd:element name = "Sales_Area_ID" type = "xtd:Number16" minOccurs = "0"/>
			<xsd:element name = "Survey_End_Date" type = "xtd:dateTimeStringType" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Question_Text" type = "xtd:String2000" minOccurs = "0"/>
			<xsd:element name = "Customer_Type" type = "xtd:Customer_Type_Code" minOccurs = "0"/>
			<xsd:element name = "Last_Updated" type = "xtd:dateTimeStringType" minOccurs = "0"/>
			<xsd:element name = "Shared" type = "xtd:Shared_Code" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Comment" type = "xtd:String2000" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "External_ID_1" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
			<xsd:element name = "Survey_Respone_list" minOccurs = "0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name = "Survey_Respone" maxOccurs = "unbounded">
							<xsd:complexType>
								<xsd:all>
									<xsd:element name = "Survey_Response_ID" type = "xtd:Number16"/>
									<xsd:element name = "Survey_Question_ID" type = "xtd:Number16" minOccurs = "0"/>
									<xsd:element name = "Response_Text" type = "xtd:String2000" minOccurs = "0"/>
									<xsd:element name = "External_ID_1" type = "xtd:String200" nillable = "true" minOccurs = "0"/>
								</xsd:all>
								<xsd:attribute name = "operation" default = "NONE" type = "xtd:operationType"/>
								<xsd:attribute name = "objectId" type = "xsd:string"/>
								<xsd:attribute name = "type_name" fixed = "Survey_Respone" type = "xsd:string"/>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
					<xsd:attribute name = "type_name" fixed = "Survey_Respone_List" type = "xsd:string"/>
				</xsd:complexType>
			</xsd:element>
		</xsd:all>
		<xsd:attribute name = "operation" default = "NONE" type = "xtd:operationType"/>
		<xsd:attribute name = "objectId" type = "xsd:string"/>
		<xsd:attribute name = "type_name" fixed = "Survey_Question" type = "xsd:string"/>
	</xsd:complexType>
</xsd:schema>